
<ul class="nav-header pull-right">
  <li>
    <div class="btn-group dropdown-user">
      <button class="btn btn-link text-white dropdown-toggle" data-toggle="dropdown" type="button"> <img src="assets/img/avatars/image.png" alt=""> </button>
      <ul class="dropdown-menu dropdown-menu-right sidebar-mini-hide font-s13">
        <li><a data-toggle="theme" data-theme="default" tabindex="-1" href="javascript:void(0)"> <i class="icon-user-plus"></i> My profile</a></li>
        <li><a data-toggle="theme" data-theme="default" tabindex="-1" href="javascript:void(0)"><span class="badge badge-warning pull-right">58</span> <i class="icon-comment-discussion"></i> Messages</a></li>
        <li class="divider"></li>
        <li><a href="#"><i class="icon-cog5"></i> Account settings</a></li>
        <li><a href="#"><i class="icon-switch2"></i> Logout</a></li>
      </ul>
    </div>
  </li>
  <li class="hidden-md hidden-lg">
    <button class="btn btn-link text-white pull-right" data-js-toggle-class="{target: '.js-nav-main-header', class: 'nav-main-header-o'}" type="button"> <i class="fa fa-navicon"></i> </button>
  </li>
</ul>
<ul class="js-nav-main-header nav-main-header pull-right">
  <li class="hidden-md hidden-lg clearfix push-20">
    <button class="btn btn-link text-white pull-right" data-js-toggle-class="{target: '.js-nav-main-header', class: 'nav-main-header-o'}" type="button"> <i class="fa fa-times"></i> </button>
    <a href="index.php" class="logo"> <img src="assets/img/logo.png" alt=""/></a> </li>
  <li> <a data-ui-sref="dashboard" data-ui-sref-active="active"> <i class="si si-speedometer"></i> <span class="sidebar-mini-hide">Dashboard</span> </a> </li>
  <li> <a class="nav-submenu" href="javascript:void(0)">UI Elements</a>
    <ul>
  
      <li> <a data-ui-sref="uiBlocksDraggable" data-ui-sref-active="active">Blocks</a> </li>
      <li> <a data-ui-sref="uiActivity" data-ui-sref-active="active">Progress</a> </li>
      <li> <a data-ui-sref="uiActivity" data-ui-sref-active="active">Progress</a> </li>
      <li> <a data-ui-sref="uiTabs" data-ui-sref-active="active">Tabs</a> </li>
      <li> <a data-ui-sref="uiModalsTooltips" data-ui-sref-active="active">Modals &amp; Tooltips</a> </li>
    </ul>
  </li>
  <li> <a class="nav-submenu" href="javascript:void(0)">Forms</a>
  
  <ul>
                        <li>
                            <a data-ui-sref="formsPickersMore" data-ui-sref-active="active">Pickers &amp; More</a>
                        </li>
                        <li>
                            <a data-ui-sref="formsEditors" data-ui-sref-active="active">Text Editors</a>
                        </li>
                        <li>
                            <a data-ui-sref="formsValidation" data-ui-sref-active="active">Validation</a>
                        </li>
                        <li>
                            <a data-ui-sref="formsWizard" data-ui-sref-active="active">Wizard</a>
                        </li>
                    </ul>
	</li>                  
                    
  <li> <a class="nav-submenu" href="javascript:void(0)">Components</a>
    <ul>
      <li> <a data-ui-sref="compCalendar" data-ui-sref-active="active">Calendar</a> </li>
      <li> <a data-ui-sref="compScrolling" data-ui-sref-active="active">Scrolling</a> </li>
      <li> <a data-ui-sref="compSliders" data-ui-sref-active="active">Sliders</a> </li>
      <li> <a data-ui-sref="compTreeview" data-ui-sref-active="active">Tree View</a> </li>
      <li> <a data-ui-sref="compRating" data-ui-sref-active="active">Rating</a> </li>
    </ul>
  </li>
  <li> <a data-ui-sref="tablesDatatables" data-ui-sref-active="active">DataTables</a></li>
</ul>
<ul class="nav-header pull-left">
  <li class="logo"> <a href="index.php"> <img src="assets/img/logo.png" alt=""/></a> </li>
</ul>
