<ul class="nav-header pull-right">
  <li class="dropdown" ng-if="(Auth && (Auth.hasResourceRole('coord'))) || (Auth && (Auth.hasResourceRole('doctor'))) || (Auth && (Auth.hasResourceRole('patient')))">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
      <i class="icon-bell2 text-white"></i>
      <span class="badge badge-gray">{{noti_length}}</span>
    </a>
    <ul class="dropdown-menu dropdown-menu-right notify-drop">

      <div class="notify-drop-title">
        <div class="row">
          <div class="col-md-6 col-sm-6 col-xs-6" ng-if="noti_length">Notifications (<strong>{{noti_length}}</strong>)</div>
          <div class="col-md-6 col-sm-6 col-xs-6 text-right">
            <a href="" class="rIcon allRead" data-tooltip="tooltip" data-placement="bottom" title="Close">
              <i class="icon-close2"></i>
            </a>
          </div>
        </div>
      </div>
      <!-- end notify title -->
      <!-- notify content -->
      <div class="drop-content" data-js-slimscroll="{alwaysVisible: true, height: '280px'}">
        <li ng-repeat="noti in notifications">
          <div class="col-md-3 col-sm-3 col-xs-3">
            <div class="bg-shots text-white notify-img">
              <i class="icon-bell2"></i>
            </div>
          </div>
          <div class="col-md-9 col-sm-9 col-xs-9 pd-l0">
            <span ng-if="noti.status == true ">
              <!-- ng-click="redirectNotification(noti)" -->
              <p>
                <div class="title">{{noti.title}}</div>
                <span class="rIcon">{{noti_date}}</span>
                <p>{{noti.text}}</p>
              </p>
            </span>
            <span ng-if="noti.status == false ">
              <!-- ng-click="redirectNotification(noti)" -->
              <p>
                <div class="title">{{noti.title}}</div>
                <span class="rIcon">{{noti_date}}</span>
                <p ng-click="redirectNotification(noti)">
                  <strong>{{noti.text}}</strong>
                </p>
              </p>
            </span>
          </div>
        </li>
      </div>
      </div>
      <div class="notify-drop-footer text-center">
        <a href="" data-ui-sref="viewAllNotifications"><i class="fa fa-eye"></i> View All Notifications</a>
      </div>
      </div>
    </ul>
  </li>
  <li>
    <div class="btn-group dropdown-user">
      <button class="btn btn-link text-white dropdown-toggle" data-toggle="dropdown" type="button">
        <img src="assets/img/avatars/image.png" alt="" /> </button>
      <ul class="dropdown-menu dropdown-menu-right sidebar-mini-hide font-s13">
        <li ng-if="(Auth && (Auth.hasResourceRole('coord'))) || (Auth && (Auth.hasResourceRole('doctor'))) || (Auth && (Auth.hasResourceRole('patient')))">
          <a data-toggle="theme" data-theme="default" tabindex="-1" href="javascript:void(0)">
            <i class="icon-user-plus"></i> {{loggedInDetails.docName}} {{loggedInDetails.name}}
            {{loggedInDetails.fName}}
            ({{loggedInDetails.id}} {{loggedInDetails.opCode}} {{loggedInDetails.docId}})</a>
        </li>
        <li ng-if="(Auth && (Auth.hasResourceRole('marketing')))">
          <a data-toggle="theme" data-theme="default" tabindex="-1" href="javascript:void(0)">
            <i class="icon-user-plus"></i> Marketing Department</a>
        </li>
        <!-- <li>
          <a data-toggle="theme" data-theme="default" tabindex="-1" href="javascript:void(0)">
            <span class="badge badge-warning pull-right">58</span>
            <i class="icon-comment-discussion"></i> Messages</a>
        </li> -->
        <li class="divider"></li>
        <!-- <li>
          <a href="#">
            <i class="icon-cog5"></i> Account settings</a>
        </li> -->
        <li>
          <a href="javascript:void(0)" ng-click="sessionLogOut()">
            <i class="icon-switch2"></i> Logout</a>
        </li>
      </ul>
    </div>
  </li>
</ul>
<div class="menu-top">
  <div class="navbar-header">
    <button type="button" data-toggle="collapse" data-target="#navbar-collapse-2" class="navbar-toggle">
      <i class="fa fa-navicon"></i>
    </button>
    <a href="javascript:void(0)" class="navbar-brand">
      <img src="assets/img/psgh.png" alt="" />
    </a>
  </div>
  <div id="navbar-collapse-2" class="navbar-collapse collapse">
    <ul class="nav navbar-nav">
      <li ng-if="(Auth && (Auth.hasResourceRole('coord'))) || (Auth && (Auth.hasResourceRole('doctor')))">
        <a data-ui-sref="patient" data-ui-sref-active="active"  data-toggle="collapse" data-target=".navbar-collapse.in">
          <i class="si si-speedometer"></i>
          <span class="sidebar-mini-hide">Dashboard</span>
        </a>
      </li>
      <li ng-if="(Auth && (Auth.hasResourceRole('patient')))">
        <a ui-sref="patientProfile({id:Auth.tokenParsed.preferred_username})" data-ui-sref-active="active" data-toggle="collapse" data-target=".navbar-collapse.in">
          <i class="si si-speedometer"></i>
          <span class="sidebar-mini-hide">Dashboard</span>
        </a>
      </li>
      <!-- <li ng-if="Auth && (Auth.hasResourceRole('coord'))" class="dropdown">
        <a href="javascript:void(0)" data-toggle="dropdown" class="dropdown-toggle">
          <i class="icon-key prefix"></i>Portal Access
          <i class=" icon-arrow-down12"></i>
        </a>
        <ul class="dropdown-menu">
          <li>
            <div class="menu-top-content megamenu clearfix">
              <ul class="col-lg-12 link-list">
                <li>
                  <a data-ui-sref="patientOnboard" data-ui-sref-active="active">
                    <i class="fa fa-arrow-circle-right"></i>Grant Access</a>
                </li>
                <li>
                  <a data-ui-sref="patientsActiveList" data-ui-sref-active="active">
                    <i class="fa fa-arrow-circle-right"></i>List of Active Patients</a>
                </li>
                <li>
                  <a href="javascript:void(0)" data-ui-sref="labCrud" data-ui-sref-active="active">
                    <i class="fa fa-arrow-circle-right"></i>Revoke Access</a>
                </li>
              </ul>
            </div>
          </li>
        </ul>
      </li> -->


      <!-- <li> <a data-ui-sref="patientMessaging" data-ui-sref-active="active"><i class="icon-comment-discussion"></i> <span
            class="sidebar-mini-hide">Messaging</span> </a>
      </li> -->

      <li class="dropdown" ng-if="(Auth && (Auth.hasResourceRole('doctor'))) || (Auth && (Auth.hasResourceRole('coord'))) || (Auth && (Auth.hasResourceRole('patient')))">
        <a href="javascript:void(0)" data-toggle="dropdown" class="dropdown-toggle" data-ui-sref-active="active">
          <i class="fa fa-calendar-check-o fa-1"></i> <span class="sidebar-mini-hide">Appointment<i class=" icon-arrow-down12"></i></span>
        </a>
        <ul class="dropdown-menu">
          <li>
            <div class="menu-top-content megamenu clearfix">
              <ul class="col-lg-12 link-list">
                <li>
                  <a class="nav-link" data-ui-sref="bookappointment" data-ui-sref-active="active" data-toggle="collapse"
                    data-target=".navbar-collapse.in">
                    <i class="fa fa-arrow-circle-right"></i>New Appointment</a>
                </li>
                <li>
                  <a class="nav-link" data-ui-sref="pastBookedAppointments" data-ui-sref-active="active" data-toggle="collapse"
                    data-target=".navbar-collapse.in">
                    <i class="fa fa-arrow-circle-right"></i>Booked Appointments</a>
                </li>
              </ul>
            </div>
          </li>
        </ul>
      </li>

      <li class="dropdown">
        <a href="javascript:void(0)" data-toggle="dropdown" class="dropdown-toggle">
          <i class="icon-comment-discussion"></i> <span class="sidebar-mini-hide">Messaging<i class=" icon-arrow-down12"></i></span>
        </a>
        <ul class="dropdown-menu">
          <li>
            <div class="menu-top-content megamenu clearfix">
              <ul class="col-lg-12 link-list">
                <li ng-if="(Auth && (Auth.hasResourceRole('doctor'))) || (Auth && (Auth.hasResourceRole('coord'))) || (Auth && (Auth.hasResourceRole('marketing')))">
                  <a class="nav-link" data-ui-sref="sendMessageStep1" data-ui-sref-active="active" data-toggle="collapse"
                    data-target=".navbar-collapse.in">
                    <i class="fa fa-arrow-circle-right"></i>Send Message</a>
                </li>
                <li>
                  <a class="nav-link" data-ui-sref="viewMessage({id:All,from:0})" data-ui-sref-active="active"
                    data-toggle="collapse" data-target=".navbar-collapse.in">
                    <i class="fa fa-arrow-circle-right"></i>View Message</a>
                </li>
              </ul>
            </div>
          </li>
        </ul>
      </li>

      <li ng-if="Auth && (Auth.hasResourceRole('coord'))" class="dropdown">
        <a href="javascript:void(0)" data-toggle="dropdown" class="dropdown-toggle">
          <i class="icon-tree6 prefix"></i>Master Data
          <i class=" icon-arrow-down12"></i>
        </a>
        <ul class="dropdown-menu">
          <li>
            <div class="menu-top-content megamenu clearfix">
              <ul class="col-lg-12 link-list">
                <li>
                  <a class="nav-link" data-ui-sref="department_master" data-ui-sref-active="active" data-toggle="collapse"
                    data-target=".navbar-collapse.in">
                    <i class="fa fa-arrow-circle-right"></i>Departments</a>
                </li>
                <li>
                  <a class="nav-link" data-ui-sref="coordinator_master" data-ui-sref-active="active" data-toggle="collapse"
                    data-target=".navbar-collapse.in">
                    <i class="fa fa-arrow-circle-right"></i>Coordinators</a>
                </li>
                <li>
                  <a class="nav-link" data-ui-sref="doctorOnBoard" data-ui-sref-active="active" data-toggle="collapse"
                    data-target=".navbar-collapse.in">
                    <i class="fa fa-arrow-circle-right"></i>Doctors</a>
                </li>
                <li>
                  <a class="nav-link" data-ui-sref="singlepatientOnboard" data-ui-sref-active="active" data-toggle="collapse"
                    data-target=".navbar-collapse.in">
                    <i class="fa fa-arrow-circle-right"></i>Patients</a>
                </li>
                <li>
                  <a data-toggle="collapse" data-target=".navbar-collapse.in" data-ui-sref="labCrud"
                    data-ui-sref-active="active">
                    <i class="fa fa-arrow-circle-right"></i>Lab Tests</a>
                </li>
                <li>
                  <a data-toggle="collapse" data-target=".navbar-collapse.in" data-ui-sref="labCrud_testgroups"
                    data-ui-sref-active="active">
                    <i class="fa fa-arrow-circle-right"></i>Lab Groups</a>
                </li>
              </ul>
            </div>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</div>