        <div class="tab-pane fade" id="tab-tests">
                <div class="block-content">
                    <div class="row">
                        <div class="col-sm-12 col-md-6">
                            <div class="activity-boxes-w">
                                <div class="activity-box-w">
                                    <div class="activity-time">10 Min</div>
                                    <div class="activity-box">
                                        <div class="block1">
                                            <div class="box collapse in" id="addteststrigger">
                                                <a href="javascript:void(0)"
                                                    class="btn btn-default btn-xs pull-right"
                                                    data-toggle="collapse"
                                                    data-target="#addtests, #addteststrigger"><i
                                                    class="icon-plus-circle2 push-5-r"></i>Add Advised Lab
                                                    Results</a>
                                                <h3 class="box-title">Jul 4, 2017</h3>
                                                <p class="nodedesc">Lab Tests Advised by Dr. Anand
                                                    Babu (Department Name)</p>
                                            </div>
                                            <div id="addtests" class="collapse">
                                                <div class="box">
                                                    <div class="row">
                                                        <div class="col-sm-6"></div>
                                                        <div class="col-sm-6">
                                                            <div class="input-group">
                                                                <span class="input-group-addon"> <label>Date</label>
                                                                </span><input data-js-datepicker  class="form-control" type="text" id="Gdate" ng-init="inputVal='aVal'" data-date-end-date="0d" datepickerDate="GlobalTestDateTime"  name="example-datepicker1" data-date-format="dd-mm-yyyy" placeholder="Date for All Tests">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <table
                                                    class="table table-hover standard-table font-s14 js-dataTable-full remove-margin-b">
                                                    <thead>
                                                        <tr>
                                                            <th class="text-orange text-uppercase font-w600">Observation</th>
                                                            <th width="15%"
                                                                class="text-orange text-uppercase font-w600">Date</th>
                                                            <th width="15%"
                                                                class="text-orange text-uppercase font-w600">Value</th>
                                                            <th class="text-orange text-uppercase font-w600">Reference
                                                                Value</th>
                                                            <th class="text-orange text-uppercase font-w600">Unit</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody ng-repeat="grptests in labtestgrpdef.labTests">
                                                      <tr class="panel-heading">
                                                         <td colspan="5" class="font-w600 text-uppercase">{{grptests.labTest.group.groupName}}</td>
                                                       </tr>
                                                       <tr>
                                                         <td class="font-w600">{{grptests.labTest.testName}}</td>
                                                         <td class="font-w600">
                                                           <input data-js-datepicker class="form-control" type="text" id="testDateTime" data-date-end-date="0d" datepicker-date="grptests.testDateTime" data-date-format="dd-mm-yyyy" placeholder="dd-mm-yyyy"></td>
                                                         <td >
                                                           <input class="form-control" type="number" id="testValue" placeholder="" data-ng-model="grptests.testValue" ng-minlength="1" ng-maxlength="4"></td>
                                                         <td>{{}}</td>
                                                         <td >{{grptests.labTest.unit}}</td>
                                                       </tr>
                                                    </tbody>
                                                </table>
                                                <div class="box test-content border-top">
                                                    <div class="row">
                                                        <div class="col-sm-12">
                                                            <a href ="" ng-click="savefunc(labtestgrpdef)"
                                                                class="btn btn-primary btn-xs pull-right"
                                                                data-toggle="collapse"
                                                                data-target="#addtests, #addteststrigger"><i
                                                                class="icon-checkmark"></i> Save</a><a
                                                                href="javascript:void(0)"
                                                                class="btn btn-danger btn-xs pull-right push-10-r"
                                                                data-toggle="collapse"
                                                                data-target="#addtests, #addteststrigger"><i
                                                                class="icon-cross2"></i> Cancel</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="activity-box-w" ng-repeat="val in formattedDate">
                                    <div class="activity-time">10 Min</div>
                                    <div class="activity-box">
                                        <div class="block1" >
                                            <div class="box">
                                                <a href="javascript:void(0)" class="toggler pull-right"
                                                    data-toggle="collapse" ng-click="getLabTestsByDate($index)" data-target="#tests1{{$index}}"
                                                    aria-expanded="false"><i class="icon-plus2 push-10-r"></i></a>
                                                <h3 class="box-title">{{val}}</h3>
                                            </div>
                                            <div id="tests1{{$index}}" class="collapse">
                                                <table
                                                    class="table table-hover standard-table font-s14 js-dataTable-full remove-margin-b">
                                                    <thead>
                                                        <tr>
                                                            <th class="text-orange text-uppercase font-w600">Observation</th>
                                                            <th nowrap class="text-orange text-uppercase font-w600">Observed
                                                                Value</th>
                                                            <th nowrap class="text-orange text-uppercase font-w600">Reference
                                                                Value</th>
                                                            <th class="text-orange text-uppercase font-w600">Unit</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody ng-repeat="(key, val) in groups[$index]">
                                                        <th>{{key}}</th>
                                                        <tr  ng-repeat="labresult in val">
                                                            
                                                            <td
                                                                class="table  table-hover standard-table font-s14 js-dataTable-full nopad" >{{labresult.labTest.testName}}</td>
                                                            <td>{{labresult.testValue}}</td>
                                                            <td>&nbsp;</td>
                                                            <td
                                                                class="table  table-hover standard-table font-s14 js-dataTable-full nopad">{{labresult.labTest.unit}}</td>
                                                        </tr>
                                                    
                                                        <!-- <tr>
                                                            <td
                                                                class="table  table-hover standard-table font-s14 js-dataTable-full nopad">Potasium
                                                                (K+)</td>
                                                            <td>&nbsp;</td>
                                                            <td>&nbsp;</td>
                                                            <td
                                                                class="table  table-hover standard-table font-s14 js-dataTable-full nopad">mEq/L</td>
                                                        </tr>
                                                        <tr>
                                                            <td
                                                                class="table  table-hover standard-table font-s14 js-dataTable-full nopad">Chloride
                                                                (Cl-)</td>
                                                            <td>&nbsp;</td>
                                                            <td>&nbsp;</td>
                                                            <td
                                                                class="table  table-hover standard-table font-s14 js-dataTable-full nopad">mEq/L</td>
                                                        </tr>
                                                        <tr>
                                                            <td
                                                                class="table  table-hover standard-table font-s14 js-dataTable-full nopad">Bicarbonate
                                                                (HCO3)</td>
                                                            <td>&nbsp;</td>
                                                            <td>&nbsp;</td>
                                                            <td
                                                                class="table  table-hover standard-table font-s14 js-dataTable-full nopad">mmol/L</td>
                                                        </tr>
                                                        <tr>
                                                            <td
                                                                class="table  table-hover standard-table font-s14 js-dataTable-full nopad">Magensium
                                                                (MGS)</td>
                                                            <td>&nbsp;</td>
                                                            <td>&nbsp;</td>
                                                            <td
                                                                class="table  table-hover standard-table font-s14 js-dataTable-full nopad">mg/dL</td>
                                                        </tr>
                                                        <tr>
                                                            <td
                                                                class="table  table-hover standard-table font-s14 js-dataTable-full nopad">Calcium
                                                                (Ca+)</td>
                                                            <td>&nbsp;</td>
                                                            <td>&nbsp;</td>
                                                            <td
                                                                class="table  table-hover standard-table font-s14 js-dataTable-full nopad">mg/dL</td>
                                                        </tr>
                                                        <tr>
                                                            <td
                                                                class="table  table-hover standard-table font-s14 js-dataTable-full nopad">Phosphorous
                                                                (P-)</td>
                                                            <td>&nbsp;</td>
                                                            <td>&nbsp;</td>
                                                            <td
                                                                class="table  table-hover standard-table font-s14 js-dataTable-full nopad">mg/dL</td>
                                                        </tr> -->
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            <!-- 	<div class="activity-box-w">
                                    <div class="activity-time">10 Min</div>
                                    <div class="activity-box">
                                        <div class="block1">
                                            <div class="box">
                                                <a href="javascript:void(0)" class="toggler pull-right"
                                                    data-toggle="collapse" data-target="#tests2"><i
                                                    class="icon-plus2 push-10-r"></i></a>
                                                <h3 class="box-title">Jun 1, 2017</h3>
                                            </div>
                                            <div id="tests2" class="collapse"></div>
                                        </div>
                                    </div>
                                </div> -->
                                <!-- <div class="activity-box-w">
                                    <div class="activity-time">10 Min</div>
                                    <div class="activity-box">
                                        <div class="block1">
                                            <div class="box">
                                                <a href="javascript:void(0)" class="toggler pull-right"
                                                    data-toggle="collapse" data-target="#tests3"><i
                                                    class="icon-plus2 push-10-r"></i></a>
                                                <h3 class="box-title">Mar 15, 2017</h3>
                                            </div>
                                            <div id="tests3" class="collapse"></div>
                                        </div>
                                    </div>
                                </div> -->
                                <!-- <div class="activity-box-w">
                                    <div class="activity-time">10 Min</div>
                                    <div class="activity-box">
                                        <div class="block1">
                                            <div class="box">
                                                <a href="javascript:void(0)" class="toggler pull-right"
                                                    data-toggle="collapse" data-target="#tests4"><i
                                                    class="icon-plus2 push-10-r"></i></a>
                                                <h3 class="box-title">Feb 6, 2017</h3>
                                            </div>
                                            <div id="tests4" class="collapse"></div>
                                        </div>
                                    </div>
                                </div> -->
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6">
                            <div class="block block-white push-10-t block1">
                                <div class="box">
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <h3 class="box-title">
                                                <select data-js-select2 class="form-control input-xs"
                                                    id="testParameter" data-placeholder="Sodium">
                                                    <option>Sodium</option>
                                                    <option>Serum Electrolytes</option>
                                                    <option>Potassium</option>
                                                </select>
                                            </h3>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="input-group">
                                                <span class="input-group-addon"> <label>Date</label>
                                                </span> <input type="text" class="form-control"
                                                    placeholder="From" /> <span class="input-group-addon"
                                                    style="border-left: 0; border-right: 0;">-</span> <input
                                                    type="text" class="form-control" placeholder="To" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="block-content">
                                    <div class="js-flot-lab-stacked" style="height: 300px;"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>