<!-- Page Header -->

<!-- <ul class="breadcrumb">
  <li>Breadcrumb Home</li>
  <li>Breadcrumb Parent</li>
  <li>
    <a class="link-effect" href="">Breadcrumb Child</a>
  </li>
</ul> -->

<!-- END Page Header -->
<!-- Page Content -->
<div class="content">
  <div class="element-wrapper">
    <h4 class="element-header">Add Historical Lab Results</h4>
  </div>

  <div class="alert alert-success alert-white rounded" ng-show="successHistMsg" id="successMessage-div-histests" style="display:none">
    <button type="button" ng-click="hideAlert()" class="close">×</button>
    <div class="icon">
      <i class="fa fa-check"></i>
    </div>
    {{histSucMsg}}
  </div>

  <div class="alert alert-danger alert-white rounded" ng-show="errorHistMsg" id="errorMessage-div-histests" style="display:none">
    <button type="button" ng-click="hideAlert()" class="close">×</button>
    <div class="icon">
      <i class="fa fa-close"></i>
    </div>
    {{histErrMsg}}
  </div>
  <div ng-show="loader" colspan="5" align="center"> <i class="fa fa-refresh fa-spin fa-1x"></i> Loading... </div>
  <div class="block">
    <div class="box">
      <form id="hisDate">
        <div class="row">
          <div class="pull-left col-sm-3">
            <ui-select ng-model="doc.docReference" title="Doctor Name">
              <ui-select-match placeholder="Select Doctor Name">Dr. {{$select.selected.docName}}</ui-select-match>
              <ui-select-choices repeat="item in (allDoctors | filter: $select.search)">
                <div ng-bind="item.docName"></div>
              </ui-select-choices>
            </ui-select>
            <!-- <input class="form-control" type="text" id="docReference"  ng-model="docReference" placeholder="Enter Doctor Name"> -->
          </div>
          <div class="pull-right">
            <div class="form-inline">
              <input ng-flatpickr type="text" class="form-control" id="dateForAllTestHis" ng-model="date.dateForAllTestHis"
                ng-change="toSetGlobalHistDate(date.dateForAllTestHis)" placeholder="Date for all Tests" fp-opts="dateOpts1"/>
            </div>
          </div>
        </div>
      </form>
    </div>
    <form name="HisForm" id="HisForm">
      <table class="table  table-hover standard-table font-s14 js-dataTable-full nopad">
        <thead>
          <tr>
            <th class="text-orange text-uppercase font-w600">Groups and Tests</th>
            <th width="12%" class="alignc text-orange text-uppercase font-w600">Date</th>
            <th width="12%" class="alignc text-orange text-uppercase font-w600">Observed Value</th>
            <th width="12%" class="alignc text-orange text-uppercase font-w600" data-title="Normal Values">Reference
              Value</th>
            <th width="12%" class="alignc text-orange text-uppercase font-w600">Unit</th>
          </tr>
        </thead>
        <tbody ng-repeat="(key,value) in myArray">
          <tr class="panel-heading">
            <td data-title="Group" colspan="5" class="font-w600 text-uppercase">{{value.group}}</td>
          </tr>
          <tr ng-repeat="test in value.labTests track by $index">
            <td data-title="Test">{{test.testName}}</td>
            <td data-title="Date">
              <input ng-flatpickr class="form-control input-xs" type="text" ng-model="eachResultDate" id="dateOfTest{{key}}{{$index}}"
                ng-change="validateEachResultDate(test.testCode,eachResultDate)" fp-opts="dateOpts1"
                placeholder="dd-mm-yyyy" ng-class="{'duplicate-error': test.dup == 1}">
            </td>
            <td data-title="Observed Value">
              <input class="form-control input-xs" limit-to="6" type="number" id="testValHis" data-ng-model="test.testValHis"
                placeholder="">
            </td>
            <td data-title="Reference Value" ng-if="val.gender == patBioInfo.gender || val.gender == 'Common'"
              ng-repeat="val in test.labValidations">
              <span ng-show="val.normalValue">{{val.normalValue}}</span>
              <span ng-if="val.lowValue && val.highValue">{{val.lowValue}} to {{val.highValue}}</span>
            </td>
            <td data-title="Unit">{{test.unit}}</td>
          </tr>
        </tbody>
      </table>
    </form>
    <div class="box test-content border-top">
      <div class="row">
        <div class="col-sm-12">
          <a href="javascript:void(0)" class="add btn btn-default btn-xs" data-target="#modalForHlr" data-toggle="modal">
            <i class="icon-file-upload"></i>
            <span>Upload Lab Results</span>
          </a>
          <span ng-show="uploadFlagHlr">{{toShowFinalFilesHlrLength}} Files Uploaded!</span>
          <div ng-show="uploadFlagHlr" ng-repeat="file in toShowFinalFilesHlr">{{file.upload.filename}}</div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="form-group pull-left"></div>
    <div class="form-group pull-right">
      <div class="col-sm-12">
        <button class="btn btn-secondary push-10-r" ng-click="cancelUpload(); resetOfHistoricalResults()" type="submit">
          <i class="icon-close2 text-danger push-5-r"></i>Reset</button>
        <button class="btn btn-default  push-10-r" ng-click="historicalValidation(myArray)" data-toggle="modal" type="submit">
          <i class="icon-exclamation text-success push-5-r"></i>Submit Results</button>
      </div>
    </div>
    <div class="clearfix"></div>
    <!-- dropzone model for HL Results -->
    <div id="modalForHlr" class="modal">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title">Upload Lab Results</h4>
          </div>
          <div class="modal-body">
            <div class="alert alert-info alert-white rounded">
              <div class="icon">
                <i class="fa fa-info-circle"></i>
              </div>
              Even after entering the Lab Results, you still have to upload the Lab Report as proof. You can upload
              <strong>minimum 1 and maximum of 15 files. </strong> Supported file formats (jpeg/jpg/png/pdf) Upto 10
              MB.
            </div>
            <div class="row form-group">
              <div class="col-sm-12">
                <form id="myIdHlr" class="dropzone" action="index.html"></form>
                <div dz-error-message></div>
              </div>
            </div>
            <div class="row form-group">
              <div class="col-sm-12">
                <label for="descForUploads">Description</label>
                <textarea id="descForUploads" data-ng-model="descriptionHlr" placeholder="" class="form-control" rows="3"></textarea>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" ng-click="cancelUpload()" data-dismiss="modal">Cancel</button>
            <button type="button" data-ng-click="uploadFilesFun()" data-dismiss="modal" class="btn btn-primary">Add</button>
          </div>
        </div>
      </div>
    </div>

    <!-- END Page Content -->
  </div>
  <div id="submitModal" class="modal fade">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Alert</h4>
        </div>
        <div class="modal-body">
          Are you sure you want to Submit ?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" ng-click="saveHisLabTestResults(myArray)" data-dismiss="modal">YES</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">NO</button>
        </div>
      </div>
    </div>
  </div>
</div>