<div class="tab-pane fade" id="tab-tests">
	<div class="block-content">
		<!-- <div ng-show="table" class="row element-wrapper ">
			<div class="col-sm-12">
				<div class="block">
					<div class="box">
						<div class="row">
							<div class="col-sm-10">
								<ul class="nav nav-pills smaller pull-right">
									<li class="nav-item active"><a class="nav-link" data-toggle="tab" ng-click="getLatestResults()">All</a></li>
									<li class="nav-item" ng-repeat="mon in allMonths"><a class="nav-link" data-toggle="tab" ng-click="getResultsByMonth(mon)">{{mon}}</a></li>
								</ul>
							</div>
							<div class="col-sm-2">
								<input data-js-datepicker class="form-control input-xs" type="text" id="yearPickResults" placeholder="Select Year"
								 ng-model="selectedYear">
							</div>
						</div>
					</div>
					<table class="table table-hover standard-table font-s14 js-dataTable-full remove-margin-b">
						<thead>
							<tr>
								<th rowspan="2" width="10%" class="text-orange text-uppercase">Observation</th>
								<th rowspan="2" width="10%" class="text-orange text-uppercase">Reference Value</th>
								<th rowspan="2" width="10%" class="text-orange text-uppercase">Unit</th>
								<th colspan="31" class="text-orange text-uppercase center">Observed Value</th>
							</tr>
							<tr ng-hide="all">
								<th class="text-orange text-uppercase">01</th>
								<th class="text-orange text-uppercase">02</th>
								<th class="text-orange text-uppercase">03</th>
								<th class="text-orange text-uppercase">04</th>
								<th class="text-orange text-uppercase">05</th>
								<th class="text-orange text-uppercase">06</th>
								<th class="text-orange text-uppercase">07</th>
								<th class="text-orange text-uppercase">08</th>
								<th class="text-orange text-uppercase">09</th>
								<th class="text-orange text-uppercase">10</th>
								<th class="text-orange text-uppercase">11</th>
								<th class="text-orange text-uppercase">12</th>
								<th class="text-orange text-uppercase">13</th>
								<th class="text-orange text-uppercase">14</th>
								<th class="text-orange text-uppercase">15</th>
								<th class="text-orange text-uppercase">16</th>
								<th class="text-orange text-uppercase">17</th>
								<th class="text-orange text-uppercase">18</th>
								<th class="text-orange text-uppercase">19</th>
								<th class="text-orange text-uppercase">20</th>
								<th class="text-orange text-uppercase">21</th>
								<th class="text-orange text-uppercase">22</th>
								<th class="text-orange text-uppercase">23</th>
								<th class="text-orange text-uppercase">24</th>
								<th class="text-orange text-uppercase">25</th>
								<th class="text-orange text-uppercase">26</th>
								<th class="text-orange text-uppercase">27</th>
								<th class="text-orange text-uppercase">28</th>
								<th class="text-orange text-uppercase">29</th>
								<th class="text-orange text-uppercase">30</th>
								<th class="text-orange text-uppercase">31</th>
							</tr>
							<tr ng-show="all">
								<th ng-repeat="date in dateFormats track by $index" class="text-orange text-uppercase">{{date}}</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="lab in resultDays">
								<td data-title="Observation">{{lab.testName}}</td>
								<td data-title="Reference Value">{{lab.referenceValue}}</td>
								<td data-title="Unit">{{lab.unit}}</td>
								<td data-title='{{lab.resultDayValue[$index].actualDate}}' ng-repeat="val in lab.resultDayValue">{{val.resultValue}}</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div> -->
		<div ng-show="table" class="row element-wrapper ">
			<div class="col-xs-12">
				<div class="block">
					<div class="box">
						<div class="row">
							<div class="col-sm-10">
								<ul class="nav nav-pills smaller pull-right">
									<li class="nav-item"><a class="nav-link" ng-class="{'active': all }" data-toggle="tab" ng-click="getLatestResults()">All</a></li>
									<li class="nav-item" ng-repeat="mon in allMonths"><a class="nav-link" data-toggle="tab" ng-click="getResultsByMonth(mon)">{{mon}}</a></li>
								</ul>
							</div>
							<div class="col-sm-2">
								<input data-js-datepicker class="form-control input-xs" type="text" id="yearPickResults" placeholder="Select Year"
								 ng-model="selectedYear">
							</div>
						</div>
					</div>
					<div class="gantt-table-wrapper">
						<div class="gantt-sidebar">
							<table class="gantt-table">
								<thead>
									<tr>
										<th>OBSERVATION</th>
										<th>REFERENCE VALUE</th>
										<th>UNIT</th>
									</tr>
								</thead>
								<tbody>
									<tr ng-repeat="lab in resultDays" class="tr-parent tr-default-progress">
										<td data-title="Observation">{{lab.testName}}</td>
										<td data-title="Reference Value" class="text-center">{{lab.referenceValue}}</td>
										<td data-title="Unit" class="text-center">{{lab.unit}}</td>
									</tr>
								</tbody>
							</table>
						</div>
						<div class="gantt-container">
							<table class="table gantt-table table-hover  font-s14 remove-margin-b">
								<thead>
									<tr>
										<th colspan="31" class="text-orange text-uppercase center">Observed Value</th>
									</tr>
									<tr ng-hide="all" class="thead_day_height">
										<th class="text-orange text-uppercase">01</th>
										<th class="text-orange text-uppercase">02</th>
										<th class="text-orange text-uppercase">03</th>
										<th class="text-orange text-uppercase">04</th>
										<th class="text-orange text-uppercase">05</th>
										<th class="text-orange text-uppercase">06</th>
										<th class="text-orange text-uppercase">07</th>
										<th class="text-orange text-uppercase">08</th>
										<th class="text-orange text-uppercase">09</th>
										<th class="text-orange text-uppercase">10</th>
										<th class="text-orange text-uppercase">11</th>
										<th class="text-orange text-uppercase">12</th>
										<th class="text-orange text-uppercase">13</th>
										<th class="text-orange text-uppercase">14</th>
										<th class="text-orange text-uppercase">15</th>
										<th class="text-orange text-uppercase">16</th>
										<th class="text-orange text-uppercase">17</th>
										<th class="text-orange text-uppercase">18</th>
										<th class="text-orange text-uppercase">19</th>
										<th class="text-orange text-uppercase">20</th>
										<th class="text-orange text-uppercase">21</th>
										<th class="text-orange text-uppercase">22</th>
										<th class="text-orange text-uppercase">23</th>
										<th class="text-orange text-uppercase">24</th>
										<th class="text-orange text-uppercase">25</th>
										<th class="text-orange text-uppercase">26</th>
										<th class="text-orange text-uppercase">27</th>
										<th class="text-orange text-uppercase">28</th>
										<th class="text-orange text-uppercase">29</th>
										<th class="text-orange text-uppercase">30</th>
										<th class="text-orange text-uppercase">31</th>
									</tr>
									<tr ng-show="all" class="thead_month_height">
										<th ng-repeat="date in dateFormats track by $index" class="text-orange text-uppercase">{{date}}</th>
									</tr>
								</thead>
								<tbody>
									<tr ng-repeat="lab in resultDays">
										<td data-title='{{lab.resultDayValue[$index].actualDate}}' ng-repeat="val in lab.resultDayValue">{{val.resultValue}}</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- END Page Content -->
		<div ng-show="tree" class="row">
			<div class="col-sm-12 col-md-6">
				<div class="activity-boxes-w">
					<div ng-if="Auth && (Auth.hasResourceRole('coord'))" class="activity-box-w">
						<div class="activity-time">10 Min</div>
						<div class="activity-box">
							<div class="block1">
								<div class="box collapse in" id="addhistteststrigger">
									<a href="javascript:void(0)" class="btn btn-default btn-xs pull-right" data-ui-sref="addLabResults({id:opforHist})"
									 data-ui-sref-active="active" href="#!/historicalresults">
										<i class="icon-plus-circle2 push-5-r"></i>Add Historical Lab Results
									</a>
									<p class="nodedesc">Enter Patient Historical Lab Results</p>
								</div>
								<div id="addhisttests" class="collapse"></div>
							</div>
						</div>
					</div>
					<div ng-if="Auth && (Auth.hasResourceRole('patient')) || (Auth.hasResourceRole('coord'))" class="activity-box-w">
						<div class="activity-time">10 Min</div>
						<div class="activity-box">
							<div class="block1">
								<div class="box collapse in" id="addteststrigger">
									<a href="javascript:void(0)" class="btn btn-default btn-xs pull-right" ng-click="opencollapse()">
										<i class="icon-plus-circle2 push-5-r"></i>Add Advised Lab Results
									</a>
									<h3 class="box-title">{{currdate}}</h3>
									<p class="nodedesc">Lab Tests Advised By Dr. {{labtestgrpdef.doctor.docName}}
										({{labtestgrpdef.doctor.department.name}}
										Department)</p>
								</div>
								<div id="addtests" class="collapse">
									<form name="tests" id="tests">
										<div class="box" id="topBoxLabTest">
											<div class="row">
												<div class="col-sm-6"></div>
												<div class="col-sm-6">

													<div class="input-group">
														<span class="input-group-addon">
															<label>Date</label>
														</span>
														<form id="labResultEntryDate">
															<div class="form-group">
																<div>
																	<input ng-flatpickr type="text" class="form-control" name="dateForAllTest" id="dateForAllTest"
																	 ng-model="date.dateForAllTest" placeholder="Date for all Tests" fp-opts="dateOpts1" ng-change="toSetGlobalDate(date.dateForAllTest)" />
																	<!-- <input data-js-datepicker type="text" class="form-control" name="dateForAllTest" id="dateForAllTest"
																	 ng-model="dateForAllTest" ng-change="toSetGlobalDate()" data-date-start-date="-14d"
																	 data-date-end-date="0d" data-date-format="dd-mm-yyyy" placeholder="Date for all Tests" /> -->
																</div>
															</div>
														</form>
													</div>
												</div>
											</div>
										</div>
										<form id="labResultEntryTable" ng-if="Auth && (Auth.hasResourceRole('coord'))">
											<table id="labTestTable" class="table table-hover standard-table font-s14 js-dataTable-full remove-margin-b">
												<thead>
													<tr>
														<th class="text-orange text-uppercase">Observation</th>
														<th width="15%" class="text-orange text-uppercase">Date</th>
														<th width="15%" class="text-orange text-uppercase">Value</th>
														<th class="text-orange text-uppercase">Reference Value
														</th>
														<th class="text-orange text-uppercase">Unit</th>
													</tr>
												</thead>
												<tbody ng-repeat="addlabentry in labtestgrpdef.labTests track by $index">
													<tr class="panel-heading">
														<td data-title="Group Name" colspan="5" class="font-w600 text-uppercase">{{addlabentry.labTest.group.groupName}}</td>
													</tr>
													<tr class="table  table-hover standard-table font-s14 js-dataTable-full nopad">
														<td data-title="Observation">{{addlabentry.labTest.testName}}</td>
														<td data-title="Date">
															<input ng-flatpickr type="text" class="form-control input-xs" ng-class="{'duplicate-error': addlabentry.dup == 1}"
															 id="dateOfTest{{$index}}" placeholder="dd-mm-yyyy" fp-opts="dateOpts1" ng-model="eachResultDate"
															 ng-change="validateEachResultDate(addlabentry.labTest.testCode,eachResultDate)">
														</td>
														<td data-title="Value">
															<input limit-to="5" class="form-control input-xs" type="number" data-ng-model="addlabentry.testVal" id="testVal"
															 placeholder="">
														</td>
														<td data-title="Reference Value" ng-if="validation.gender == patBio.gender || validation.gender == 'Common'"
														 ng-repeat="validation in addlabentry.labTest.labValidations">
															<span ng-show="validation.normalValue">{{validation.normalValue}}</span>
															<span ng-if="validation.lowValue && validation.highValue">{{validation.lowValue}} -
																{{validation.highValue}}</span>
														</td>
														<td data-title="Unit">{{addlabentry.labTest.unit}}</td>
													</tr>
												</tbody>
											</table>
										</form>
										<form id="labResultEntryTable" ng-if="Auth && (Auth.hasResourceRole('patient'))">
											<table id="labTestTable" class="table table-hover standard-table font-s14 js-dataTable-full remove-margin-b">
												<thead>
													<tr>
														<th class="text-orange text-uppercase">Test Group</th>
														<th class="text-orange text-uppercase">Advised Lab Tests</th>
														<th class="text-orange text-uppercase">Notes</th>
													</tr>
												</thead>
												<tbody ng-repeat="addlabentry in labtestgrpdef.labTests track by $index">
													<!-- <tr class="panel-heading">
														<td data-title="Group Name" colspan="5" class="font-w600 text-uppercase">{{addlabentry.labTest.group.groupName}}</td>
													</tr> -->
													<tr class="table  table-hover standard-table font-s14 js-dataTable-full nopad">
														<td data-title="Test Group">{{addlabentry.labTest.group.groupName}}</td>
														<td data-title="Test Name">{{addlabentry.labTest.testName}}</td>
														<td data-title="Notes">{{addlabentry.notes}}</td>
													</tr>
												</tbody>
											</table>
										</form>
										<div id="downBoxLabTest" class="box test-content border-top">
											<div class="row">
												<div class="col-sm-12">
													<a href="javascript:void(0)" id="uploadbtn" class="add btn btn-default btn-xs" ng-click="openUploadModal()"
													 data-toggle="modal">
														<i class="icon-file-upload"></i>
														<span>Upload Lab Results</span>
													</a>
													<span ng-show="uploadFlag">{{toShowFinalFilesLength}} Files Uploaded!</span>
													<div ng-show="uploadFlag" ng-repeat="file in toShowFinalFiles">{{file.upload.filename}}</div>
													<a ng-disabled="flag_lab" ng-if="Auth && (Auth.hasResourceRole('coord'))" ng-click="validateLabResults(labtestgrpdef)"
													 class="btn btn-primary btn-xs pull-right" data-toggle="modal"><i class="icon-checkmark"></i> Save
													</a>
													<a ng-disabled="flag_lab" ng-if="Auth && (Auth.hasResourceRole('patient'))" ng-click="validateLabResults()"
													 class="btn btn-primary btn-xs pull-right" data-toggle="modal"><i class="icon-checkmark"></i> Submit
													</a>
													<a ng-disabled="flag_lab" href="javascript:void(0)" class="btn btn-danger btn-xs pull-right push-10-r"
													 data-toggle="modal" data-target="#closeModaloflabresult">
														<i class="icon-cross2"></i> Cancel</a>
												</div>
											</div>
										</div>
									</form>
								</div>
							</div>
						</div>
					</div>
					<!-- <div ng-if="ifNoRes" class="text-center">
						<span style="color: red;">{{ifNoRes}}</span>
					</div> -->
					<div class="activity-box-w" ng-repeat="val in formattedDate | limitTo:nodeLimitLR">
						<div class="activity-time">10 Min</div>
						<div class="activity-box">
							<div class="block1">
								<div class="box">
									<a href="javascript:void(0)" class="toggler pull-right" data-toggle="collapse" ng-click="getLabTestsByDate($index)"
									 data-target="#tests1{{$index}}" aria-expanded="{{$first}}">
										<i class="icon-plus2 push-10-r"></i>
									</a>
									<h3 class="box-title">{{val}}</h3>
									<!-- <p class="nodedesc" ng-show="labResDoctor{{$index}}">Advised Lab Test by Dr. {{labResDoctor[$index]}} </p> -->
								</div>
								<div id="tests1{{$index}}" class="collapse" ng-class="{'in': $index == 0}">
									<table class="table table-hover standard-table">
										<thead>
											<tr>
												<th class="text-orange text-uppercase font-w600">Observation</th>
												<th nowrap class="text-orange text-uppercase font-w600">Observed Value
												</th>
												<th nowrap class="text-orange text-uppercase font-w600">Reference Value
												</th>
												<th class="text-orange text-uppercase font-w600">Unit</th>
											</tr>
										</thead>
										<tbody ng-repeat="val in labTestsByDate[$index]">
											<tr>
												<td data-title="Observation">{{val.labTest.testName}}</td>
												<td data-title="Observed Value">{{val.testValue}}</td>
												<td ng-hide="val.labTest.labValidations.length > 0" data-title="Reference Value">NA</td>
												<td data-title="Reference Value" ng-if="validation.gender == patBio.gender || validation.gender == 'Common'"
												 ng-repeat="validation in val.labTest.labValidations">
													<span ng-show="validation.normalValue">{{validation.normalValue}}</span>
													<span ng-if="validation.lowValue && validation.highValue">{{validation.lowValue}} -
														{{validation.highValue}}</span>
												</td>
												<td data-title="Unit">{{val.labTest.unit}}</td>
											</tr>
										</tbody>
									</table>
									<table class="table table-hover standard-table font-s14 js-dataTable-full remove-margin-b">
										<thead ng-if="showFiles">
											<th class="text-orange text-uppercase font-w600">Attached lab reports</th>
											<th nowrap class="text-orange text-uppercase font-w600">Description</th>
										</thead>
										<tbody ng-if="showFiles">
											<tr ng-repeat="file in labTestsByDate[$index].filesAssociated">
												<td data-title="Attached reports">
													<a ng-click="getFile(file.id)">{{file.fileName}}</a>&nbsp;<i class="icon-file-download"></i>
												</td>
												<td data-title="Description" ng-if="file.description">
													{{file.description}}
												</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="text-center">
					<button class="btn btn-default" ng-if="showLoadMoreRes == 1" ng-click="loadMoreResults()">Load More</button>
				</div>
			</div>
			<dir-view-labtrends> </dir-view-labtrends>
		</div>
	</div>
	<div id="myModal" class="modal">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h4 class="modal-title">Upload Lab Results</h4>
				</div>
				<div class="modal-body">
					<div class="alert alert-info alert-white rounded">
						<div class="icon">
							<i class="fa fa-info-circle"></i>
						</div>
						Even after entering the Lab Results, you still have to upload the Lab Report as proof. You can upload
						<strong>minimum 1 and maximum of 15 files. </strong> Supported file formats (jpeg/jpg/png/pdf) Upto 10 MB.
					</div>
					<div class="row form-group">
						<div class="col-sm-12">
							<form id="myId" class="dropzone" action="index.html"></form>
							<div dz-error-message></div>
						</div>
					</div>
					<div class="row form-group">
						<div class="col-sm-12">
							<label for="descForUploads">Description</label>
							<textarea id="description" data-ng-model="description" placeholder="" class="form-control" rows="3"></textarea>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" ng-click="cancelUpload()" data-dismiss="modal">Cancel</button>
					<button type="button" ng-click="uploadFilesFun()" data-dismiss="modal" class="btn btn-primary">Add</button>
				</div>
			</div>
		</div>
	</div>
	<div id="submitModaloflabresult" class="modal fade">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h4 class="modal-title">Save Advised Lab Results</h4>
				</div>
				<div class="modal-body">
					Are you sure you want to save ?
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-primary" ng-click="savefunc(labtestgrpdef)" data-dismiss="modal">YES</button>
					<button type="button" class="btn btn-default" data-dismiss="modal">NO </button>
				</div>
			</div>
		</div>
	</div>
	<div id="closeModaloflabresult" class="modal fade">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h4 class="modal-title">Cancel Advised Lab Results</h4>
				</div>
				<div class="modal-body">
					Are you sure you want to cancel ?
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" ng-click="closecollapseoflabresult(); resetOfEnterResults(); cancelUpload()"
					 data-dismiss="modal">YES</button>
					<button type="button" class="btn btn-primary" data-dismiss="modal">NO </button>
				</div>
			</div>
		</div>
	</div>
	<div id="modalForImage" class="modal">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h4 class="modal-title">Image Preview</h4>
				</div>
				<div class="modal-body">
					<img id="imageModal" src="" class="imagepreview" style="width: 100%;">
				</div>
				<div class="modal-footer">
					<button type="button" data-dismiss="modal" class="btn btn-primary">Ok</button>
				</div>
			</div>
		</div>
	</div>
</div>