<div class="col-sm-12 col-md-6">
	<div class="block block-white push-10-t block1">
		<div class="box">
			<div class="row">
				<div class="col-sm-6">
					<h3 class="box-title">
						<ui-select id="testParameter" ng-if="booleanvar" data-placeholder="Select Test" ng-model="testName" ng-change="LabTrend(testName)">
							<ui-select-match data-placeholder="Select Test">{{$select.selected}}</ui-select-match>
							<ui-select-choices repeat="item in AllTests | filter: $select.search">
								<div ng-bind="item"></div>
							</ui-select-choices>
						</ui-select>
						<!-- <select data-js-select2 ng-if="booleanvar" id="testParameter" data-placeholder="Select Test" ng-options="test for test in AllTests"
						 ng-model="testName" required ng-change="LabTrend(testName)">
							<option value=" " disabled></option>
						</select> -->
					</h3>
				</div>
			</div>
		</div>
		<div class="block-content">
			<div zingchart id="myChart2" zc-json="labJson" zc-width="100%" style="height: 400px;"></div>
		</div>
	</div>
</div>