<!-- Page Header -->

<!-- <ul class="breadcrumb">
    <li>'Breadcrumb Home</li>
    <li>Breadcrumb Parent</li>
    <li><a class="link-effect" href="">Breadcrumb Child</a></li>
</ul> -->

<!-- END Page Header -->
<!-- Page Content -->
<div class="content">
    <div class="element-wrapper">
        <div class="element-actions">
            <button type="button" data-toggle="collapse" data-target=".sidebar-filter"
                class="navbar-toggle sidebar-filter-toggle hidden-md hidden-lg"><i class="fa fa-filter"></i></button>
        </div>
        <h4 class="element-header">View Notifications</h4>
    </div>
    <div class="row">
        <div class="col-lg-3">
            <div class="navbar-collapse collapse col-md-3 col-sm-3 sidebar-filter">
                <div class="block block-white">
                    <div class="sidebar-filter-title box"><span>Search</span>
                        <ul class="block-options pull-right">
                            <li>
                                <button type="button" data-js-block-option data-action="content_toggle"></button>
                            </li>
                        </ul>
                    </div>
                    <div class="block-content sidebar-filter-content">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Search Content, Title or Sender...">
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="button">Go</button>
                            </span> </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-9">
            <div class="block">
                <ul class="view-all-notifications">
                    <li ng-repeat="notify in notifications">
                        <div class="row">
                            <div class="col-md-3 col-sm-4">
                                <div class="datetime">{{notify.time}}<span class="author">{{notify.notifyFrom}}</span>
                                </div>
                            </div>
                            <div class="col-md-9 col-sm-8 col-xs-12">
                                <a href="javascript:void(0)"><span class="title">{{notify.title}}</span>
                                    <span class="rIcon">{{}}</span>
                                    <p>{{notify.text}}</p>
                                </a>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <!-- END Page Content -->
</div>