<!-- Page Header -->

<!-- <ul class="breadcrumb">
    <li>Breadcrumb Home</li>
    <li>Breadcrumb Parent</li>
    <li><a class="link-effect" href="">Breadcrumb Child</a></li>
  </ul> -->

<!-- END Page Header -->
<!-- Page Content -->
<div class="content">
    <div class="element-wrapper" ng-if="(Auth && (Auth.hasResourceRole('doctor'))) || (Auth && (Auth.hasResourceRole('coord')))">
        <!--     <div class="element-actions"><a class="btn btn-default btn-xs" href="#"><i class="icon-envelop3"></i><span>Send Email Invite to Selected Patients</span></a></div>-->
        <h4 class="element-header">Send Message to Patients</h4>
    </div>
    <div class="element-wrapper" ng-if="(Auth && (Auth.hasResourceRole('marketing')))">
        <!--     <div class="element-actions"><a class="btn btn-default btn-xs" href="#"><i class="icon-envelop3"></i><span>Send Email Invite to Selected Patients</span></a></div>-->
        <h4 class="element-header">Send Message to Departments</h4>
    </div>
    <div class="alert alert-success alert-white rounded" ng-show="sucMsg" id="successId" style="display:none">
        <button type="button" ng-click="hideAlert()" class="close">×</button>
        <div class="icon">
            <i class="fa fa-check"></i>
        </div>
        {{successMsg}}
    </div>
    <div class="alert alert-danger alert-white rounded" ng-show="errMsg" id="errId" style="display:none">
        <button type="button" ng-click="hideAlert()" class="close">×</button>
        <div class="icon">
            <i class="fa fa-close"></i>
        </div>
        {{errorMsg}}
    </div>
    <div class="steps clearfix" ng-if="(Auth && (Auth.hasResourceRole('doctor'))) || (Auth && (Auth.hasResourceRole('coord')))">
        <ul>
            <li class="first done" aria-disabled="false" aria-selected="true"><a ui-sref="sendMessageStep1"><span class="step">1</span>
                Recipients</a></li>
            <li class="current" aria-disabled="false"><a href="javascript:void(0)"><span class="step">2</span> Send Message</a></li>
        </ul>
    </div>
    <div class="steps clearfix" ng-if="(Auth && (Auth.hasResourceRole('marketing')))">
        <ul>
            <li class="first done" aria-disabled="false" aria-selected="true"><a ui-sref="sendMessageStep1"><span class="step">1</span>
                    Select Recipients Department to send the Message</a></li>
            <li class="current" aria-disabled="false"><a href="javascript:void(0)"><span class="step">2</span> Send Message</a></li>
        </ul>
    </div>
    <div class="block">
        <div class="block-content">
            <!-- <div class="col-sm-6">
                <label for="department">Associated Doctors</label>
                <ui-select class="form-control" multiple placeholder="Select Doctors" ng-model="newPatient.doctors">
                    <ui-select-match>{{ $item.docName }}</ui-select-match>
                    <ui-select-choices repeat="item in (departmentDoctors | filter: $select.search)">
                        <div ng-bind-html="item.docName | highlight: $select.search.docName"></div>
                    </ui-select-choices>
                </ui-select>
                <div id="doctorError"></div>
                <span class="help-block">Associated Doctors can view this Patient's Profile</span>
            </div> -->
            <div class="row form-group">
                <!-- <div class="col-sm-12">
                    <div class="block-content1" data-js-slimscroll="{alwaysVisible: true, height: '100px'}">
                        <label>Patients Selected to Receive the Message</label>
                        <br> <span ng-repeat="pat in selectedPatientsList">{{pat.patient.opCode}}({{pat.patient.fName}}),</span></div>
                </div> -->
                <div class="col-xs-12" ng-if="(Auth && (Auth.hasResourceRole('doctor'))) || (Auth && (Auth.hasResourceRole('coord')))">
                    <div class="block block-white patients_selected_sec">
                        <div class="box">
                            <h3 class="box-title">Patients Selected to Receive the Message</h3>
                        </div>
                        <div class="block-content" data-js-slimscroll="{alwaysVisible: true}">
                            <div class="news-feed">
                                <span ng-repeat="pat in selectedPatientsList track by $index">{{pat.opCode}}({{pat.fName}})<span
                                        ng-hide='$last'>,</span>
                                    <span ng-hide="selectedPatientsList.length > 0">Select patients to send..</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12" ng-if="Auth && (Auth.hasResourceRole('marketing'))">
                    <div class="block block-white patients_selected_sec">
                        <div class="box">
                            <h3 class="box-title">Departments Selected to Receive the Message</h3>
                        </div>
                        <div class="block-content" data-js-slimscroll="{alwaysVisible: true}">
                            <div class="news-feed">
                                <span ng-repeat="dep in selectedDepartmentList track by $index">{{dep.name}}({{dep.id}})<span
                                        ng-hide='$last'>,</span>
                                    <span ng-hide="selectedDepartmentList.length > 0">Select patients to send..</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row form-group">
                <div class="col-sm-12">
                    <label for="subject" class="required">Post Title</label>
                    <input type="text" ng-model="message.title" class="form-control" id="subject" placeholder="Title of the Post">
                </div>
            </div>

            <div class="row form-group">
                <div class="col-sm-12">
                    <label for="testCode" class="required">Message</label>
                    <div data-js-summernote id="summerNotes"></div>
                </div>
            </div>

            <!-- <div class="row form-group">
                <div class="col-sm-12">
                    <label for="subject">Post Link</label>
                    <tags-input name="tags" ng-model="message.linkTags" id="subject" placeholder="Link of the Post"></tags-input>
                </div>
            </div> -->

            <label for="subject">Drop Files Here</label>
            <div class="modal-body">
                <div class="row form-group">
                    <div class="col-sm-12">
                        <form data-js-dropzone id="messageDropzone" class="dropzone" action="index.html"></form>
                        <div dz-error-message></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="row">
        <div class="form-group pull-right">
            <div class="col-sm-12">
                <button class="btn btn-secondary push-10-r" ui-sref="sendMessageStep1" dat type="submit"><i class="icon-close2 text-danger push-5-r"></i>Cancel</button>
                <button class="btn btn-default" type="submit" ng-click="sendMessage()"><i class="icon-envelop3 push-5-r"></i>Send
                    Message
                </button>
            </div>
        </div>
        <div class="clearfix"></div>

        <!-- END Page Content -->
    </div>
</div>