<!-- Page Header -->

<!-- <ul class="breadcrumb">
    <li>Breadcrumb Home</li>
    <li>Breadcrumb Parent</li>
    <li><a class="link-effect" href="">Breadcrumb Child</a></li>
  </ul> -->

<!-- END Page Header -->
<!-- Page Content -->
<div class="content">
  <div class="element-wrapper" ng-if="(Auth && (Auth.hasResourceRole('doctor'))) || (Auth && (Auth.hasResourceRole('coord')))">
    <!--     <div class="element-actions"><a class="btn btn-default btn-xs" href="#"><i class="icon-envelop3"></i><span>Send Email Invite to Selected Patients</span></a></div>-->
    <h4 class="element-header">Send Message to Patients</h4>
  </div>
  <div class="element-wrapper" ng-if="(Auth && (Auth.hasResourceRole('marketing')))">
    <!--     <div class="element-actions"><a class="btn btn-default btn-xs" href="#"><i class="icon-envelop3"></i><span>Send Email Invite to Selected Patients</span></a></div>-->
    <h4 class="element-header">Send Message to Departments</h4>
  </div>
  <div class="alert alert-success alert-white rounded" ng-show="sucMsg" id="successId" style="display:none">
    <button type="button" ng-click="hideAlert()" class="close">×</button>
    <div class="icon">
      <i class="fa fa-check"></i>
    </div>
    {{successMsg}}
  </div>
  <div class="alert alert-danger alert-white rounded" ng-show="errMsg" id="errId" style="display:none">
    <button type="button" ng-click="hideAlert()" class="close">×</button>
    <div class="icon">
      <i class="fa fa-close"></i>
    </div>
    {{errorMsg}}
  </div>
  <div class="steps clearfix" ng-if="(Auth && (Auth.hasResourceRole('doctor'))) || (Auth && (Auth.hasResourceRole('coord')))">
    <ul>
      <li class="first current" aria-disabled="false" aria-selected="true"><a href="javascript:void(0)"><span class="current-info audible">current
            step: </span><span class="step">1</span> Recipients</a></li>
      <li class="disabled" aria-disabled="true"><a id="steps-uid-0-t-2" aria-controls="steps-uid-0-p-2"><span class="step">2</span>
          Send Message</a></li>
    </ul>
  </div>
  <div class="steps clearfix" ng-if="(Auth && (Auth.hasResourceRole('marketing')))">
    <ul>
      <li class="first current" aria-disabled="false" aria-selected="true"><a href="javascript:void(0)"><span class="current-info audible">current
            step: </span><span class="step">1</span> Select Departments to send the Message</a></li>
      <li class="disabled" aria-disabled="true"><a id="steps-uid-0-t-2" aria-controls="steps-uid-0-p-2"><span class="step">2</span>
          Send Message</a></li>
    </ul>
  </div>
  <div class="block remove-margin-b" ng-if="(Auth && (Auth.hasResourceRole('doctor'))) || (Auth && (Auth.hasResourceRole('coord')))">
    <div class="box">
      <div class="row element-wrapper">
        <div class="col-sm-8">
          <h3 class="box-title push-5-t">Patients List</h3>
        </div>
        <div class="col-sm-4">
          <div class="element-search">
            <input placeholder="Type Patient's OPCode" ng-change="searchPatient(searchText)" ng-model="searchText" type="text">
          </div>
        </div>
      </div>
    </div>
    <table class="table table-striped table-hover standard-table">
      <thead>
        <tr>
          <th><input type="checkbox" ng-model="all" name="checkboxMaster" id="checkboxMaster" ng-click="setAllAsRecipients()"></th>
          <th>Patient OP Code</th>
          <th>Patient Name</th>
          <th>Email Address</th>
          <th>Mobile Number</th>
          <th width="20%">Associated Doctors</th>
          <th>Department</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="pat in patientList | filter: searchText">
          <td width="1%" data-title="Select"><input ng-checked="all" ng-click="putInSendList(pat,$index)" type="checkbox"
              class="checkBoxClass" name="checkboxlocal{{$index}}" id="checkboxlocal{{$index}}"></td>
          <td data-title="OP Code">{{pat.patient.opCode}}</td>
          <td data-title="Patient Name"><a data-ui-sref="patientProfile({id:pat.patient.opCode})" href="javascript:void(0)">{{pat.patient.fName}}
              {{pat.patient.mName}} {{pat.patient.lName}}
            </a></td>
          <td data-title="Doctor Name">{{pat.patient.email}}</td>
          <td data-title="Mobile Number">{{pat.patient.mobileNo}}</td>
          <td data-title="Assign Doctors">
            <div ng-repeat="doc in pat.doctors">
              Dr.{{doc.docName}} {{doc.docLastName}}
            </div>
          </td>
          <td data-title="Department">{{pat.patient.department.name}}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="block remove-margin-b" ng-if="Auth && (Auth.hasResourceRole('marketing'))">
    <div class="box">
      <div class="row element-wrapper">
        <div class="col-sm-8">
          <h3 class="box-title push-5-t">Department List</h3>
        </div>
        <div class="col-sm-4">
          <div class="element-search">
            <input limit-to="25" placeholder="Type Department ID or Name" ng-model="searchText" type="text">
          </div>
        </div>
      </div>
    </div>
    <table class="table table-striped table-hover standard-table">
      <thead>
        <tr>
          <th><input ng-model="all" type="checkbox" name="checkbox" id="checkbox"></th>
          <th>Department ID</th>
          <th>Department Name</th>
          <th>Email Address</th>
          <th>Contact Number</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="dept in allDepartments | filter:searchText">
          <td data-title="Select" width="1%"><input ng-checked="all" ng-click="putInSendList(dept,$index)" type="checkbox"
              class="checkBoxClass" name="checkboxlocal{{$index}}" id="checkboxlocal{{$index}}"></td>
          <td data-title="Department Id">{{dept.id}}</td>
          <td data-title="Department Name"><a>{{dept.name}}</a></td>
          <td data-title="Department Email">{{dept.email}}</td>
          <td data-title="Contact Number">{{dept.contact}}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <!-- <div class="btn-group table-pagination push-30 pull-right" ng-if="(Auth && (Auth.hasResourceRole('doctor'))) || (Auth && (Auth.hasResourceRole('coord')))">
    <button type="button" class="btn btn-white" ng-click="getActivePatientsList((page-1) * 10)"><i class="fa fa-chevron-left"></i></button>
    <button class="btn btn-white" ng-repeat="page in pagesNeeded" ng-click="getActivePatientsList(page * 10)">{{page
      +1}}</button>
    <button type="button" class="btn btn-white" ng-click="getActivePatientsList((page+1) * 10)"><i class="fa fa-chevron-right"></i></button>
  </div> -->
  <div class="btn-group table-pagination push-30 pull-right" ng-if="(Auth && (Auth.hasResourceRole('doctor'))) || (Auth && (Auth.hasResourceRole('coord')))">
    <button type="button" ng-show="pagesNeeded.length > 1 && pageIn != 1" class="btn btn-white" ng-click="getActivePatientsList((pageIn-2) * 10,pageIn-1)"><i
        class="fa fa-chevron-left"></i></button>
    <button class="btn btn-white" ng-repeat="page in pagesNeeded track by $index" ng-class="{'active' : page == pageIn}"
      ng-click="getActivePatientsList((page-1) * 10,page)">{{page}}</button>
    <button type="button" ng-show="pagesNeeded.length > 1 && pageIn != pagesNeeded.length" class="btn btn-white"
      ng-click="getActivePatientsList(pageIn * 10,pageIn+1)"><i class="fa fa-chevron-right"></i>
    </button>
  </div>
  <div class="btn-group table-pagination push-30 pull-right" ng-if="Auth && (Auth.hasResourceRole('marketing'))">
    <button type="button" class="btn btn-white" ng-click="getDepartmentList((page-1) * 10)"><i class="fa fa-chevron-left"></i></button>
    <button class="btn btn-white" ng-repeat="page in pagesNeeded" ng-click="getDepartmentList(page * 10)">{{page +1}}</button>
    <button type="button" class="btn btn-white" ng-click="getDepartmentList((page+1) * 10)"><i class="fa fa-chevron-right"></i></button>
  </div>
  <div class="clearfix"></div>
  <div class="row">


    <div class="form-group pull-right">
      <div class="col-sm-12">
        <!-- data-ui-sref="sendMessageStep2" data-ui-sref-active="active" -->
        <!-- <button class="btn btn-secondary push-10-r" type="submit" ng-checked="all"><i class="icon-close2 text-danger push-5-r"></i>Cancel</button> -->
        <a ng-if="(Auth && (Auth.hasResourceRole('doctor'))) || (Auth && (Auth.hasResourceRole('coord')))" ng-click="getSelectedToSend()"><button
            class="btn btn-default">Next<i class="icon-arrow-right7 push-5-l"></i></button></a>
        <a ng-if="Auth && (Auth.hasResourceRole('marketing'))" ng-click="getSelectedDepartmentsToSend()"><button class="btn btn-default">Next<i
              class="icon-arrow-right7 push-5-l"></i></button></a>
      </div>
    </div>
    <div class="clearfix"></div>



    <!-- END Page Content -->
  </div>
</div>