<!-- Page Header -->

<!-- <ul class="breadcrumb">
  <li>Breadcrumb Home</li>
  <li>Breadcrumb Parent</li>
  <li><a class="link-effect" href="">Breadcrumb Child</a></li>
</ul> -->

<!-- END Page Header -->
<!-- Page Content -->
<div class="content">
  <div class="element-wrapper">
    <h4 class="element-header">Messages</h4>
  </div>
  <div class="alert alert-success alert-white rounded" ng-show="sucMsg" id="successId" style="display:none">
    <button type="button" ng-click="hideAlert()" class="close">×</button>
    <div class="icon">
      <i class="fa fa-check"></i>
    </div>
    {{successMsg}}
  </div>
  <div class="alert alert-danger alert-white rounded" ng-show="errMsg" id="errId" style="display:none">
    <button type="button" ng-click="hideAlert()" class="close">×</button>
    <div class="icon">
      <i class="fa fa-close"></i>
    </div>
    {{errorMsg}}
  </div>
  <div class="row">
    <div class="col-lg-3">
      <div class="sidebar-filter">
        <div class="block block-white">
          <div class="sidebar-filter-title box"><span>Search</span>
            <ul class="block-options pull-right">
              <li>
                <button type="button" data-js-block-option data-action="content_toggle"></button>
              </li>
            </ul>
          </div>
          <div class="block-content sidebar-filter-content">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Search ..." ng-model="searchText">
              <!-- <span class="input-group-btn">
                <button class="btn btn-default" type="button">Go!</button>
              </span> -->
            </div>
          </div>
        </div>
        <!-- <div class="block block-white">
              <div class="sidebar-filter-title box"><span>Post Type</span>
                <ul class="block-options pull-right">
                  <li>
                    <button type="button" data-js-block-option data-action="content_toggle"></button>
                  </li>
                </ul>
              </div>
              <div class="block-content sidebar-filter-content">
                <form>
                  <div class="form-group">
                    <label class="css-input css-checkbox css-checkbox-primary" for="d1">
                      <input type="checkbox" id="d1">
                      <span></span> Images</label>
                    <label class="css-input css-checkbox css-checkbox-primary" for="d2">
                      <input type="checkbox" id="d2">
                      <span></span> Texts</label>
                    <label class="css-input css-checkbox css-checkbox-primary" for="d3">
                      <input type="checkbox" id="d3">
                      <span></span> Links</label>
                    <label class="css-input css-checkbox css-checkbox-primary" for="d4">
                      <input type="checkbox" id="d4">
                      <span></span> Videos</label>
                    <label class="css-input css-checkbox css-checkbox-primary" for="d5">
                      <input type="checkbox" id="d5">
                      <span></span> Favorites</label>
                  </div>
                </form>
              </div>
            </div>
            <div class="block block-white">
              <div class="sidebar-filter-title box"><span>Show Messages by Date</span>
                <ul class="block-options pull-right">
                  <li>
                    <button type="button" data-js-block-option data-action="content_toggle"></button>
                  </li>
                </ul>
              </div>
              <div class="block-content sidebar-filter-content">
                <form>
                  <div class="form-group">
                    <div class="input-group">
                      <span class="input-group-addon">From</span>
                      <input type="text" class="form-control" placeholder="Date">
                      <span class="input-group-addon">To</span>
                      <input type="text" class="form-control" placeholder="Date">
                      <span class="input-group-btn">
                        <button class="btn btn-default" type="button">Go!</button>
                      </span>
                    </div>
                  </div>
                </form>
              </div> -->
      </div>
    </div>
    <div class="col-lg-9" id="masonry">
      <article>
        <!-- <section>
          <div class="block block-white">
            <div class="box">
              <h3 class="box-title">{{viewMessages.title}}</h3>
            </div>
            <div class="block-content">
              <div class="videoWrapper">
                <iframe itemprop="video" style="width:100%" class="video-embed" src="http://www.youtube.com/embed/F8eTY0yb4EQ?showinfo=0&amp;controls=1&amp;modestbranding=1"
                  allowfullscreen=""></iframe>
              </div>
            </div>
            <div class="box test-content border-top">
              <div class="row">
                <div class="col-sm-11">
                  <ul class="post-meta">
                    <li><i class="icon-calendar22 push-5-r"></i>Sep 12 2017 - 1:47 AM</li>
                    <li><i class="icon-user push-5-r"></i>{{viewMessages.senderOfMessage</li>
                  </ul>
                </div>
                <div class="col-sm-1"> <a href="javascript:void(0)" class="btn btn-default btn-xs pull-right"><i class="icon-heart6 remove-margin-r"></i></a>
                </div>
              </div>
            </div>
          </div>
        </section> -->
        <section ng-repeat="msg in viewMessages | filter:searchText">
          <div class="block block-white">
            <div class="box">
              <h3 class="box-title">{{msg.messageTitle}}</h3>
            </div>
            <div class="block-content">
              <!-- <div class="post-image push-15"> <img src="assets/img/blog/vaccines.jpg" width="500px" alt=""> </div> -->
              <p id="summerNotes" class="msg-content-list msg-content-short" ng-bind-html="msg.summerNotes | html"></p>
              <div ng-repeat="file in msg.filesAttached">
                <div><a ng-click="getFile(file)">Attachement_{{$index + 1}}</a>&nbsp;<i class="icon-file-download"></i></div>
              </div>
              <!-- <a class="text-orange" ng-repeat="link in msg.links" ng-href="{{link}}" target="_blank">{{link}}</a> -->
              <a class="btn btn-default btn-xs pull-right" ng-show="msg.summerNotes.length > 100" id="show-more-button" ng-click="readMoreFunction($event);">
                <span class="readmore"><i class="icon-circle-down2 push-5-r"></i>Read More </span>
                <span class="readless" style="display:none;"><i class="icon-circle-up2 push-5-r"></i>Read Less </span>
              </a>
              <div class="clearfix"></div>
            </div>
            <div class="box test-content border-top">
              <div class="row">
                <div class="col-sm-11">
                  <div class="post-meta">
                    <span class="padding-right-15" ng-if="msg.timeOfSent"><i class="icon-calendar22 push-5-r"></i>{{msg.timeOfSent}}</span>
                    <span ng-if="msg.senderOfMessage.docId" class="padding-right-15"><i class="icon-user push-5-r"></i>Dr.
                      {{msg.senderOfMessage.docName}} (Doctor)</span>
                    <span ng-if="msg.senderOfMessage.name" class="padding-right-15"><i class="icon-user push-5-r"></i>{{msg.senderOfMessage.name}}
                      (Coordinator)</span>
                    <span ng-if="msg.senderOfMessage == 'Marketing Department'" class="padding-right-15"><i class="icon-user push-5-r"></i>
                      Marketing Department</span>
                    <span ng-if="(Auth && (Auth.hasResourceRole('doctor'))) || (Auth && (Auth.hasResourceRole('coord'))) || (Auth && (Auth.hasResourceRole('marketing')))"
                      class="padding-right-15"><i class="fa fa-envelope-open fa-1"></i>&nbsp;&nbsp;{{msg.peopleRecived}}</span>
                  </div>
                </div>
                <div ng-if="Auth && (Auth.hasResourceRole('doctor')) || Auth && (Auth.hasResourceRole('coord')) || Auth && (Auth.hasResourceRole('marketing'))"
                  ng-show="$index == 0 && fromDashBoard == 0" class="col-sm-1 text-right"> <a class="btn btn-default btn-xs" ng-click="deleteMessage(msg)"
                    data-toggle="modal"><i class="icon-cross2"></i>Delete</a>
                </div>
              </div>
            </div>
          </div>
        </section>
      </article>
      <div class="text-center">
        <button class="btn btn-default" ng-show="showLoadMoreMessages" ng-click="loadMoreMessages()">Load More</button>
      </div>
    </div>
  </div>
</div>
<!-- END Page Content -->
<div id="alertModal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Delete Message</h4>
      </div>
      <div class="modal-body">
        Are you sure you want to delete ?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" ng-click="deleteMessageSure()" data-dismiss="modal">YES</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">NO</button>
      </div>
    </div>
  </div>
</div>
<div id="modalForImage" class="modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Image Preview</h4>
      </div>
      <div class="modal-body">
        <img id="imageModal" src="" class="imagepreview" style="width: 100%;">
      </div>
      <div class="modal-footer">
        <button type="button" data-dismiss="modal" class="btn btn-primary">Ok</button>
      </div>
    </div>
  </div>
</div>