<div class="tab-pane fade active in" id="tab-vitals">
	<div class="block-content">
		<div ng-show="table" class="row element-wrapper ">
			<div class="col-xs-12">
				<div class="block">
						<div class="box">
								<div class="row">
									<div class="col-sm-10">
										<ul class="nav nav-pills smaller pull-right">
											<li class="nav-item"><a class="nav-link" ng-class="{'active': all }"  data-toggle="tab" ng-click="getLatestVitals()">All</a></li>
											<li class="nav-item" ng-repeat="mon in allMonths"><a class="nav-link" data-toggle="tab" ng-click="getVitalsByMonth(mon)">{{mon}}</a></li>
										</ul>
									</div>
									<div class="col-sm-2">
										<!-- <select data-js-select2 class="form-control input-xs" id="Year" data-placeholder="Please Select Year">
											<option selected>2018</option>
											<option>2017</option>
											<option>2016</option>
										</select> -->
										<input data-js-datepicker class="form-control input-xs" type="text" id="yearPick" placeholder="Select Year"
										 data-ng-model="selectedYear">
									</div>
								</div>
							</div>
					<div class="gantt-table-wrapper">
						<div class="gantt-sidebar">
							<table class="gantt-table">
								<thead>
									<tr>
										<th>VITALS</th>
										<th>REFERENCE VALUE</th>
										<th>UNIT</th>
									</tr>
								</thead>
								<tbody>
									<tr ng-repeat="vit in vitalDays" class="tr-parent tr-default-progress">
										<td>{{vit.vitalName}}</td>
										<td class="text-center">{{vit.referenceValue}}</td>
										<td class="text-center">{{vit.Unit}}</td>
									</tr>
								</tbody>
							</table>
						</div>
						<div class="gantt-container">
							<table class="table gantt-table table-hover  font-s14 remove-margin-b">
								<thead>
									<tr>
										<th colspan="31" class="text-orange text-uppercase center">Observed Value</th>
									</tr>
									<tr ng-hide="all" class="thead_day_height">
										<th class="text-orange text-uppercase">01</th>
										<th class="text-orange text-uppercase">02</th>
										<th class="text-orange text-uppercase">03</th>
										<th class="text-orange text-uppercase">04</th>
										<th class="text-orange text-uppercase">05</th>
										<th class="text-orange text-uppercase">06</th>
										<th class="text-orange text-uppercase">07</th>
										<th class="text-orange text-uppercase">08</th>
										<th class="text-orange text-uppercase">09</th>
										<th class="text-orange text-uppercase">10</th>
										<th class="text-orange text-uppercase">11</th>
										<th class="text-orange text-uppercase">12</th>
										<th class="text-orange text-uppercase">13</th>
										<th class="text-orange text-uppercase">14</th>
										<th class="text-orange text-uppercase">15</th>
										<th class="text-orange text-uppercase">16</th>
										<th class="text-orange text-uppercase">17</th>
										<th class="text-orange text-uppercase">18</th>
										<th class="text-orange text-uppercase">19</th>
										<th class="text-orange text-uppercase">20</th>
										<th class="text-orange text-uppercase">21</th>
										<th class="text-orange text-uppercase">22</th>
										<th class="text-orange text-uppercase">23</th>
										<th class="text-orange text-uppercase">24</th>
										<th class="text-orange text-uppercase">25</th>
										<th class="text-orange text-uppercase">26</th>
										<th class="text-orange text-uppercase">27</th>
										<th class="text-orange text-uppercase">28</th>
										<th class="text-orange text-uppercase">29</th>
										<th class="text-orange text-uppercase">30</th>
										<th class="text-orange text-uppercase">31</th>
									</tr>
									<tr ng-show="all" class="thead_month_height">
										<th class="text-orange text-uppercase" ng-repeat="date in vitalDateFormats track by $index">{{date}}</th>
									</tr>
								</thead>
								<tbody>
									<tr ng-repeat="vit in vitalDays">
										<td data-title='{{vit.vitalDayValue[$index].actualDate}}' ng-repeat="val in vit.vitalDayValue">{{val.vitalValue}}</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>

		<!-- END Page Content -->
		</div>
		<div class="clearfix"></div>
		<div ng-show="tree" class="row">
			<div class="col-sm-12 col-md-6">
				<div class="activity-boxes-w">
					<div ng-if="(Auth && (Auth.hasResourceRole('patient'))) || (Auth && (Auth.hasResourceRole('doctor'))) || (Auth && (Auth.hasResourceRole('coord')))"
					 class="activity-box-w">
						<div class="activity-time">10 Min</div>
						<div class="activity-box">
							<div class="block1">
								<div class="box collapse in" id="addvitalstrigger">
									<a href="javascript:void(0)" class="btn btn-default btn-xs" ng-click="opencollapse()">
										<i class="icon-plus-circle2 push-5-r"></i>Add Vitals</a>
								</div>
								<div id="addvitals" class="collapse">
									<div class="box">
										<div class="row">
											<div class="col-sm-6"></div>
											<div class="col-sm-6">
												<form id="vitals_Date">
													<div class="input-group">
														<span class="input-group-addon">
															<label>Date</label>
														</span>
														<div id="dateofvitals" class="form-group">
															<input id="vitalsdate" class="form-control" data-js-datepicker ng-model="vitalsdate" ng-change="presentAlready()"
															 name="vitalsdate" data-date-start-date="-15d" data-date-end-date="0d" data-date-format="dd-mm-yyyy"
															 placeholder="Vitals Date" />
														</div>
													</div>
												</form>
											</div>
										</div>
									</div>
									<form name="vitals" id="vitals_form">
										<table class="table table-hover standard-table font-s14 js-dataTable-full remove-margin-b">
											<thead>
												<tr>
													<th class="text-orange text-uppercase">Vitals</th>
													<th class="text-orange text-uppercase">Observed Value
													</th>
													<th class="text-orange text-uppercase">Reference Value
													</th>
													<th class="text-orange text-uppercase">Unit</th>
												</tr>
											</thead>
											<tbody ng-repeat="vit in vital_show">
												<!--Vital Code must be 4-Systolic 5-Diastolic -->
												<tr>
													<td data-title="Vitals">{{vit.vitalName}}</td>
													<td data-title="Observed">
														<input limit-to="5" type="number" maxlength="5" id="ObservedVitalValue" name="ObservedVitalValue" class="form-control"
														 ng-disabled="flag" data-ng-model="vit.ObservedVitalValue">
													</td>
													<td data-title="Reference">{{vit.referenceValue}}</td>
													<td data-title="Unit">{{vit.Unit}}</td>
												</tr>
											</tbody>
										</table>
									</form>
									<div class="box test-content border-top">
										<div class="row">
											<div class="col-sm-12">
												<a href="javascript:void(0)" data-toggle="collapse" ng-click="vitalsValidation(vital_show)" data-toggle="modal"
												 class="btn btn-primary btn-xs pull-right">
													<i class="icon-checkmark"></i> Save</a>
												<a href="javascript:void(0)" class="btn btn-danger btn-xs pull-right push-10-r" data-toggle="modal"
												 data-target="#closeModal">
													<i class="icon-cross2"></i> Cancel</a>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="activity-box-w" ng-repeat="date in formattedVitalDate | limitTo:nodeLimit">
						<div class="activity-time">10 Min</div>
						<div class="activity-box">
							<div class="block1">
								<div class="box">
									<a href="javascript:void(0)" class="toggler pull-right" data-toggle="collapse" ng-click="getVitalsByDate($index)"
									 data-target="#vitals1{{$index}}" aria-expanded="{{$first}}">
										<i class="icon-plus2 push-10-r"></i>
									</a>
									<h3 class="box-title">{{date}}</h3>
								</div>
								<div id="vitals1{{$index}}" class="collapse" ng-class="{'in': $index == 0}">
									<table class="table table-hover standard-table font-s14 js-dataTable-full remove-margin-b">
										<thead>
											<tr>
												<th class="text-orange text-uppercase font-w600">Vitals</th>
												<th class="text-orange text-uppercase font-w600">Observed Value</th>
												<th class="text-orange text-uppercase font-w600">Reference Value</th>
												<th class="text-orange text-uppercase font-w600">Unit</th>
											</tr>
										</thead>
										<tbody>
											<tr ng-if="vitals.vitalValue" ng-repeat="vitals in displayVital[$index]">
												<td data-title="Vitals">{{vitals.vital.vitalName}}</td>
												<td data-title="Observed Value">{{vitals.vitalValue}}</td>
												<td data-title="Reference Value">{{vitals.vital.referenceValue}}</td>
												<td data-title="Unit">{{vitals.vital.unit}}</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-sm-12 text-center">
					<button class="btn btn-default" ng-show="loadBtn" ng-click="loadMore()">Load More</button>
				</div>
			</div>
			<dir-view-vital-trends> </dir-view-vital-trends>
		</div>
	</div>
	<div id="closeModal" class="modal fade">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h4 class="modal-title">Cancel Vitals</h4>
				</div>
				<div class="modal-body">
					Are you sure you want to cancel ?
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-primary" ng-click="closecollapse()" data-dismiss="modal">YES</button>
					<button type="button" class="btn btn-default" data-dismiss="modal">NO</button>
				</div>
			</div>
		</div>
	</div>
	<div id="saveModal" class="modal fade">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h4 class="modal-title">Save Vitals</h4>
				</div>
				<div class="modal-body">
					Are you sure you want to save ?
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-primary" ng-click="saveVitals(vital_show);closecollapse()" ng-click=""
					 data-dismiss="modal">YES</button>
					<button type="button" class="btn btn-default" data-dismiss="modal">NO</button>
				</div>
			</div>
		</div>
	</div>
</div>