<div class="col-sm-12 col-md-6">
    <div class="block block-white push-10-t block1">
        <div class="box">
            <div class="row">
                <div class="col-sm-6">
                    <h3 class="box-title">
                        <ui-select id="vitalParameter" ng-if="boolean" ng-model="vitalName" ng-change="VitalTrend(vitalName)">
                            <ui-select-match data-placeholder="Select Vital">{{$select.selected}}</ui-select-match>
                            <ui-select-choices repeat="item in AllVitals | filter: $select.search">
                                <div ng-bind="item"></div>
                            </ui-select-choices>
                        </ui-select>
                        <!-- <select data-js-select2 ng-if="boolean" id="vitalParameter" data-placeholder="Blood Pressure" ng-options="vitl for vitl in AllVitals"
                            ng-model="vitalName" required ng-change="VitalTrend(vitalName)">
                            <option value=" " disabled></option>
                        </select> -->
                    </h3>
                </div>

                <!-- <div class="col-sm-6">
                    <ul class="nav nav-pills smaller pull-right">
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" ng-click="setWeek()" href="#">Week</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="tab" ng-click="setMonth()" href="#">Month</a>
                        </li>
                    </ul>
                </div> -->
            </div>
        </div>
        <div class="block-content">
            <div zingchart id="myChart" zc-json="VitalJson" zc-width="100%"></div>
        </div>
    </div>
</div>