<div class="tab-pane fade" id="tab-prescriptions">
	<div class="block-content">
		<div class="row">
			<div class="col-sm-12">
				<div class="activity-boxes-w">
					<div ng-if="Auth && (Auth.hasResourceRole('doctor')) || Auth && (Auth.hasResourceRole('coord'))" class="activity-box-w">
						<div class="activity-time">10 Min</div>
						<div class="activity-box">
							<div class="block1">
								<div class="box collapse in" id="addprestrigger">
									<a href="javascript:void(0)" class="btn btn-default btn-xs" data-toggle="collapse" ng-click="opencollapse()">
										<i class="icon-plus-circle2 push-5-r"></i>Add Prescription</a>
								</div>
								<div id="addpres" class="collapse">
									<div class="box remove-border-b">
										<div class="row">
											<div class="col-sm-5">
												<label for="patientSymptoms">Symptoms</label>
												<textarea id="patientSymptoms" limit-to="250" maxlength="250" placeholder="" class="form-control" rows="2"
												 data-ng-model="pres.patientSymptoms"></textarea>
											</div>
											<div class="col-sm-5">
												<label for="patientObservations">Clinical Observations
												</label>
												<textarea id="patientObservations" limit-to="250" maxlength="250" placeholder="" class="form-control" rows="2"
												 data-ng-model="pres.patientObservations"></textarea>
											</div>
											<div class="col-sm-2">
												<label for="prescriptionDate">Prescription Date</label>
												<input class="form-control" type="text" id="prescriptionDate" value="{{currdate}}" data-datepicker-date="pres.currdate"
												 name="example-datepicker1" placeholder="Current Date" disabled>
											</div>
											<div class="col-sm-2">
												<label for="nextappointment">Next Appointment Date</label>
												<input class="form-control" type="text" id="datetimepicker1" name="datetimepicker1" data-date-format="DD-MM-YYYY, h:mm a"
												 placeholder="Select Date" data-ng-model="pres.nextVisit">
											</div>
										</div>
									</div>
									<div class="row no-gutters">
										<div class="col-sm-9">
											<div class="block block-white">
												<div class="box">
													<ul class="list list-inline pull-right">
														<li>
															<i class="medical-sunny"></i>Morning</li>
														<li>
															<i class="medical-clear"></i>Afternoon</li>
														<li>
															<i class="medical-screen"></i>Evening</li>
														<li>
															<i class="medical-moon"></i>Night</li>
													</ul>
													<h3 class="box-title remove-margin-b">Prescribed Drugs</h3>
												</div>
												<table class="table table-striped table-hover standard-table js-dataTable-full">
													<thead>
														<tr>
															<th width="16%">Drug
																<span style="color: red;"> *</span>
															</th>
															<th width="10%">Dosage
																<span style="color: red;"> *</span>
															</th>
															<th width="6%">Days
																<span style="color: red;"> *</span>
															</th>
															<th width="6%" class="align-c">
																<i class="medical-sunny"></i>
																<span style="color: red;"> *</span>
															</th>
															<th width="6%" class="align-c">
																<i class="medical-clear"></i>
																<span style="color: red;"> *</span>
															</th>
															<th width="6%" class="align-c">
																<i class="medical-screen"></i>
																<span style="color: red;"> *</span>
															</th>
															<th width="6%" class="align-c">
																<i class="medical-moon"></i>
																<span style="color: red;"> *</span>
															</th>
															<th width="10%">Instructions
																<span style="color: red;"> *</span>
															</th>
															<th width="12%">Notes</th>
															<th width="1%">&nbsp;</th>
														</tr>
													</thead>
													<tbody>
														<tr ng-repeat="check in pres.values">
															<td data-title="Drug name">
																<input autocomplete="on" limit-to="50" maxlength="50" class="form-control input-xs required"
																 placeholder="Enter Drug" ng-model="check.medName">
															</td>
															<td data-title="No of Days">
																<div class="input-group input-group-multiple">
																	<input limit-to="5" type="number" class="form-control input-xs" aria-label="..." data-ng-model="check.dose">
																	<select class="form-control input-xs" id="unitBtn{{$index}}" data-ng-model="check.unit">
																		<option>mg</option>
																		<option>g</option>
																		<option>mcg</option>
																		<option>mL</option>
																		<option>units</option>
																		<option>tbl</option>
																		<option>t</option>
																		<option>gtt</option>
																	</select>
																</div>
															</td>
															<td data-title="No of Days">
																<input type="number" name="noOfDays" id="noOfDays{{$index}}" min="0" ng-change="checkDrugdays(check.noOfDays,$index)"
																 class="form-control input-xs" data-ng-model="check.noOfDays">
															<td data-title="Morning">
																<select data-js-select2 class="form-control input-xs" id="morning" data-ng-model="check.morning">
																	<option>0</option>
																	<option>0.5</option>
																	<option>1</option>
																	<option>1.5</option>
																	<option>2</option>
																	<option>2.5</option>
																	<option>3</option>
																</select>
															</td>
															<td data-title="Afternoon">
																<select data-js-select2 class="form-control input-xs" id="afternoon" data-ng-model="check.afternoon">
																	<option>0</option>
																	<option>0.5</option>
																	<option>1</option>
																	<option>1.5</option>
																	<option>2</option>
																	<option>2.5</option>
																	<option>3</option>
																</select>
															</td>
															<td data-title="Evening">
																<select data-js-select2 class="form-control input-xs" id="evening" data-ng-model="check.evening">
																	<option>0</option>
																	<option>0.5</option>
																	<option>1</option>
																	<option>1.5</option>
																	<option>2</option>
																	<option>2.5</option>
																	<option>3</option>
																</select>
															</td>
															<td data-title="Night">
																<select data-js-select2 class="form-control input-xs" id="night" data-ng-model="check.night">
																	<option>0</option>
																	<option>0.5</option>
																	<option>1</option>
																	<option>1.5</option>
																	<option>2</option>
																	<option>2.5</option>
																	<option>3</option>
																</select>
															</td>
															<td data-title="Instructions">
																<select data-js-select2 class="form-control input-xs" id="relationToFood" data-ng-model="check.relationToFood">
																	<option>Before Food</option>
																	<option>After Food</option>
																</select>
															</td>
															<td data-title="Notes">
																<textarea id="notes" maxlength="150" placeholder=" " class="form-control" rows="1" data-ng-model="check.notes"></textarea>
															</td>
															<td data-title="Remove">
																<a href="javascript:void(0)" class="pull-right" ng-click="remove($index)"><i class="icon-cancel-circle2"></i></a>
															</td>
														</tr>
													</tbody>
												</table>
												<div class="row">
													<div class="col-sm-12">
														<a href="" ng-click="add()" class="btn btn-default btn-xs"><i class="icon-plus-circle2"></i> Add Drug</a>
													</div>
												</div>
												<div class="box border-top">
													<h3 class="box-title remove-margin-b">Advised Lab Tests
													</h3>
												</div>
												<table class="table table-striped table-hover standard-table js-dataTable-full">
													<thead>
														<tr>
															<th>Test Name</th>
															<th width="20%">Repeat Every</th>
															<th>Notes</th>
															<th width="1%">&nbsp;</th>
														</tr>
													</thead>
													<tbody ng-repeat="seltest in finalUseArr track by $index">
														<tr>
															<td data-title="Test">{{seltest.testName}}{{seltest.labTest.testName}}</td>
															<td data-title="Repeat Every">
																<div class="input-group input-group-multiple">
																	<input type="number" id="repeatEvery" data-ng-model="seltest.repeatDuration" class="form-control input-xs"
																	 aria-label="...">
																	
																		<select class="form-control input-xs" id="unitBtn{{$index}}" data-ng-model="seltest.freqObtained">
																			<option>days</option>
																			<option>weeks</option>
																			<option>months</option>
																		</select>
																	
																</div>
															</td>
															<td data-title="Notes">
																<textarea id="testnotes" maxlength="150" data-ng-model="seltest.notes" ng-value="seltest.notes"
																 placeholder=" " class="form-control" rows="1"></textarea>
															</td>
															<td data-title="Remove">
																<a href="javascript:void(0)" class="pull-right">
																	<i class="icon-cancel-circle2" ng-click="removelabtest($index)"></i>
																</a>
															</td>
														</tr>
													</tbody>
												</table>
												<div class="row" ng-if="Auth && (Auth.hasResourceRole('doctor'))">
													<div class="col-sm-12">
														<a href="javascript:void(0)" data-target="#templateModal" class="btn btn-default btn-xs" ng-click="toShowTemplateModal()">
															<i class="icon-floppy-disk"></i> Save Selected Tests as Template
														</a>
													</div>
												</div>
												<div class="box test-content border-top remove-border-b">
													<div class="row">
														<div class="col-sm-12" ng-hide="pendPres">
															<a href="javascript:void(0)" ng-click="prescriptionValidation(pres,finalUseArr)" class="btn btn-primary btn-xs pull-right"
															 data-toggle="modal">
																<i class="icon-checkmark"></i> Save</a>
															<a href="" class="btn btn-danger btn-xs pull-right
																push-10-r" data-target="#closeModalofpres"
															 data-toggle="modal">
																<i class="icon-cross2"></i> Cancel</a>
														</div>
														<div class="col-sm-12" ng-if=" Auth && (Auth.hasResourceRole('doctor')) && pendPres">
															<a href="javascript:void(0)" ng-click="prescriptionValidation(pres,finalUseArr)" class="btn btn-primary btn-xs pull-right"
															 data-toggle="modal">
																<i class="icon-checkmark"></i> Sign Off</a>
															<a href="" class="btn btn-danger btn-xs pull-right
																push-10-r" data-target="#closeModalofpres"
															 data-toggle="modal">
																<i class="icon-cross2"></i> Cancel</a>
														</div>
													</div>
												</div>
											</div>
										</div>
										<dir-advisedlab-test></dir-advisedlab-test>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- <div ng-if="ifNoPres" class="text-center">
						<span style="color: red;">{{ifNoPres}}</span>
					</div> -->
					<div class="activity-box-w" ng-repeat="val1 in datesofmed | limitTo:nodeLimitPres track by $index">
						<div class="activity-time">10 Min</div>
						<div class="activity-box">
							<div class="block1">
								<div class="box">
									<a href="javascript:void(0)" class="toggler pull-right" id="medListAtag" data-toggle="collapse" ng-click="medList($index)"
									 data-target="#prescriptions{{$index}}" aria-expanded="{{$first}}">
										<i class="icon-plus2 push-10-r"></i>
									</a>
									<h3 class="box-title">{{val1}}</h3>
									<p class="nodedesc" ng-show="list['dets'+ $index]">
										Digital prescription by Dr. {{list['dets'+ $index].doctor.docName}}
										<a href="javascript:void(0)" ng-click="getPrintOfPres($index)" class="btn btn-default btn-xs push-10-l">
											<i class=" icon-printer2"></i>Print</a>
										<a href="javascript:void(0)" ng-click="copyToCurrent(list['dets'+ $index])" class="btn btn-default btn-xs push-10-l">
											<i class=" icon-printer2"></i>Copy to Current</a>
									</p>
									<!-- <iframe src="http://docs.google.com/gview?url= REPLACEYOUR_URL" style="width:600px; height:500px;" frameborder="0"></iframe> -->
									<!-- ng-show="{{$index}} == 0" PUT THIS BELOW <a> TAG IF FIRST NODE ONLY HAS PRINT FN -->
								</div>

								<div id="prescriptions{{$index}}" class="collapse" ng-class="{ 'in': $index==0 }">
									<div ng-show="list['dets'+ $index].symptoms" class="box remove-border-b">
										<div class="row">
											<div class="col-sm-12">
												<label>Symptoms</label>
												<p class="push-10">{{list['dets'+ $index].symptoms}}</p>
											</div>
										</div>
									</div>
									<div ng-show="list['dets'+ $index].clinicalObservations" class="box remove-border-b">
										<div class="row">
											<div class="col-sm-12">
												<label>Clinical Observations</label>
												<p class="push-10">{{list['dets'+ $index].clinicalObservations}}</p>
											</div>
										</div>
									</div>
									<div class="box border-top">
										<h3 class="box-title remove-margin-b">Prescribed Drugs</h3>
									</div>
									<table class="table table-striped table-hover standard-table js-dataTable-full">
										<thead>
											<tr>
												<th>Drug</th>
												<th>Dosage</th>
												<th>No of Days</th>
												<th>Morning</th>
												<th>Afternoon</th>
												<th>Evening</th>
												<th>Night</th>
												<th>Instructions</th>
												<th width="20%">Notes</th>
											</tr>
										</thead>
										<tbody>
											<tr ng-repeat="val in list['dets'+ $index].medicationList">
												<td data-title="Drug">
													<span class="font-s14 text-orange">{{val.medName}}</span>
												</td>
												<td data-title="No of Days">{{val.dose}} {{val.unit}}</td>
												<td data-title="No of Days">{{val.noOfDays}}</td>
												<td data-title="Morning">
													<span ng-repeat="d in val.dosage">
														<div ng-show="d.timeOfDosage=='M'">{{d.quantity}}</div>
													</span>
												</td>
												<td data-title="Afternoon">
													<span ng-repeat="d in val.dosage">
														<div ng-show="d.timeOfDosage=='A'">{{d.quantity}}</div>
													</span>
												</td>
												<td data-title="Evening">
													<span ng-repeat="d in val.dosage">
														<div ng-show="d.timeOfDosage=='E'">{{d.quantity}}</div>
													</span>
												</td>
												<td data-title="Night">
													<span ng-repeat="d in val.dosage">
														<div ng-show="d.timeOfDosage=='N'">{{d.quantity}}</div>
													</span>
												</td>
												<td data-title="Instructions">{{val.relationToFood}}</td>
												<td data-title="Notes">{{val.notes}}</td>
											</tr>
										</tbody>
									</table>
									<div ng-If="list['dets'+ $index].labTests.length > 0" class="box border-top">
										<h3 class="box-title remove-margin-b">Advised Lab Tests</h3>
									</div>
									<table class="table table-striped table-hover standard-table js-dataTable-full">
										<thead ng-If="list['dets'+ $index].labTests.length > 0">
											<tr>
												<th>Test Name</th>
												<th>Repeat Every</th>
												<th>Notes</th>
											</tr>
										</thead>
										<tbody>
											<tr ng-repeat="test in list['dets'+ $index].labTests">
												<td data-title="Test Name">
													{{test.labTest.testName}}
												</td>
												<td data-title="Repeat Every">
													{{test.repeatDuration}}&nbsp;{{test.repeatFrequency}}
												</td>
												<td data-title="Notes">
													{{test.notes}}
												</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>
				</div>
				<br>
				<div class="text-center">
					<button class="btn btn-default" ng-if="showLoadMorePres == 1" ng-click="loadMorePres()">Load More</button>
				</div>
			</div>
		</div>
	</div>
	<div id="templateModal" class="modal fade">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h4 class="modal-title">Add Template</h4>
				</div>
				<div class="modal-body">
					<div class="alert alert-info alert-white rounded">
						<div class="icon">
							<i class="fa fa-info-circle"></i>
						</div>
						You are saving the following tests as
						<strong>template</strong>
						<br>
						<div ng-repeat="eachTemp in finalUseArr">{{eachTemp.labTest.testName}}{{eachTemp.testName}}</div>
					</div>
					<form name="templateForm" ng-validate="validationOptions">
						<div class="row form-group">
							<div class="col-sm-6">
								<label for="templatename">Template Name</label>
								<input limit-to="30" class="form-control errorClass" name="tempName" id="tempName" ng-model="templateName.tName"
								 ng-change="checkTemplateExist(templateName)" placeholder="" type="text"> {{tExist}}
							</div>
						</div>
					</form>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal" ng-click="resetTemplate()">Cancel</button>
					<button type="button" class="btn btn-primary" ng-click="registerTemplate(templateForm,templateName)">Save Template
					</button>
				</div>
			</div>
		</div>
	</div>
	<div id="saveModalofpres" class="modal fade">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h4 class="modal-title">Save Prescription</h4>
				</div>
				<div class="modal-body">
					Are you sure you want to save ?
				</div>
				<div class="modal-footer" ng-hide="pendPres">
					<button type="button" class="btn btn-primary" ng-click="saveprescription(pres,finalUseArr,0);closecollapse()"
					 data-dismiss="modal">YES</button>
					<button type="button" class="btn btn-default" data-dismiss="modal">NO</button>
				</div>
				<div class="modal-footer" ng-show=" Auth && (Auth.hasResourceRole('doctor')) && pendPres">
					<button type="button" class="btn btn-primary" ng-click="saveprescription(pres,finalUseArr,1);closecollapse()"
					 data-dismiss="modal">YES</button>
					<button type="button" class="btn btn-default" data-dismiss="modal">NO</button>
				</div>
			</div>
		</div>
	</div>
	<div id="closeModalofpres" class="modal fade">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h4 class="modal-title">Cancel Prescription</h4>
				</div>
				<div class="modal-body">
					Are you sure you want to cancel ?
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-primary" ng-click="closecollapse()" data-dismiss="modal">YES</button>
					<button type="button" class="btn btn-default" data-dismiss="modal">NO</button>
				</div>
			</div>
		</div>
	</div>
</div>