<div class="col-sm-3">
	<div class="block block-white">
		<div class="box">
			<h3 class="box-title remove-margin-b">Select Lab Tests</h3>
		</div>
		<ul class="nav nav-atabs nav-tabs-justified">
			<li class="active">
				<a href="javascript:void(0)" data-target="#home-21" data-toggle="tab">Tests</a>
			</li>
			<li>
				<a href="javascript:void(0)" data-target="#profile-21" data-toggle="tab">Test Groups</a>
			</li>
			<li>
				<a href="javascript:void(0)" data-target="#dropdown-21" data-toggle="tab">Templates</a>
			</li>
		</ul>
		<div class="test-content">
			<div class="row">
				<div class="col-sm-12">
					<div class="input-group">
						<input type="text" class="form-control" placeholder="Search" ng-model="searchterm" aria-describedby="basic-addon1">
						<span class="input-group-addon" id="basic-addon1">
							<i class="icon-search4"></i>
						</span>
					</div>
				</div>
			</div>
		</div>

		<div class="tab-content" data-js-slimscroll="{alwaysVisible: true, height: '250px'}">
			<div class="tab-pane fade active in" id="home-21">
				<div class="row">
					<div class="col-sm-12 push-10-t">
						<a href="javascript:void(0)" ng-click="unCheckAll()" class="push-10-r pull-right">
							<i class="icon-checkbox-unchecked push-5-r"></i>Uncheck All
						</a>
						<a href="javascript:void(0)" ng-click="checkAll()" class="push-20-r pull-right">
							<i class="icon-checkbox-checked push-5-r"></i>Check All
						</a>
					</div>
				</div><br>
				<div class="labtest-list-w">
					<div class="test-w" ng-repeat="tests in labTests | filter:searchterm">
						<div class="test-name">
							<h6 class="test-title"> {{tests.testName}}</h6>
						</div>
						<div class="test-action">
							<input type="checkbox" id="tests.Selected" ng-model="tests.Selected" class="push-5-r">
						</div>
					</div>
				</div>
			</div>
			<div class="tab-pane fade" id="profile-21">
				<div class="row">
					<div class="col-sm-12 push-10-t">
						<a href="javascript:void(0)" ng-click="UnCheckAllGroup()" class="push-10-r pull-right">
							<i class="icon-checkbox-unchecked push-5-r"></i>Uncheck All
						</a>
						<a href="javascript:void(0)" ng-click="CheckAllGroup()" class="push-20-r pull-right">
							<i class="icon-checkbox-checked push-5-r"></i>Check All
						</a>
					</div>
				</div> <br>
				<div class="labtest-list-w" ng-repeat="testgrp in labGrps| filter:searchterm">
					<div class="test-w">
						<div class="test-name">
							<a href="javascript:void(0)" class="test-title" data-target="#grptable{{$index}}" ng-click="getgrptests(testgrp.groupName)"
							 data-toggle="collapse"><i class="icon-plus2 push-10-r"></i> {{testgrp.groupName}}</a>
						</div>
						<div class="test-action">
							<input type="checkbox" id="testgrp.Selected" ng-model="testgrp.Selected" class="push-5-r">
						</div>
					</div>
					<div class="tab-pane fade" id="grptable{{$index}}" ng-if="testgrp.groupName == grpNameRecived">
						<div>
							<div class="test-w" ng-repeat="grptest in showgrptests">
								<div class="test-name">
									<h6  class="test-title inside-test-h6">{{grptest.testName}}</h6>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="tab-pane fade" id="dropdown-21">
				<div class="labtest-list-w" ng-repeat="temp in labTemplates | filter:searchterm">
					<div class="test-w">
						<div class="test-name">
							<a href="javascript:void(0)" class="test-title" data-target="#temptable{{$index}}" ng-click="gettemptests(temp.templateName)"
							 data-toggle="collapse"><i class="icon-plus2 push-10-r"></i> {{temp.templateName}}</a>
						</div>
						<div class="test-action">
							<input type="checkbox" id="temp.Selected" ng-model="temp.Selected" class="push-5-r">
						</div>
					</div>
					<div class="tab-pane fade" id="temptable{{$index}}" ng-if="temp.templateName == templateName">
						<div class="test-w" ng-repeat="temptest in showtemptests">
							<div class="test-name">
								<!-- class="table  table-hover standard-table font-s14 js-dataTable-full nopad" -->
								<h6 class="test-title inside-test-h6"> {{temptest.testName}}</h6>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="box test-content border-top remove-border-b">
			<div class="row">
				<div class="col-sm-12">
					<a href="javascript:void(0)" ng-click="getSelectedTests();getSelectedGrps();getSelectedTemplate()" class="btn btn-default btn-xs pull-right">
						<i class="icon-plus22"></i> Add Selected to Prescription
					</a>
				</div>
			</div>
		</div>
	</div>
</div>