<div class="tab-pane fade" id="tab-consultation">
    <div class="block-content">
        <div class="clearfix"></div>
        <div class="row">
            <div class="col-sm-12 col-md-6">
                <div class="block block-white push-10-t">
                    <div class="box">
                        <div class="row">
                            <div class="col-sm-6">
                                <h3 class="box-title">Add Consultation Note </h3>
                            </div>
                            <div class="col-sm-6"> </div>
                        </div>
                    </div>
                    <div class="block-content">
                        <form name="consultationForm" ng-validate="validateConsultationForm">
                            <div class="row">
                                <div class="form-group col-xs-12 col-md-6">
                                    <label for="cdate" class="required">Consultation Date and Time</label>
                                    <input type="text" name="notesDate" id="datetimepicker4" class="form-control"
                                        placeholder="" id="cdate" data-date-format="DD-MM-YYYY, h:mm a" />
                                </div>
                                <div class="form-group col-xs-12 col-md-6">
                                    <label for="cdoctor" class="required">Consulting Doctor</label>
                                    <br>
                                    <ui-select name="doctor" ng-model="con.doctor">
                                        <ui-select-match placeholder="Select Doctor">Dr. {{$select.selected.docName}}</ui-select-match>
                                        <ui-select-choices repeat="item in (departmentDoctors | filter: $select.search)">
                                            <div ng-bind="item.docName | highlight: $select.search.docName"></div>
                                        </ui-select-choices>
                                    </ui-select>
                                    <div id="doctorError" style="color:red;font-style: italic;"></div>
                                </div>
                                <div class="form-group col-xs-12 col-md-6">
                                    <label for="visitType" class="required">Mode Of Visit</label>
                                    <br>
                                    <ui-select name="visitType" ng-model="con.modeOfVisit">
                                        <ui-select-match placeholder="Mode Of Visit">{{$select.selected}}</ui-select-match>
                                        <ui-select-choices repeat="item in (visitMode | filter: $select.search)">
                                            <div ng-bind="item | highlight: $select.search"></div>
                                        </ui-select-choices>
                                    </ui-select>
                                    <div id="visitType" style="color:red;font-style: italic;"></div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-xs-12 col-md-12">
                                    <label for="cquery" class="required">Patient Query</label>
                                    <textarea maxlength="2000" class="form-control" name="patientQuery" placeholder=""
                                        id="cquery" rows="3" ng-model="con.diagnosis"></textarea>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-xs-12 col-md-12">
                                    <label for="cdate" class="required">Dr. {{con.doctor.docName}} Response</label>
                                    <textarea maxlength="2000" class="form-control" name="doctorResponse" placeholder=""
                                        id="cresponse" rows="3" ng-model="con.doctorUpdate"></textarea>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="box test-content border-top">
                        <div class="row">
                            <div class="col-sm-12">
                                <a href="javascript:void(0)" class="add btn btn-default btn-xs" data-target="#modalForConsolts"
                                    data-toggle="modal">
                                    <i class="icon-file-upload"></i>
                                    <span>Upload Lab Results</span>
                                </a>
                                <span ng-show="uploadFlagConsolts">{{toShowFinalFilesConsoltsLength}} Files
                                    Uploaded!</span>
                                <div ng-show="uploadFlagConsolts" ng-repeat="file in toShowFinalFilesConsolts">{{file.upload.filename}}</div>
                            </div>
                            <div class="col-sm-12">
                                <a href="javascript:void(0)" ng-click="registerConsultancyNotes(consultationForm,con)"
                                    class="btn btn-primary btn-xs pull-right">
                                    <i class="icon-checkmark"></i>Save</a>
                                <a href="javascript:void(0)" ng-click="clearNotes()" class="btn btn-danger btn-xs pull-right push-10-r">
                                    <i class="icon-cross2"></i>Cancel</a></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-6">
                <div class="activity-boxes-w">
                    <div class="activity-box-w" ng-repeat="date in consultDates track by $index | limitTo:nodeConsultancyLimit">
                        <div class="activity-time">10 Min</div>
                        <div class="activity-box">
                            <div class="block1 block-white">
                                <div class="box"> <a href="javascript:void(0)" class="toggler pull-right" data-toggle="collapse"
                                        ng-click="getConsultationNotes($index)" data-target="#cnotes1{{$index}}"
                                        aria-expanded="{{$first}}">
                                        <i class="icon-plus2 push-10-r"></i>
                                    </a>
                                    <h3 class="box-title">{{date}}</h3>
                                </div>
                                <div id="cnotes1{{$index}}" class="collapse" ng-class="{'in': $index == 0}">
                                    <ul class="chat-container" ng-repeat="note in displayConsultNotes[$index]">
                                        <li class="chat-left">
                                            <div class="chat-avatar">
                                                <div class="chat-name" style="color:black;"><strong>{{note.patient.fName}}'s
                                                        Query</strong></div>
                                            </div>
                                            <div class="chat-text">{{note.diagnosis}}</div>
                                            <div class="chat-hour" style="color:black;">{{note.time}}&nbsp;&nbsp;<strong>{{note.modeOfVisit}}</strong><span
                                                    class="icon-done_all"></span></div>
                                        </li>
                                        <li class="chat-right">
                                            <div class="chat-hour">{{note.time}}<span class="icon-done_all"></span></div>
                                            <div class="chat-text">{{note.doctorUpdate}}</div>
                                            <div class="chat-avatar">
                                                <div class="chat-name" style="color:black;"><strong>Dr.
                                                        {{note.doctor.docName}}'s Response</strong></div>
                                            </div>
                                        </li>
                                    </ul>
                                    <div class="box test-content border-top">
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <label>Description</label>
                                                <p class="push-10">{{displayConsultNotes[$index].filesAssociated.description}}</p>
                                            </div>
                                            <div class="col-sm-6">
                                                <label>Attached Files</label>
                                                <div ng-repeat="file in displayConsultNotes[$index].filesAssociated.files">
                                                    <a data-ng-click="getFile(file.id)">{{file.fileName}}</a>&nbsp;
                                                    <i class="icon-file-download"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div id="modalForConsolts" class="modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Upload Lab Results</h4>
                </div>
                <div class="modal-body">
                    <!-- <div class="alert alert-info alert-white rounded">
                        <div class="icon">
                            <i class="fa fa-info-circle"></i>
                        </div>
                        Even after entering the Lab Results, you still have to upload the Lab Report as proof. You can
                        upload
                        <strong>minimum 1 and maximum of 15 files. </strong> Supported file formats (jpeg/jpg/png/pdf)
                        Upto 10 MB.
                    </div> -->
                    <div class="row form-group">
                        <div class="col-sm-12">
                            <form id="myIdConsolts" class="dropzone" action="index.html"></form>
                            <div dz-error-message></div>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-sm-12">
                            <label for="descForUploads">Description</label>
                            <textarea id="descForUploads" data-ng-model="descriptionConsolts" placeholder="" class="form-control"
                                rows="3"></textarea>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" ng-click="cancelUpload()" data-dismiss="modal">Cancel</button>
                    <button type="button" data-ng-click="uploadFilesFun()" data-dismiss="modal" class="btn btn-primary">Add</button>
                </div>
            </div>
        </div>
    </div>
    <div id="modalForImage" class="modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Image Preview</h4>
                </div>
                <div class="modal-body">
                    <img id="imageModal" src="" class="imagepreview" style="width: 100%;">
                </div>
                <div class="modal-footer">
                    <button type="button" data-dismiss="modal" class="btn btn-primary">Ok</button>
                </div>
            </div>
        </div>
    </div>
</div>