<!-- Page Header -->
<!-- 
<ul class="breadcrumb">
  <li>Breadcrumb Home</li>
  <li>Breadcrumb Parent</li>
  <li><a class="link-effect" href="">Breadcrumb Child</a></li>
</ul> -->

<!-- END Page Header --> 
<!-- Page Content -->
<div class="content">
  <div class="element-wrapper">
<!--     <div class="element-actions"><a class="btn btn-default btn-xs" href="#"><i class="icon-envelop3"></i><span>Send Email Invite to Selected Patients</span></a></div>--> 
    <h4 class="element-header">Invite Patients to Access the Portal</h4>
  </div>
  <div class="steps clearfix">
    <ul>
      <li class="first done" aria-disabled="false" aria-selected="true"><a href="javascript:void(0)" ><span class="step" >1</span> Assign Doctors & Co-ordinators</a></li>
      <li class="current" aria-disabled="false" aria-selected="true"><a href="javascript:void(0)"><span class="current-info audible">current step: </span><span class="step">2</span> Select Patients to Send Invite</a></li>
      <li class="disabled" aria-disabled="true"><a id="steps-uid-0-t-2" href="#steps-uid-0-h-2" aria-controls="steps-uid-0-p-2"><span class="step">3</span> Preview & Send Invitation</a></li>
    </ul>
  </div>
  <div class="block remove-margin-b">
    <div class="box">
      <div class="row element-wrapper">
        <div class="col-sm-8">
          <h3 class="box-title push-5-t">Patients List</h3>
        </div>
        <div class="col-sm-4">
          <div class="element-search">
            <input placeholder="Type Patient's OPCode, Name or Mobile Number" type="text">
          </div>
        </div>
      </div>
    </div>
    <table class="table table-striped table-hover standard-table">
      <thead>
        <tr>
          <th><input type="checkbox" name="checkbox" id="checkbox" ng-model="checkAllSub" ng-click="selectAll()" ></th>
          <th>Patient OP Code</th>
          <th>Patient Name</th>
          <th>Email Address</th>
          <th>Mobile Number</th>
          <th width="20%">Associated Doctors</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
     
      <tr ng-repeat="sub in subList" >
        <div >
        <td width="1%" data-title="Select"><input type="checkbox" name="checkbox2" id="checkbox2" ng-model="sub.selected" ng-click="checkOpt(sub.selected)"></td>
        <td data-title="OP Code">{{sub.patient.opCode}}</td>
        <td data-title="Patient Name">{{sub.patient.patientName}}</td>
        <td>{{sub.patient.email}}</td>
      	<td>{{sub.patient.mobileNo}}</td>
      	<td data-title="Assign Doctors">{{getDocs(sub.doctors)}}</td>
        <td ng-if="sub.status=='inactive' || sub.status==null"><div><span class="badge badge-primary">Not Invited</span></div></td>
      <td ng-if="sub.status=='pending'"><div><span class="badge badge-warning">Pending</span></div></td>
      <td ng-if="sub.status=='active'"><div><span class="badge badge-success">Enrolled</span></div></td>
      <td ng-if="sub.status=='suspended'"><div><span class="badge badge-danger">Suspended</span></div></td>
       </div>
       </tr>
     
      </tbody>
    </table>
    
  </div>
   <div class="btn-group table-pagination push-30 pull-right">
                                <button type="button" class="btn btn-white"><i class="fa fa-chevron-left"></i></button>
                                <button class="btn btn-white">1</button>
                                <button class="btn btn-white  active">2</button>
                                <button class="btn btn-white">3</button>
                                <button class="btn btn-white">4</button>
                                <button type="button" class="btn btn-white"><i class="fa fa-chevron-right"></i> </button>
                            </div>
                            <div class="clearfix"></div>
   <div class="row">
       
        
        <div class="form-group pull-right">
            <div class="col-sm-12">
              <button class="btn btn-secondary push-10-r" type="submit"><i class="icon-close2 text-danger push-5-r"></i>Cancel</button>
              <a data-ui-sref-active="active"><button class="btn btn-default" ng-click="onThird()" >Next<i class="icon-arrow-right7 push-5-l"></i></button></a>
            </div>
          </div>
           <div class="clearfix"></div>
           
           
    
    <!-- END Page Content --></div>
</div>

