<!-- Page Header -->
<!-- 
<ul class="breadcrumb">
  <li>Breadcrumb Home</li>
  <li>Breadcrumb Parent</li>
  <li><a class="link-effect" href="">Breadcrumb Child</a></li>
</ul> -->

<!-- END Page Header --> 
<!-- Page Content -->
<div class="content">
  <div class="element-wrapper"> 
    <!--     <div class="element-actions"><a class="btn btn-default btn-xs" href="#"><i class="icon-envelop3"></i><span>Send Email Invite to Selected Patients</span></a></div>-->
    <h4 class="element-header">Invite Patients to Access the Portal</h4>
  </div>
  <div class="steps clearfix">
    <ul>
      <li class="first done" aria-disabled="false" aria-selected="true"><a href="javascript:void(0)"><span class="step">1</span> Assign Doctors & Co-ordinators</a></li>
      <li class="done" aria-disabled="false" aria-selected="true"><a href="javascript:void(0)"><span class="step" >2</span> Select Patients to Send Invite</a></li>
      <li class="current" aria-disabled="false"><a href="javascript:void(0)"><span class="step">3</span> Preview & Send Invitation</a></li>
    </ul>
  </div>
  <div class="block">
    <div class="block-content">
      <div class="row form-group">
        <div class="col-sm-12">
          <label>Patients Selected to Receive the Invite</label>
          <br>
          {{getPatients(subList)}}</div>
      </div>
      
      <div class="row form-group">
        <div class="col-sm-12">
          <label for="subject">Subject</label>
          <input type="text" class="form-control" id="subject" value="Invitation to access the Doctor-Patient Collaboration Portal" disabled>
        </div>
      </div>
      
      
      <div class="row form-group">
        <div class="col-sm-12">
          <label for="testCode">Message</label>
          <div rows="6" class="form-control" style="height:350px" disabled><p>Hi [Patient Name],<br>
{{cname}} [Co-ordinator - {{depname}}] has invited you to access your health records on the Doctor-Patient Collaboration Portal developed by PSG Hospitals. 
Learn what's in your files including Medication History, Lab Results and Notes from your Doctors.
<br>
You are associated with the following Doctors<br>
[Doctors]
<br>
<a href src="/pdc-ui">Click on the link to onboard</a><br>

By clicking the above link, you are indicating that you are the patient or the authorized representative of the patient who has been assigned this patient portal account. You must also agree to our Terms of Agreement and Privacy Policy.
<br>
The link will be active for 48 hours during which you can set the password and activate your account.
</p>
<p>Thanks<br>
PSG Hospitals Team</p></div>
        </div>
      </div>
    </div>
  </div>
  <div class="clearfix"></div>
  <div class="row">
    <div class="form-group pull-right">
      <div class="col-sm-12">
        <button class="btn btn-secondary push-10-r" type="submit"  data-ui-sref= "patientOnboard2"><i class="icon-close2 text-danger push-5-r"></i>Cancel</button>
        <button class="btn btn-default" type="submit" ng-click= "sendmail()"><i class="icon-envelop3 push-5-r"></i>Send Email Invite</button>
      </div>
    </div>
    <div class="clearfix"></div>
    
    <!-- END Page Content --></div>
</div>
