.menu-top .nav {
    float:right;
}

.menu-top .dropdown-menu {
float:none;
}

a {
    color: #D37E04;
    text-decoration: none;
    cursor: pointer;
}

.form-control:focus {
  border-color: #D37E04;

}

.select2-container--default .select2-selection--multiple .select2-selection__choice {
background-color: #E5694C;
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
    background-color: #E5694C;

}

.css-radio-primary input:checked + span:after {
  background-color: #E5694C;
}

.css-radio {
    margin:2px 0;
    font-size: 1.1em;
}

/* MY STYLE - ONBOARD */
.capital{text-transform: capitalize;}
.block-content1 { cursor: ns-resize; }
/*END OF MY STYLE - ONBOARD */


a:focus,
a:hover, a:active  {
    color: #DE4320,
    /* text-decoration: underline */
}

#page-container {
  background: #505D6D;
  /* background-image: url(../img/bg-linen.jpg); */
  background-repeat: repeat;
  background-position: top left;
  border-radius:0;
 }

.element-wrapper .element-search input {
    border-radius: 15px;
    padding: 5px 8px 5px 50px;
    display: block;
    width: 100%;
    outline: none
}

.header-navbar-transparent #header-navbar {
  background-color: #82403b;
  color: #fff;
 -webkit-box-shadow: inset 0px 2px 1px rgba(255,255,255,0.1), 0px 2px 3px 0px rgba(0,0,0,0.2);
  box-shadow: inset 0px 2px 1px rgba(255,255,255,0.1), 0px 2px 3px 0px rgba(0,0,0,0.2);
  border-bottom: 1px solid #542420;

 }

 #main-container {
background-color: #f3eee7;
    border-top: none;
    border-radius: 0px 0px 4px 4px;
     -webkit-box-shadow: inset 2px 0px 2px 0px rgba(255, 255, 255, 0.5);
    box-shadow: inset 2px 0px 2px 0px rgba(255, 255, 255, 0.5);
 }


hr {
    border-color: rgba(0, 0, 0, 0.07)
}

.padded-tb {
    padding:5px 0 !important;
}




.navbar-brand img {
     -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 0 rgba(255, 255, 255, 0.1);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 0 rgba(255, 255, 255, 0.1);
}




.profile-sections-header-w {
    border-bottom: 1px solid #696662;
    color: #C58035;
    }

.text-orange {
    color: #D37E04 !important;
}

.text-white {
    color: wheat !important;
}

.text-burnt {
    color: #D37E04;
}

.text-uppercase {
  text-transform: uppercase;
}

.align-c{
    text-align:center;
}

.patient_img img {
    max-width:75px;
}

.patient_img {
    float:left;
    margin-right:15px;
    -webkit-box-shadow: inset 1px 1px 2px 0px rgba(0,0,0,0.2), 0px 1px 2px 0px #fff;
  box-shadow: inset 1px 1px 2px 0px rgba(0,0,0,0.2), 0px 1px 2px 0px #fff;
}

.element-wrapper .element-header:after {
    background-color: #E5694C;
}

.nav-pills .nav-link.active, .nav-pills .nav-item.show .nav-link,
.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus {
  color: #fff;
  background-color: #D37E04;
}

.patient_heading {
 border-bottom:1px dashed #C8C7C2;
 padding:0 ;
 margin:0 0 15px 0;
}


.patient_heading h4, .patient_heading h5 {
padding: 0 0 10px 0;
margin:0;
    color: #696662;

}

.block {
    background-color: #f7f7f7;
   -webkit-box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.15);
    border: 1px solid #CECAC4;
    border-bottom: 1px solid #B2ACA4;
    border-radius: 4px;
}

 .block-content {
     padding: 15px;
 }

 .test-content {
     padding: 5px;
 }

 .select2-container.input-xs {
  height: 24px;
  padding:2px !important
}

.block-white {
  background-color: #fff;
  -webkit-box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.15);
  border: 1px solid #CECAC4;
  border-bottom: 1px solid #B2ACA4;
  border-radius: 4px;
}
.block-white.glossed {
  background-color: #F9F8F7;
  -webkit-box-shadow: 0px 2px 8px 0px rgba(0,0,0,0.15), inset 1px 2px 2px 0px #fff;
  box-shadow: 0px 2px 8px 0px rgba(0,0,0,0.15), inset 1px 2px 2px 0px #fff;
}

.block-white.glossed .value-self {
  text-shadow: 1px 1px 2px #fff;
}

 .company {
    color: #999;
    padding: 3px 0
}
 .company {
    color: #00a2ff;
}
 .jobloc {
    color: #555;
}
.jobloc span {
    padding-left:5px;

}

.bg-allergies {
    background-color: #DD6C4A;
}

.text-allergies {
   color: #DD6C4A !important;;
}

.text-immune {
   color: #B26F95 !important;;
}

.bg-shots {
    background-color: #E09B58;
}

.text-shots {
   color: #E09B58 !important;
}

.bg-procedures {
    background-color: #526EB2;
}

.bg-patient {
    background-color: #74B78A;
}


.schedule {
	margin-left: 0;
  padding: 0;
  list-style: none;
  width: auto;
}
.schedule li {
  line-height: 2em;
}
.schedule li:before {
  float: left;
  width: 0;
  white-space: nowrap;
  content: "- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - ";
}
.schedule span:first-child {
  padding-right: 10px;
  background: #FCF9F3;
}
.schedule span + span {
  float: right;
  padding-left: 0;

}

.circle {
  height: 50px;
  width: 50px;
  border-radius: 100%;
  margin-right:10px;
  padding-top:2px;
}

.medicine i {
    float: left;
    /* height: 100%; */
    display: inline-block;
    /* padding: 20px 16px; */
    padding: 0px 5px 0 0;
    margin-right:10px;
}

ul.legend {
    margin-top:-15px;
}

ul.legend li .circle {

display: inline-block;
margin-right:-2px;

}

ul.legend li {

display: inline-block;
margin-right:1.5em;

}

ul.legend li:last-child {
    margin-right:0;
}

.timed-activities {
    margin-bottom: 1em
}
.timed-activity {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 2em;
    font-size: 1.08em
}
.timed-activity .ta-date {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 130px;
    flex: 0 0 130px;
    color: rgba(0, 0, 0, 0.4);
    position: relative;
    text-align: center
}
.timed-activity .ta-date span {
    position: relative;
    display: inline-block
}
.timed-activity .ta-date span:after {
    content: "";
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    bottom: -30px;
    width: 16px;
    height: 16px;
    border: 3px solid #E5694C;
    border-radius: 8px;
    background-color: #fff
}
.timed-activity .ta-date:before {
    content: "";
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    bottom: -20px;
    width: 1px;
    top: 70px;
    background-color: rgba(0, 0, 0, 0.1)
}
.timed-activity .ta-record-w {
    padding-left: 40px
}
.timed-activity .ta-record {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 10px;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start
}
.timed-activity .ta-timestamp {
    position: relative;
    padding-right: 40px;

    color: rgba(0, 0, 0, 0.4);
    width: 110px;
    white-space: nowrap
}
.timed-activity .ta-timestamp strong {
    color: #3E4B5B;
        font-size:1.3em;
}

.timed-activity .ta-activity a {
    display: inline-block;
    padding-bottom: 1px;
    color: #E5694C;
    border-bottom: 1px solid #E5694C
}
.timed-activity .ta-activity a:hover {
    text-decoration: none;
    color: #1747a1;
    border-bottom-color: #1747a1
}
.timed-activities.compact .timed-activity {
    display: block;
    padding-left: 30px;
    position: relative
}
.timed-activities.compact .timed-activity:before {
    position: absolute;
    width: 1px;
    background-color: rgba(0, 0, 0, 0.1);
    bottom: 0px;
    top: 45px;
    content: "";
    left: 8px
}
.timed-activities.compact .timed-activity .ta-date {
    -webkit-box-flex: 0;
    -ms-flex: 0;
    flex: 0;
    text-align: left;
    margin-bottom: 1.5em
}
.timed-activities.compact .timed-activity .ta-date:before {
    display: none
}
.timed-activities.compact .timed-activity .ta-date span:after {
    left: -30px;
    top: 50%;
    bottom: auto;
    right: auto;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%)
}
.timed-activities.compact .timed-activity .ta-record-w {
    padding-left: 0px
}
.timed-activities.compact .timed-activity .ta-record {
    display: block
}
.timed-activities.compact .timed-activity .ta-timestamp {
    font-size: .81em;
    margin-bottom: 5px
}
.timed-activities.compact .timed-activity .ta-timestamp:after {
    right: auto;
    left: -20px;
    font-size: 8px
}
.timed-activities.compact .timed-activity .ta-activity {
    font-size: .9em;
    margin-bottom: 10px;
    padding-bottom: 15px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05)
}

.feeds {
    margin: 0px;
    padding: 0px
}
.feeds li {
    list-style: none;
    padding: 5px 10px;
    display: block
}
.feeds li:hover {
    background: #ebf3f5
}
.feeds li>div {
    width: 40px;
    height: 40px;
    margin-right: 5px;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    border-radius: 100%
}
.feeds li>div i {
    line-height: 40px
}
.feeds li span {
    float: right;
    width: auto;
    font-size: 12px
}


html body .bg-light-primary {
    background-color: #f1effd
}
html body .bg-light-success {
    background-color: #e8fdeb
}
html body .bg-light-info {
    background-color: #cfecfe
}
html body .bg-light-extra {
    background-color: #ebf3f5
}
html body .bg-light-warning {
    background-color: #fff8ec
}
html body .bg-light-danger {
    background-color: #f9e7eb
}
html body .bg-light-inverse {
    background-color: #f6f6f6
}





/* Prescriptions */

.sub-title { text-transform: capitalize; font-weight: 500; padding-bottom: 10px; position: relative; margin-bottom: 24px; }
.sub-title::before { position: absolute; left: 0; bottom: 0; width: 50px; height: 1px; background-color: #E5694C; content: ""; }
.version-wrapper .element-header:after {
    background-color: transparent;
}

/* Notifications*/

.nav-header .dropdown-menu.notify-drop {
    min-width: 330px;
    background-color: #fff;
    min-height: 360px;
    max-height: 360px;
}
.nav-header .dropdown-menu.notify-drop .notify-drop-title {
    border-bottom: 1px solid #e2e2e2;
    padding: 5px 15px 10px 15px;
        font-weight:500;
    text-transform:uppercase;
    font-size:14px;
    text-shadow: 1px 1px 2px #fff;
    color: #444


}
.nav-header .dropdown-menu.notify-drop .drop-content {
        min-height: 280px;
    max-height: 280px;
    overflow-y: scroll;

}

.nav-header .dropdown-menu.notify-drop .drop-content::-webkit-scrollbar-thumb
{
    background-color: #ccc;
}
.nav-header .dropdown-menu.notify-drop .drop-content > li {
    border-bottom: 1px solid #e2e2e2;
    padding: 10px 0px 5px 0px;
}


.nav-header .dropdown-menu.notify-drop .drop-content > li:nth-child(2n+0) {
    background-color: #fafafa;
}
.nav-header .dropdown-menu.notify-drop .drop-content > li:after {
    content: "";
    clear: both;
    display: block;
}
.nav-header .dropdown-menu.notify-drop .drop-content > li:hover {
    background-color: #FCF7EC;
}
.nav-header .dropdown-menu.notify-drop .drop-content > li:last-child {
    border-bottom: none;
}
.nav-header .dropdown-menu.notify-drop .drop-content > li .notify-img {
   width: 40px;
    height: 40px;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    border-radius: 100%
}

.nav-header .dropdown-menu.notify-drop .drop-content > li .notify-img i {
    line-height: 40px
}
.nav-header .dropdown-menu.notify-drop .allRead {
    margin-right: 7px;
}
.nav-header .dropdown-menu.notify-drop .rIcon {
    float: right;
    color: #999;
}

.nav-header .dropdown-menu.notify-drop .title {
    color: #222;
    font-weight:600;
}
.nav-header .dropdown-menu.notify-drop .rIcon:hover {
    color: #333;
}
.nav-header .dropdown-menu.notify-drop .drop-content > li a {
    font-size: 13px;
    font-weight: normal;
}

.nav-header .dropdown-menu.notify-drop .drop-content > li a:hover {
text-decoration:none;
}

.nav-header .dropdown-menu.notify-drop .drop-content > li {
    font-weight: bold;
    font-size: 12px;
}

.nav-header .dropdown-menu.notify-drop .drop-content .pd-l0 {
    padding-left: 0;
}
.nav-header .dropdown-menu.notify-drop .drop-content > li p {
    font-size: 12px;
    color: #666;
    font-weight: normal;
    margin: 3px 0;
}

.nav-header .dropdown-menu.notify-drop .notify-drop-footer {
    border-top: 1px solid #e2e2e2;
    bottom: 0;
    position: relative;
    padding: 8px 15px;
}
.nav-header .dropdown-menu.notify-drop .notify-drop-footer a {
    color: #777;
    text-decoration: none;
}
.nav-header .dropdown-menu.notify-drop .notify-drop-footer a:hover {
    color: #333;
}

.changed-up .changed-icon {
  color: #65724A;
}
.changed-up .changed-value {
  color: #485430;
  background-color: #D9EFAE;
  padding: 2px 4px;
}
.changed-down .changed-icon {
  color: #82403F;
}
.changed-down .changed-value {
  color: #843C3B;
  background-color: #F7BCBB;
  padding: 2px 4px;
}


.box-title{
    font-weight:500;
    text-transform:uppercase;
    font-size:14px;
    text-shadow: 1px 1px 2px #fff;
    color: "";
}
.box {
     background-color: #F9F7F4;
    border-bottom: 1px solid #bbb;
    -webkit-box-shadow: inset 0px -2px 2px 0px rgba(0,0,0,0.05), inset 1px 1px 2px 0px #fff;
    box-shadow: inset 0px -2px 2px 0px rgba(0,0,0,0.05), inset 1px 1px 2px 0px #fff;
    border-radius: 4px 4px 0px 0px;
    padding:15px;
}



.stats-row{
    margin:15px 0 0 0;

}
.stat-item{
    display:inline-block;
    padding-right:15px;
    color: #888;
    font-size:16px;
    font-weight:300;
    text-align:center;
}

.stat-item strong {
    color: #444;
    font-size:20px;
}

.stat-item, .patient-bio {

    border-right: 1px solid #ddd;
    -webkit-box-shadow: 1px 0px 0px 0px #ffffff;
    box-shadow: 1px 0px 0px 0px #ffffff;
}

.patient-bio i {
    color: #2980B9;
    margin-right:10px;
}

.patient-pad {
    padding:30px;
}

.patient-bio .patient-name {
    font-size:20px;
}

.stat-item:first-child {
    padding-left:0;
}

.donut-chart {
    margin:0 auto;
    text-align:center;
}

.nav-atabs {
    border-bottom: 1px solid #B2ACA4;
    background:#F9F7F4;
    margin: 0;
}
.nav-atabs>li {
    float: left;
    margin-bottom: -1px
}
.nav-atabs>li>a {
    margin-right: 2px;
    line-height: 1.538462;
    border: 0;
    border-radius: 0
}
.nav-atabs>li>a:hover {

background-color: #fff;

}


.nav-atabs>li.active>a,
.nav-atabs>li.active>a:focus,
.nav-atabs>li.active>a:hover {
    color: #757575;
    background-color: #fff;
    border: 1px solid #B2ACA4;
    border-top:none;
    border-bottom-color: transparent;
    cursor: default
}

.nav-atabs > li.active:first-child a {
    border-left-color: transparent !important;
}

.users-list-w .user-w {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 8px 16px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.08);
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between
}

.users-list-w .user-w:hover {
 background-color: #F9F7F4;
}

.users-list-w .user-w .user-avatar-w {
    width: 50px
}
.users-list-w .user-w .user-avatar-w .user-avatar {
    border-radius: 40px;
    overflow: hidden
}
.users-list-w .user-w .user-avatar-w .user-avatar img {
    max-width: 100%;
    height: auto
}
.users-list-w .user-w.with-status .user-avatar-w {
    position: relative
}
.users-list-w .user-w.with-status .user-avatar-w:before {
    content: "";
    width: 10px;
    height: 10px;
    position: absolute;
    top: 2px;
    right: 2px;
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 0px 3px #fff;
    box-shadow: 0px 0px 0px 3px #fff
}
.users-list-w .user-w.with-status.status-green .user-avatar-w:before {
    background-color: #579D1B
}
.users-list-w .user-w.with-status.status-red .user-avatar-w:before {
    background-color: #e65252
}
.users-list-w .user-w .user-name {
    padding-left: 20px;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1
}
.users-list-w .user-w .user-title {
    margin-bottom: 4px
}
.users-list-w .user-w .user-role {
    font-size: .83em;
    text-transform: uppercase;
    color: rgba(0, 0, 0, 0.8)
}
.users-list-w .user-w .user-action {
    color: #FB9678;

}

.users-list-w .user-w .user-action a:hover {
    text-decoration: none;
}

.labtest-list-w .test-w {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 4px 8px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.08);
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between
}

.labtest-list-w .test-w:hover {
 background-color: #F9F7F4;
}

.d-accordion .labtest-list-w {
    margin:0 -5px;
}

.d-accordion .panel-title[aria-expanded="true"] .icon-plus2:before { content:"\e9b7"; }


.d-accordion .labtest-list-w .test-w:last-child {
    border-bottom:none;
}

.labtest-list-w .test-w .test-name {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1
}
.labtest-list-w .test-w .test-title {
 font-weight:400;
}

.labtest-list-w .test-w .test-action {
    color: #FB9678;

}

.labtest-list-w .test-w .test-action a:hover {
    text-decoration: none;
}

/*Buttons*/
.btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.428571429;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 4px;
  white-space: nowrap;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}
.btn:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
.btn:hover,
.btn:focus {
  color: #333333;
  text-decoration: none;
}
.btn:active,
.btn.active {
  outline: 0;
  background-image: none;
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}
.btn.disabled,
.btn[disabled],
fieldset[disabled] .btn {
  cursor: not-allowed;
  pointer-events: none;
  opacity: 0.65;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
  box-shadow: none;
}
.btn-default {
  color: #333333;
  background-color: #f4f3ed;
  border-color: #bab9b8;
  -webkit-box-shadow: inset 0px 2px 2px 0px #fff, 0px 1px 3px 0px rgba(0,0,0,0.1);
  box-shadow: inset 0px 2px 2px 0px #fff, 0px 1px 3px 0px rgba(0,0,0,0.1);
  text-shadow: 1px 1px 1px #fff;
  border-bottom: 1px solid #a1a09e;
}
.btn-default:hover,
.btn-default:focus,
.btn-default:active,
.btn-default.active,
.open .dropdown-toggle.btn-default {
  color: #333333;
  background-color: #e5e2d4;
  border-color: #9c9a99;
}
.btn-default:active,
.btn-default.active,
.open .dropdown-toggle.btn-default {
  background-image: none;
}
.btn-default.disabled,
.btn-default[disabled],
fieldset[disabled] .btn-default,
.btn-default.disabled:hover,
.btn-default[disabled]:hover,
fieldset[disabled] .btn-default:hover,
.btn-default.disabled:focus,
.btn-default[disabled]:focus,
fieldset[disabled] .btn-default:focus,
.btn-default.disabled:active,
.btn-default[disabled]:active,
fieldset[disabled] .btn-default:active,
.btn-default.disabled.active,
.btn-default[disabled].active,
fieldset[disabled] .btn-default.active {
  background-color: #f4f3ed;
  border-color: #bab9b8;
}
.btn-primary {
  color: #ffffff;
  background-color: #2980b9;
  border-color: #20638f;
  -webkit-box-shadow: inset 0px 1px 1px 0px rgba(255,255,255,0.3), 0px 1px 3px 0px rgba(0,0,0,0.1);
  box-shadow: inset 0px 1px 1px 0px rgba(255,255,255,0.3), 0px 1px 3px 0px rgba(0,0,0,0.1);
  text-shadow: -1px -1px 1px #164666;
  border-bottom: 1px solid #164666;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
  color: #ffffff;
  background-color: #226998;
  border-color: #15405d;
}
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
  background-image: none;
}
.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {
  background-color: #2980b9;
  border-color: #20638f;
}
.btn-warning {
  color: #ffffff;
  background-color: #f0ad4e;
  border-color: #eea236;
  -webkit-box-shadow: inset 0px 1px 1px 0px rgba(255,255,255,0.3), 0px 1px 3px 0px rgba(0,0,0,0.1);
  box-shadow: inset 0px 1px 1px 0px rgba(255,255,255,0.3), 0px 1px 3px 0px rgba(0,0,0,0.1);
  text-shadow: -1px -1px 1px #c77c11;
  border-bottom: 1px solid #df8a13;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning:active,
.btn-warning.active,
.open .dropdown-toggle.btn-warning {
  color: #ffffff;
  background-color: #ed9c28;
  border-color: #d58512;
}
.btn-warning:active,
.btn-warning.active,
.open .dropdown-toggle.btn-warning {
  background-image: none;
}
.btn-warning.disabled,
.btn-warning[disabled],
fieldset[disabled] .btn-warning,
.btn-warning.disabled:hover,
.btn-warning[disabled]:hover,
fieldset[disabled] .btn-warning:hover,
.btn-warning.disabled:focus,
.btn-warning[disabled]:focus,
fieldset[disabled] .btn-warning:focus,
.btn-warning.disabled:active,
.btn-warning[disabled]:active,
fieldset[disabled] .btn-warning:active,
.btn-warning.disabled.active,
.btn-warning[disabled].active,
fieldset[disabled] .btn-warning.active {
  background-color: #f0ad4e;
  border-color: #eea236;
}
.btn-danger {
  color: #ffffff;
  background-color: #a3554f;
  border-color: #924c47;
  -webkit-box-shadow: inset 0px 1px 1px 0px rgba(255,255,255,0.3), 0px 1px 3px 0px rgba(0,0,0,0.1);
  box-shadow: inset 0px 1px 1px 0px rgba(255,255,255,0.3), 0px 1px 3px 0px rgba(0,0,0,0.1);
  text-shadow: -1px -1px 1px #5e312e;
  border-bottom: 1px solid #6f3a36;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger:active,
.btn-danger.active,
.open .dropdown-toggle.btn-danger {
  color: #ffffff;
  background-color: #884742;
  border-color: #693733;
}
.btn-danger:active,
.btn-danger.active,
.open .dropdown-toggle.btn-danger {
  background-image: none;
}
.btn-danger.disabled,
.btn-danger[disabled],
fieldset[disabled] .btn-danger,
.btn-danger.disabled:hover,
.btn-danger[disabled]:hover,
fieldset[disabled] .btn-danger:hover,
.btn-danger.disabled:focus,
.btn-danger[disabled]:focus,
fieldset[disabled] .btn-danger:focus,
.btn-danger.disabled:active,
.btn-danger[disabled]:active,
fieldset[disabled] .btn-danger:active,
.btn-danger.disabled.active,
.btn-danger[disabled].active,
fieldset[disabled] .btn-danger.active {
  background-color: #a3554f;
  border-color: #924c47;
}
.btn-success {
  color: #ffffff;
  background-color: #7ea568;
  border-color: #71995b;
  -webkit-box-shadow: inset 0px 1px 1px 0px rgba(255,255,255,0.3), 0px 1px 3px 0px rgba(0,0,0,0.1);
  box-shadow: inset 0px 1px 1px 0px rgba(255,255,255,0.3), 0px 1px 3px 0px rgba(0,0,0,0.1);
  text-shadow: -1px -1px 1px #4e693e;
  border-bottom: 1px solid #597948;
}
.btn-success:hover,
.btn-success:focus,
.btn-success:active,
.btn-success.active,
.open .dropdown-toggle.btn-success {
  color: #ffffff;
  background-color: #6a8f55;
  border-color: #557244;
}
.btn-success:active,
.btn-success.active,
.open .dropdown-toggle.btn-success {
  background-image: none;
}
.btn-success.disabled,
.btn-success[disabled],
fieldset[disabled] .btn-success,
.btn-success.disabled:hover,
.btn-success[disabled]:hover,
fieldset[disabled] .btn-success:hover,
.btn-success.disabled:focus,
.btn-success[disabled]:focus,
fieldset[disabled] .btn-success:focus,
.btn-success.disabled:active,
.btn-success[disabled]:active,
fieldset[disabled] .btn-success:active,
.btn-success.disabled.active,
.btn-success[disabled].active,
fieldset[disabled] .btn-success.active {
  background-color: #7ea568;
  border-color: #71995b;
}
.btn-info {
  color: #ffffff;
  background-color: #5bc0de;
  border-color: #46b8da;
  -webkit-box-shadow: inset 0px 1px 1px 0px rgba(255,255,255,0.3), 0px 1px 3px 0px rgba(0,0,0,0.1);
  box-shadow: inset 0px 1px 1px 0px rgba(255,255,255,0.3), 0px 1px 3px 0px rgba(0,0,0,0.1);
  text-shadow: -1px -1px 1px #2390b0;
  border-bottom: 1px solid #28a1c5;
}
.btn-info:hover,
.btn-info:focus,
.btn-info:active,
.btn-info.active,
.open .dropdown-toggle.btn-info {
  color: #ffffff;
  background-color: #39b3d7;
  border-color: #269abc;
}
.btn-info:active,
.btn-info.active,
.open .dropdown-toggle.btn-info {
  background-image: none;
}
.btn-info.disabled,
.btn-info[disabled],
fieldset[disabled] .btn-info,
.btn-info.disabled:hover,
.btn-info[disabled]:hover,
fieldset[disabled] .btn-info:hover,
.btn-info.disabled:focus,
.btn-info[disabled]:focus,
fieldset[disabled] .btn-info:focus,
.btn-info.disabled:active,
.btn-info[disabled]:active,
fieldset[disabled] .btn-info:active,
.btn-info.disabled.active,
.btn-info[disabled].active,
fieldset[disabled] .btn-info.active {
  background-color: #5bc0de;
  border-color: #46b8da;
}

.btn-lg {
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 6px;
}
.btn-sm,
.btn-xs {
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}
.btn-xs {
  padding: 1px 5px;
}
.btn-block {
  display: block;
  width: 100%;
  padding-left: 0;
  padding-right: 0;
}
.btn-block + .btn-block {
  margin-top: 5px;
}
input[type="submit"].btn-block,
input[type="reset"].btn-block,
input[type="button"].btn-block {
  width: 100%;
}

.standard-table {
  width: 100%;
}

 .standard-table {
    border-collapse: collapse !important;
       border: none !important;
       margin-bottom:0;
  }
  .standard-table th,
  .standard-table td {
    border: 1px solid #ddd;

  }
  .standard-table th {
      font-weight:400;
  }

.standard-table thead > tr > th,
.standard-table tbody > tr > th,
.standard-table tfoot > tr > th,
.standard-table thead > tr > td,
.standard-table tbody > tr > td,
.standard-table tfoot > tr > td {
  padding: 8px;
  line-height: 1.428571429;
  vertical-align: top;
  border-top: 1px solid #dddddd;
}
.standard-table thead > tr > th {
  vertical-align: bottom;
  border-bottom: 1px solid #dddddd;
  background-color: #F9F7F4;
  border-top:1px transparent;
}

.table-striped > tbody > tr:nth-child(odd) > td,
.table-striped > tbody > tr:nth-child(odd) > th {
  background-color: #f9f9f9;
}

.standard-table td:first-child, .standard-table th:first-child {
    border-left:none;
}

.standard-table td:last-child, .standard-table th:last-child {
    border-right:none;
}




table.standard-table tr.panel-heading td {
     background-color: #F9F7F4 !important;
border-top: 1px solid #bbb !important;
border-bottom: 1px solid #bbb !important;
    padding:5px 10px !important;

}


table.nopad td {
    padding:0 10px !important;
    vertical-align: middle !important;
    border-right:none !important;
    border-left:none !important;
}

table.nopad td input {
    margin:2px 0;
  -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;

}

.centered{
    text-align: center;
}

.bordered{
border-right: 1px solid #ddd;
    -webkit-box-shadow: 1px 0px 0px 0px #ffffff;
    box-shadow: 1px 0px 0px 0px #ffffff;
}

.border-top {
    border-top: 1px solid #ddd !important;
}

.deleterow {
    position:absolute;
    right:0px;
    top:10px;
}



/* Timeline */

.activity-boxes-w .activity-box {
    border-radius:6px;
    background-color:#F9F7F4;
   -webkit-box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.15);
    border: 1px solid #CECAC4;
    border-bottom: 1px solid #B2ACA4;
    border-radius: 4px;
}
 .activity-boxes-w .activity-box-w{
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-align:center;
    -ms-flex-align:center;
    align-items:center;
    padding:0.8em 0px;
    position:relative
}
.activity-boxes-w .activity-box-w:before {
    content:"";
    display:block;
    width:3px;
    background-color:#c0cadd;
    top:0px;
    bottom:0px;
    left:0px;
    position:absolute
}



.activity-boxes-w .activity-box-w:after{
    content:"";
    display:block;
    width:20px;
    background-color:#c0cadd;
    top:50%;
    height:1px;
    left:5px;
    position:absolute;
    z-index:1
}
.activity-boxes-w .activity-box-w:first-child:before{
    top:50%
}
.activity-boxes-w .activity-box-w:last-child:before{
    bottom:50%
}
.activity-boxes-w .activity-time{
    -webkit-box-flex:0;
    -ms-flex:0 0 10px;
    flex:0 0 10px;
    text-transform:uppercase;
    color:rgba(0,0,0,0.4);
    text-align:right;
    padding-right:24px;
    font-size:0px;
}
.activity-boxes-w .activity-box{
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-flex:1;
    -ms-flex:1;
    flex:1;
    position:relative;
    -webkit-box-align:center;
    -ms-flex-align:center;
    align-items:center
}
.activity-boxes-w .activity-box:before {
    position:absolute;
    top:50%;
    left:-29px;
    content:"";
    width:12px;
    height:12px;
    border:2px solid #60769f;
    background-color:#f2f4f8;
    border-radius:20px;
    -webkit-transform:translateY(-50%);
    transform:translateY(-50%);
    z-index:2
}

.activity-boxes-w .toggler[aria-expanded="true"] .icon-plus2:before { content:"\e9b7"; }

.activity-boxes-w .toggler:after {
  content: 'Show Details';
}

.activity-boxes-w .toggler[aria-expanded="true"]:after {
  content: 'Hide Details';
}

.addnode {
 position:absolute;
 left:11px;
 top:-10px;
 font-size:12px;
}

.addnodelink {
 position:absolute;
 left:30px;
 top:-10px;
 font-size:14px;
margin-bottom:20px;
}

.toggler:parent {

}
.toggler[aria-expanded="true"]:parent {
  border-bottom: 1px solid #ccc !important;
}



.activity-boxes-w .activity-info{
    -webkit-box-flex:1;
    -ms-flex:1;
    flex:1
}


.block1 {
    width:100%;
}

.block1 .box {

    padding:10px;
}

p.nodedesc {
      margin-bottom:0;
      color: #226998
}





hr {
     border-top: 1px solid #ddd;
    -webkit-box-shadow: 0px 1px 0px 0px #ffffff;
    box-shadow: 0px 1px 0px 0px #ffffff;

}


/*Responsive Table - Convert Table Columns to Card Rows*/
@media only screen and (max-width: 40em) {
.table-striped tbody tr:nth-of-type(odd) {
    background: none;

}

 .table-striped-c tbody td:nth-of-type(even) {
    background: none;

}

td[data-title="Normal Values"] {
    display: none;
}


.menu-top .nav {
    float:none;
}

.nav-header .dropdown-menu.notify-drop {
    left:-190px;
}

.nav-atabs>li>a {
    padding:5px;
}

.nav-atabs>li.active>a,
.nav-atabs>li.active>a:focus,
.nav-atabs>li.active>a:hover {
    color: #757575;
    border:none;
    cursor: default
}

.patient-mobile-row {
padding:10px;
border-bottom: 1px solid #ddd;
    -webkit-box-shadow: 0px 1px 0px 0px #ffffff;
    box-shadow: 0px 1px 0px 0px #ffffff;
}



}

/* Large desktops and laptops */
@media (min-width: 1200px) {

.navbar-brand img {
     margin:-18px 0 0 -15px;
     max-height:56px;
 }

}

/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {

.navbar-brand img {
     margin:-18px 0 0 -15px;
     max-height:56px;
 }

}

.list-inline li i {
    margin-right:10px;
}

.input-group-addon label {
    margin-bottom: 0 !important;
}

#myChart-license-text, #dashChart-license-text, #subscribedChart-license-text, #activeChart-license-text  {
    display:none;
}


.dropzone-small {
    max-height:50px !important;
}


.ibox-content {
  color: inherit;
}

.light-blue {
background: #f0f4f9;
}

.info-stats4 {
  padding: 15px;
  background: #f0f4f9;


  -webkit-border-radius: 0.15rem;
  -moz-border-radius: 0.15rem;
  border-radius: 0.15rem; }
  .info-stats4 .sale-num {
    margin: 0 0 0 55px; }
    .info-stats4 .sale-num h4 {
      margin: 0;
      line-height: 100%; }
    .info-stats4 .sale-num p {
      margin: 0;
      padding: 0;
      color: #8796af; }
  .info-stats4 .icon-type {
    height: 40px;
    width: 40px;
    float: left;
    position: relative;
    margin-right: 5px;
    text-align: center;
/*    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    border: 1px solid #25A6F7;
    box-shadow: -4px 4px 0 #d5dfeb;*/ }
/*    .info-stats4 .icon-type i {
      font-size: 32px !important;
      line-height: 32px !important;
      text-align: center;
      color: #25A6F7; }*/

.last-visit {
    position:absolute;
    background: #D37E04;
    padding:2px 5px;
    right:0px;
    top:-15px;
    color: #eee;
}

.badge {
    font-weight:400;
}

.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
}



/*Steps*/

.steps>ul>li:after,
.steps>ul>li:before {
    content: '';
    z-index: 9;
    display: block;
    position: absolute
}

.steps {
    position: relative;
    display: block;
    width: 100%
}

.steps .current-info {
    position: absolute;
    left: -99999px
}

.steps>ul {
    display: table;
    width: 100%;
    table-layout: fixed;
    margin: 0;
    padding: 0;
    list-style: none
}

.steps>ul>li {
    display: table-cell;
    width: auto;
    vertical-align: top;
    text-align: center;
    position: relative
}

.steps>ul>li a {
    position: relative;
    padding-top: 52px;
    margin-top: 20px;
    margin-bottom: 20px;
    display: block
}

.steps>ul>li:before {
    left: 0
}

.steps>ul>li:after {
    right: 0
}

.steps>ul>li:first-child:before,
.steps>ul>li:last-child:after {
    content: none
}


.steps>ul>li.current>a {
    color: #2f3d4a;
    cursor: default
}

.steps>ul>li.current .step {
    border-color: #E5694C;
    background-color: #fff;
    color: #E5694C
}

.steps>ul>li.disabled a,
.steps>ul>li.disabled a:focus,
.steps>ul>li.disabled a:hover {
    color: #999;
    cursor: default
}

.steps>ul>li.done a,
.steps>ul>li.done a:focus,
.steps>ul>li.done a:hover {
    color: #999
}

.steps>ul>li.done .step {
    background-color: #E5694C;
    border-color: #E5694C;
    color: #fff
}

.steps>ul>li.error .step {
    border-color: #f62d51;
    color: #f62d51
}

.error{
    color: #FB2730;
    font-style: italic;
}

.steps .step {
    background-color: #fff;
    display: inline-block;
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -24px;
    z-index: 10;
    text-align: center
}

.steps>ul>li:after,
.steps>ul>li:before {
    top: 45px;
    width: 50%;
    height: 3px;
    background-color: #E5694C
}

.steps>ul>li.current:after,
.steps>ul>li.current~li:after,
.steps>ul>li.current~li:before {
    background-color: #ddd
}

.steps .step {
    width: 50px;
    height: 50px;
    line-height: 45px;
    border: 3px solid #ddd;
    font-size: 1.3em;
    border-radius: 50%
}


@media (max-width:768px) {
    .steps>ul {
        margin-bottom: 20px
    }
    .steps>ul>li {
        display: block;
        float: left;
        width: 50%
    }
    .steps>ul>li>a {
        margin-bottom: 0
    }
    .steps>ul>li:first-child:before {
        content: ''
    }
    .steps>ul>li:last-child:after {
        content: '';
        background-color: #E5694C
    }

}@media (max-width:480px) {
    .steps>ul>li {
        width: 100%
    }
    .steps>ul>li.current:after {
        background-color: #E5694C
    }

}/* Message Posts */

/* News Feed */
.news-feed{
    margin:0;
}
.news-feed .news-body{
    border-bottom:1px solid rgba(120,130,140,.13);
    display:table;
    padding:15px 15px 0 5px;
    width:100%;
}
.news-feed .news-body:hover{
    background:#F9F7F4
}
.news-feed .news-content {
    padding-left:15px;
    vertical-align:top
}
.news-feed .news-content h5{
    margin:0;
    font-size:14px;
    color: #D97E04;
    white-space:nowrap
}
.news-feed .news-content .news-desc{
    display:block;
    margin:6px 0;
    line-height:25px;
    color:#555;
    height:50px;
    overflow:hidden
}
.news-feed .news-content .time{
    display:block;
    color:#999
}
.input-group {
    width:100%;
}
.double-input .form-control {
    width: 50%;
 }
.triple-input .form-control {
    width: 33.3%;
 }
 .four-input .form-control {
    width: 25%;
 }
 .five-input .form-control {
     width:20% !important;
 }
.triple-input .form-control:focus {
    border-right-width: 1px;
}
.input-group input, .input-group select {
    width:auto;
}
.modal-body {
    background: #fff;
}
.modal-header, .modal-footer {
    background: #F4F3ED;
}
.section-sub-title {
    border-bottom: 1px solid #E0DACF;
    padding-bottom: 10px;
    color: #493a38;
    text-transform: uppercase;
    font-size: 14px;
    margin: 20px 0;
    }

/* for autocomplete  */
* { box-sizing: border-box; }

.autocomplete {
    /*the container must be positioned relative:*/
    position: relative;
    display: inline-block;
  }
  input {
    border: 1px solid transparent;
    background-color: #f1f1f1;
    padding: 10px;
    font-size: 16px;
  }
  input[type=number]::-webkit-outer-spin-button,
  input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
     margin: 0;
    }

input[type=number] {
    -moz-appearance:textfield;
}
  input[type=text] {
    background-color: #f1f1f1;
    width: 100%;
  }
  input[type=submit] {
    background-color: DodgerBlue;
    color: #fff;
    cursor: pointer;
  }
  .autocomplete-items {
    position: absolute;
    border: 1px solid #d4d4d4;
    border-bottom: none;
    border-top: none;
    z-index: 99;
    /*position the autocomplete items to be the same width as the container:*/
    top: 100%;
    left: 0;
    right: 0;
  }
  .autocomplete-items div {
    padding: 10px;
    cursor: pointer;
    background-color: #fff; 
    border-bottom: 1px solid #d4d4d4; 
  }
  .autocomplete-items div:hover {
    /*when hovering an item:*/
    background-color: #e9e9e9; 
  }
  .autocomplete-active {
    /*when navigating through the items using the arrow keys:*/
    background-color: DodgerBlue !important; 
    color: #ffffff; 
  }

@media (max-width:480px) {
    .steps>ul>li {
        width: 100%
    }
    .steps>ul>li.current:after {
        background-color: #E5694C
    }

}

/** UI Select Box Css **/
UI Select Box Styles
/** UI Select Box**/
.ui-select-search {
min-width:100%;
}

.ui-select-choices{
font-size: rem;
}
.ui-select-dropdown.dropdown-menu{
display: block;
margin-top: 0 !important;
}
.ui-select-dropdown label {
display: block;
cursor: text;
}
.ui-select-match-item.btn{
padding: 0.2rem 0.75rem 0.3rem;
font-size: 1.5;
font-weight: 600;
border: none;
border-radius: 1.875rem;
box-shadow: none !important;
-webkit-appearance: button-bevel;
position: relative;
}
.ui-select-match-item.btn .close {
font-size: 1.5 !important;
opacity: .75;
font-weight: 650;
text-shadow: none;
padding-top: 0.044rem;
}
.ui-select-match-item.btn .close:hover{
opacity: 1;
}
.ui-select-match, .ui-select-container.ui-select-bootstrap.dropdown:focus{
box-shadow: none !important;
outline: 0;
}
.ui-select-multiple.ui-select-bootstrap{
height: auto;
padding: 0.13rem 1.8rem 0.1rem 0.5rem !important;
}
.ui-select-multiple.ui-select-bootstrap .ui-select-match-item {
margin: 2px 3px 2px 0;
}
.ui-select-container.open{
box-shadow: none !important;
outline: 0;
}
.ui-select-container::after{
content: "\f078";
font-family: Font Awesome\ 5 Free;
font-weight: 600;
position: absolute;
right: 12px;
top: 8px;
font-size: 0.75rem;
color: #787C9E;
}
.ui-select-container.ui-select-multiple::after{
top: 7px;
}
.ui-select-match .ui-select-toggle{
padding-right: 1.8rem;
font-weight: 400 !important;
padding: .375rem .75rem !important;
}
.ui-select-container .form-control.ui-select-search{
padding: 0.25rem .75rem !important;
}
.ui-select-match-text{
overflow-x: hidden;
display: inline;
}
.input-group>.ui-select-bootstrap.dropdown{
position: relative;
flex: 1 1 auto;
}
.input-group.input-group-two >.ui-select-bootstrap.dropdown{
width: 10%;
}
.ui-select-placeholder {
color: #aaa;
}

.test-title[aria-expanded="true"] i.icon-plus2::before{
    content: "\e9b7";
}
/* .header-navbar-fixed #header-navbar {
    margin: 0 1.5em;
} */

.view-all-notifications {
    list-style: none;
    margin:0;
    padding:0;
}

.view-all-notifications > li {
    border-bottom: 1px solid #e2e2e2;
    padding: 10px 0px 5px 15px;
}


.view-all-notifications > li:nth-child(2n+0) {
    background-color: #fafafa;
}
.view-all-notifications > li:after {
    content: "";
    clear: both;
    display: block;
}
.view-all-notifications > li:hover {
    background-color: #FCF7EC;
}
.view-all-notifications > li:last-child {
    border-bottom: none;
}
.view-all-notifications > li .notify-img {
   width: 40px;
    height: 40px;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    border-radius: 100%
}

.view-all-notifications > li .notify-img i {
    line-height: 40px
}

.view-all-notifications > li a {

    font-weight: normal;
}

.view-all-notifications > li a:hover {
text-decoration:none;
}

.view-all-notifications > li {
    font-weight: bold;

}

.view-all-notifications .pd-l0 {
    padding-left: 0;
}
.view-all-notifications > li p {
    color: #666;
    font-weight: normal;
    margin: 3px 0;
}

.view-all-notifications li  .datetime{
    font-weight: normal;
    color:#444;
    float:left;
    margin-right:20px;
    vertical-align:middle
}
.view-all-notifications li  .datetime span{
    vertical-align:middle;
    display:block;
    color:#666
}
.patients_selected_sec .slimScrollDiv{
    height: auto !important;
}
.patients_selected_sec .block-content{
    max-height: 100px;
    height: auto !important;
}
.padding-right-20{
    padding-right: 20px;
}
.padding-right-15{
    padding-right: 15px;
}
.inside-test-h6{
    padding-left: 30px;
}
.padding-right-10{
    padding-right: 10px;
}

.msg-content-short{
    height: 70px;
    overflow: hidden;
}
.msg-content-list img{
    max-width: 100% !important;
}

/* Matrix View Node View */

.onoffswitch {
    position: relative; width: 65px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;

}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 2px solid #F5FAFA; border-radius: 20px;
}
.onoffswitch-inner {
    display: block; width: 200%; margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block; float: left; width: 50%; height: 20px; padding: 0; line-height: 20px;
    font-size: 12px; color: white; font-weight: normal;
    box-sizing: border-box;
}
.onoffswitch-inner:before {
    content: "Tree";
    padding-left: 10px;
    background-color: #D37E04; color: #FFFFFF;
}
.onoffswitch-inner:after {
    content: "Table";
    padding-right: 10px;
    background-color: #D37E04; color: #FFFFFF;
    text-align: right;
}
.onoffswitch-switch {
    display: block; width: 14px; margin: 5px;
    background: #FFFFFF;
    position: absolute; top: 0; bottom: 0;
    right: 41px;
    border: 2px solid #F5FAFA; border-radius: 20px;
    transition: all 0.3s ease-in 0s;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px;
}


/******************* Chat Container ********************/

.chat-container {
position: relative;
padding: 1rem;
}

.chat-container li.chat-left,
.chat-container li.chat-right {
display: flex;
flex: 1;
flex-direction: row;
margin-bottom: 40px;
}

.chat-container li img {
width: 48px;
height: 48px;
-webkit-border-radius: 30px;
-moz-border-radius: 30px;
border-radius: 30px;
}

.chat-container li .chat-avatar {
margin-right: 20px;
}

.chat-container li.chat-right {
justify-content: flex-end;
}

.chat-container li.chat-right>.chat-avatar {
margin-left: 20px;
margin-right: 0;
}

.chat-container li .chat-name {
color: #666;
text-align: center;
}

.chat-container li .chat-text {
padding: .4rem 1rem;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
background: #F0F9FF;
line-height: 150%;
position: relative;
}

.chat-container li .chat-text:before {
content: '';
position: absolute;
width: 0;
height: 0;
top: 10px;
left: -20px;
border: 10px solid;
border-color: transparent #ebf8ff transparent transparent;
}

.chat-container li.chat-right>.chat-text {
text-align: right;
background-color: #FFF9F0;
}

.chat-container li.chat-right>.chat-text:before {
right: -20px;
border-color: transparent transparent transparent #fff3f3;
left: inherit;
}

.chat-container li .chat-hour {
padding: 0;
margin-bottom: 10px;
display: flex;
flex-direction: row;
align-items: center;
justify-content: center;
margin: 0 0 0 15px;
}

.chat-container li .chat-hour>span {
font-size: 16px;
color: #50b924;
}

.chat-container li.chat-right>.chat-hour {
margin: 0 15px 0 0;
}

/** Gantt Table **/
.gantt-table-wrapper{
    display: inline-block;
    width: 100%;
    position: relative;
}
.gantt-table-wrapper .gantt-container{
    overflow: auto;
}
.gantt-sidebar table.gantt-table{
    border-right: 3px solid #e8e8e8;
}

.gantt-sidebar table.gantt-table thead tr{
    border-left: 0px;
}
table.gantt-table{
    position: relative;
    width: auto;
    margin-bottom: 0;
    float: left;
}
.gantt-table tr th{
    padding: 0.2em;
    font-size: 0.98em;
    background-color: #F9F9F9;
    border: 1px solid #e8e8e8;
    font-weight: 550;
}
.gantt-table tr.thead_day_height th{
    height: 36px;
}
.gantt-table tr.thead_month_height th{
    min-width: 67px !important;
    white-space: nowrap;
}
.gantt-table .gantt-header-day th{
    min-width: 30px;
    max-width: 30px;
    text-align: center;
}
.gantt-sidebar .gantt-table tr th{
    height: 71px;
    vertical-align: middle;
    padding: 0.5em;
    font-weight: 600;
}
.gantt-table tr td{
    padding: 0.7em;
    font-size: 0.90em;
    border-bottom: 1px solid #e8e8e8;
    vertical-align: middle;
    height: 39px;
}
.gantt-table-wrapper .gantt-container .gantt-table tr td{
    padding: 0.815em 0.7rem !important;
    position: relative;
    border: 1px solid #ddd;
}
.gantt-carete{
    cursor: pointer;
    color: #929292 !important;
    margin-right: 4px;

}
.table.gantt-table>thead>tr>th{
    border-bottom: 1px solid #ddd;
}
.gantt-carete:hover{
    color: #333 !important;
}
.gantt-table .tr-parent td:first-child{
    font-size:.95em;
    font-weight: 600;
}
.gantt-table .tr-child td:first-child{
    padding-left: 0.95em;;
}
.gantt-carete[aria-expanded="true"] .fa-caret-up:before{
    font-family:"LineAwesome";
   content: "\f113";
}
.gantt-carete[aria-expanded="false"] .fa-caret-up:before{
    font-family:"LineAwesome";
    content: "\f110";
}
.task-progress-bar{
    height: 1em;
    position: absolute;
    top: 9px;
    color: rgba(255,255,255,0.9);
    border-radius: 0 !important;
    border:1px solid #ddd;
   /* box-shadow: 0px 2px 7px -3px rgba(0,0,0,0.60);*/
    font-weight: 600;
    display: inline-block;
}
.task-progress-bar .progress-bar{
    border-radius: 0 !important;
    font-size: 0.90em !important;
    color: rgba(255,255,255,0.9);
}

.duplicate-error{
    border-color: #d26a5c !important;
}
.input-group-multiple .form-control{
    width: 50% !important;
}

/* Appointment Booking Calendar */
.book-calendar-grid {
    position: relative;
    min-height: 1px;
}
@media (min-width: 1200px) {
    .book-calendar-grid {
        float: left;
        width: 100%;
    }
}
.book-calendar-grid .book-calendar {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 30px 0;
    text-align: center;
}
.book-calendar-grid .book-calendar h2 {
    font-size: 21px;
    text-transform: uppercase;
    opacity: 0.9;
    text-align: right;
}
.book-calendar-grid .book-calendar h2 a.arrows {
    padding: 0 10px;
    color: #202732;
}
.book-calendar-grid .book-calendar h2 a.arrows:hover {
    cursor: pointer;
}
.book-calendar-grid .book-calendar table {
    width: 100%;
}
.book-calendar-grid .book-calendar table th, .book-calendar-grid .book-calendar table td {
    text-align: center;
}
.book-calendar-grid .book-calendar table thead tr th {
    border-bottom: none;
}
.book-calendar-grid .book-calendar table thead .days {
    background-color: #2794D0;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}
.book-calendar-grid .book-calendar table thead .days th {
    padding: 15px 0;
    color: #f1f1f1;
}
.book-calendar-grid .book-calendar table tbody tr.passdate td:hover {
    cursor: not-allowed;
}
.book-calendar-grid .book-calendar table tbody tr td {
    border: 1px solid #eeeeee;
    padding: 25px 0 !important;
}
.book-calendar-grid .book-calendar table tbody tr td.nextmonth {
    background-color: #f1f1f1;
    opacity: 0.8;
}
.book-calendar-grid .book-calendar table tbody tr td span.date-numer {
    display: inline-block;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    width: 35px;
    height: 35px;
    line-height: 34px;
    border: 2px solid #2794D0;
}
.book-calendar-grid .book-calendar table tbody tr td span.date-numer:hover {
    cursor: pointer;
}
.book-calendar-grid .book-calendar table tbody tr td.passdate:hover {
    cursor: not-allowed;
}
.book-calendar-grid .book-calendar table tbody tr.list-available {
    display: none;
}
.book-calendar-grid .book-calendar table tbody tr.list-available .booked-list {
    position: relative;
    background-color: #0077b0;
    text-align: left;
    padding: 35px 35px 80px 35px !important;
}
.book-calendar-grid .book-calendar table tbody tr.list-available .booked-list .close {
    position: absolute;
    right: 25px;
    top: 25px;
    font-size: 20px;
    opacity: 0.7;
    color: #fff;
}
.book-calendar-grid .book-calendar table tbody tr.list-available .booked-list h4 {
    text-transform: uppercase;
    line-height: 0;
    color: #fff;
    margin-bottom: 40px;
}
.book-calendar-grid .book-calendar table tbody tr.list-available .booked-list .time-book {
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
}
@media (min-width: 1200px) {
    .book-calendar-grid .book-calendar table tbody tr.list-available .booked-list .time-book {
        float: left;
        width: 16.66667%;
    }
}
.book-calendar-grid .book-calendar table tbody tr.list-available .booked-list .time-book .radio {
    border-top: 1px solid rgba(255, 255, 255, 0.6);
    color: #fff;
    padding: 15px 0;
}
.book-calendar-grid .book-calendar table tbody tr.list-available .booked-list .time-book .radio span {
    padding-left: 10px;
}
.book-calendar-grid .book-calendar table tbody tr.list-available .booked-list .btn {
    background-color: #fff;
    color: #5f5e5e !important;
    position: absolute;
    left: 20px;
    bottom: 8px;
    padding: 7px 20px;
}
.book-calendar-grid.modify .book-calendar {
    opacity: 1;
}

.modal.book-an-appointment .modal-dialog {
    max-width: 400px;
}
.modal.book-an-appointment .modal-header {
    background-color: #5cb85c;
    color: #fff;
    padding: 15px 25px;
}
.modal.book-an-appointment .modal-header h4 {
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 0.6px;
}
.modal.book-an-appointment .modal-header .close {
    position: absolute;
    top: 10px;
    right: 18px;
    width: auto;
}
.modal.book-an-appointment .modal-header .close:hover {
    background-color: transparent;
    opacity: 0.8;
}
.modal.book-an-appointment .modal-content {
    padding: 0;
}
.modal.book-an-appointment .modal-body {
    padding: 25px 25px 30px 25px;
}

.modal.book-an-appointment .modal-body i.datetime {
    font-size: 25px;
    color: #0077b0;
    margin-top: 10px;
    opacity: 0.8;
    line-height: 35px;
}

.modal.book-an-appointment .modal-body h4 {
    line-height: 0;
    color: #3b3b3b;
    opacity: 01;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 0.3px;
    margin-bottom: 30px;
}

.divalert {
    color: red;
}

/* CALENDER TABLE */
.currentmonth {
    color: blue;
    text-align: center;
}
.currentday {
    border: 1px solid black;
    color: #00FF00;
    text-align: center;
}

.time-book.time-align{
    width: 100% !important;
    margin-bottom: 35px !important;
}
.time-book.time-align .radio{
    width: 200px;
    float: left;
    margin-top: 0;
    margin-bottom: 0;
}

table.calendar {
    margin:1em 1em 2em 1em;
}
table.calendar td, table.calendar th {
    padding:0.5em;
}
table.calendar {
    display:inline-block;
    *display:inline; zoom:1;
    vertical-align:top;
}

.menu-top ul li a.active{
    color: rgba(255, 255, 255, 1.0);
    background-color: rgba(0, 0, 0, 0.1);
}

.h5-messages{
    white-space: normal !important;
}