<!-- <ul class="breadcrumb">
  <li>Breadcrumb Home</li>
  <li>Breadcrumb Parent</li>
  <li>
    <a class="link-effect" href="">Breadcrumb Child</a>
  </li>
</ul> -->

<!-- END Page Header -->
<!-- Page Content -->
<div class="content">
  <div class="element-wrapper">
    <div class="element-actions">
      <a href="javascript:void(0)" ng-click="addallgroup()" class="add btn btn-default btn-sm" data-target="#testModal"
        data-toggle="modal">
        <i class="icon-add"></i>
        <span>Add Test</span>
      </a>
      <!-- <a href="javascript:void(0)" ng-click="showtestgrp()" class="add btn btn-primary btn-sm" data-target="#testGroupModal" data-toggle="modal">
        <i class="icon-add"></i>
        <span>Add Test Group</span>
      </a> -->
    </div>
    <h4 class="element-header">Add Lab Tests and Groups</h4>
  </div>
  <div class="" ng-show="masterTestAlerts" id="message-div" style="display:none">
  </div>

  <div class="" ng-show="masterAlerts" id="page_level" style="display:none">
  </div>
  <div class="block">
    <div class="block-content">
      <div class="row">
        <div class="col-sm-12">
          <table class="table table-striped table-hover standard-table font-s14 js-dataTable-full">
            <thead>
              <tr>
                <th rowspan="2">Test</th>
                <th rowspan="2">Test Group</th>
                <th rowspan="2">Unit</th>
                <th colspan="3" class="center">Reference Value</th>
              </tr>
              <tr>
                <th width="8%">Men</th>
                <th width="8%">Women</th>
                <th width="8%">Common</th>
              </tr>

            </thead>
            <tbody>
              <tr ng-repeat="tests in allAvailTests">
                <td data-title="Test" class="font-w600">{{tests.testName}}</td>
                <td data-title="Test Group">{{tests.group.groupName}}</td>
                <td data-title="Unit">{{tests.unit}}</td>
                <td data-title="Reference Value - Men">
                  <div ng-show="tests.labValidations[0].gender=='Male'">{{tests.labValidations[0].normalValue}}
                    <span
                      ng-if="tests.labValidations[0].lowValue || tests.labValidations[0].highValue">{{tests.labValidations[0].lowValue}}
                      to {{tests.labValidations[0].highValue}}</span>
                  </div>
                  <div ng-show="tests.labValidations[1].gender=='Male'">{{tests.labValidations[1].normalValue}}
                    <span
                      ng-if="tests.labValidations[1].lowValue || tests.labValidations[1].highValue">{{tests.labValidations[1].lowValue}}
                      to {{tests.labValidations[1].highValue}}</span>
                  </div>
                </td>
                <td data-title="Reference Value - Women">
                  <div ng-show="tests.labValidations[0].gender=='Female'">{{tests.labValidations[0].normalValue}}
                    <span
                      ng-if="tests.labValidations[0].lowValue || tests.labValidations[0].highValue">{{tests.labValidations[0].lowValue}}
                      to {{tests.labValidations[0].highValue}}</span>
                  </div>
                  <div ng-show="tests.labValidations[1].gender=='Female'">{{tests.labValidations[1].normalValue}}
                    <span
                      ng-if="tests.labValidations[1].lowValue || tests.labValidations[1].highValue">{{tests.labValidations[1].lowValue}}
                      to {{tests.labValidations[1].highValue}}</span>
                  </div>
                </td>
                <td data-title="Reference Value - Common">
                  <div ng-show="tests.labValidations[0].gender=='Common'">
                    {{tests.labValidations[0].normalValue}}
                    <span
                      ng-if="tests.labValidations[0].lowValue || tests.labValidations[0].highValue">{{tests.labValidations[0].lowValue}}
                      to {{tests.labValidations[0].highValue}}</span>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>

    <!-- END Page Content -->
  </div>

</div>
<div id="testModal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Add Lab Test</h4>
      </div>
      <div class="modal-body">
        <form name="testForm" id="testForm" ng-validate="validateTestDetails">
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <div>
                  <label for="testCode" class="required">Test Code</label>
                  <input name="testCode" limit-to="15" id="testCode" placeholder="" ng-change="dynamicchange(addtest)"
                    ng-model="addtest.testCode" class="form-control" type="text">
                  <p>
                    <font color="red">{{disp}}</font>
                  </p>
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <div>
                  <label for="testName" class="required">Test Name</label>
                  <input name="testName" limit-to="35" id="testName" placeholder="" ng-change="dynamicchange1(addtest)"
                    ng-model="addtest.testName" class="form-control" type="text">
                  <p>
                    <font color="red">{{disp1}}</font>
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <div>
                  <label for="testGroup" class="required">Test Group</label>
                  <select data-js-select2 class="form-control" placeholder="Please Select Lab Test Group"
                    name="testGroup" id="testGroup" ng-model="addtest.selectedName"
                    ng-options="item.groupName for item in groupsAvaillable">
                  </select>
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <div>
                  <label for="testUnit" class="required">Test Unit</label>
                  <input limit-to="25" name="testUnit" id="testUnit" placeholder="" ng-model="addtest.testUnit"
                    class="form-control" type="text">
                </div>
              </div>
            </div>
          </div>
          <div class="padded-tb">
            <hr />
          </div>
          <h5 class="sub-title">Normal Values</h5>
          <div style="text-align:center;color:red">{{novalue}}</div>
          <div class="row">
            <div class="col-sm-2">For Male</div>
            <div class="col-sm-4">
              <div class="form-group">
                <div>
                  <div class="input-group">
                    <span class="input-group-addon">
                      <input name="male1" id="male1" value="male1" ng-click="disablecheckbox();showInputIfChecked()"
                        ng-model="addtest.maleValue" type="radio" aria-label="..." class="push-5-r">
                      <label>Value</label>
                    </span>
                    <input limit-to="9" type="text" id="value1" name="value1" ng-model="addtest.value_Male"
                      class="form-control" aria-label="...">
                  </div>
                  {{valueerror2}}
                  <!-- /input-group -->
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <div>
                  <div class="input-group">
                    <span class="input-group-addon">
                      <input name="male2" id="male2" value="male2" ng-click="disablecheckbox1();showInputIfChecked()"
                        ng-model="addtest.maleRange" type="radio" aria-label="..." class="push-5-r">
                      <label>Range</label>
                    </span>
                    <input type="text" limit-to="9" name="from1" id="from1" ng-model="addtest.from1"
                      class="form-control" placeholder="From" />
                    <span class="input-group-addon" style="border-left: 0; border-right: 0;">-</span>

                    <input type="text" limit-to="9" name="to1" id="to1" ng-model="addtest.to1" class="form-control"
                      placeholder="To" />

                  </div>
                  {{valueerror3}}
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-2">For Female</div>
            <div class="col-sm-4">
              <div class="form-group">
                <div>
                  <div class="input-group">
                    <span class="input-group-addon">
                      <input name="female1" id="female1" value="female"
                        ng-click="disablecheckbox2();showInputIfChecked()" ng-model="addtest.femaleValue" type="radio"
                        aria-label="..." class="push-5-r">
                      <label>Value</label>
                    </span>

                    <input type="text" limit-to="9" id="value2" name="value2" ng-model="addtest.value_Female"
                      class="form-control" aria-label="...">

                  </div>
                  {{valueerror4}}
                  <!-- /input-group -->
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <div>
                  <div class="input-group">
                    <span class="input-group-addon">
                      <input name="female2" id="female2" value="female"
                        ng-click="disablecheckbox3();showInputIfChecked()" ng-model="addtest.femaleRange" type="radio"
                        aria-label="..." class="push-5-r">
                      <label>Range</label>
                    </span>
                    <input type="text" limit-to="9" name="from2" id="from2" ng-model="addtest.from2"
                      class="form-control" placeholder="From" />
                    <span class="input-group-addon" style="border-left: 0; border-right: 0;">-</span>

                    <input type="text" limit-to="9" name="to2" id="to2" ng-model="addtest.to2" class="form-control"
                      placeholder="To" />

                  </div>
                  {{valueerror5}}
                </div>
              </div>
            </div>
          </div>
          <div class="row form-group">
            <div class="col-sm-12 text-center">
              <button type="button" class="btn btn-circle btn-secondary" disabled>OR</button>
            </div>
          </div>
          <div class="row">

            <div class="col-sm-2">Common</div>
            <div class="col-sm-4">
              <div class="form-group">
                <div>
                  <div class="input-group">
                    <span class="input-group-addon">
                      <input name="common1" id="common1" value="common1"
                        ng-click="disablecheckbox4();showInputIfChecked()" ng-model="addtest.genderCommonValue"
                        type="radio" aria-label="..." class="push-5-r">
                      <label>Value</label>
                    </span>
                    <input type="text" limit-to="9" name="value3" id="value3" data-ng-model="addtest.value_Common"
                      class="form-control" aria-label="...">

                  </div>
                  {{valueerror}}
                  <!-- /input-group -->
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <div>
                  <div class="input-group">
                    <span class="input-group-addon">
                      <input name="common2" id="common2" value="common2"
                        ng-click="disablecheckbox5();showInputIfChecked()" ng-model="addtest.genderCommonRange"
                        type="radio" aria-label="..." class="push-5-r">
                      <label>Range</label>
                    </span>
                    <input type="text" limit-to="9" name="from3" id="from3" ng-model="addtest.from3"
                      class="form-control" placeholder="From" />
                    <span class="input-group-addon" style="border-left: 0; border-right: 0;">-</span>
                    <input type="text" limit-to="9" name="to3" id="to3" ng-model="addtest.to3" class="form-control"
                      placeholder="To" />

                  </div>
                  {{valueerror1}}
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" ng-click="closetestmodal()" data-dismiss="modal"
              data-toggle="modal">Cancel</button>
            <button type="button" ng-click="registerNewTest(testForm,addtest)" data-target="testModal"
              class="btn btn-primary">Add lab Test</button>
          </div>
        </form>
      </div>

    </div>
  </div>
</div>