<!-- <ul class="breadcrumb">
  <li>Breadcrumb Home</li>
  <li>Breadcrumb Parent</li>
  <li>
    <a class="link-effect" href="">Breadcrumb Child</a>
  </li>
</ul> -->

<!-- END Page Header -->
<!-- Page Content -->
<div class="content">
    <div class="element-wrapper">
        <div class="element-actions">
            <a href="javascript:void(0)" class="add btn btn-default btn-sm" data-target="#testGroupModal" data-toggle="modal">
                <i class="icon-add"></i>
                <span>Add Test Group</span>
            </a>
        </div>
        <h4 class="element-header">Add Test Groups</h4>
    </div>
    <div class="alert alert-success alert-white rounded" ng-show="sucMsg" id="successId" style="display:none">
        <button type="button" ng-click="hideAlert()" class="close">×</button>
        <div class="icon">
            <i class="fa fa-check"></i>
        </div>
        {{successMsg}}
    </div>
</div>
<div class="block">
    <div class="block-content">
        <div class="row">
            <div class="col-sm-12">
                <table class="table table-striped table-hover standard-table font-s14 js-dataTable-full">
                    <thead>
                        <tr>
                            <th rowspan="2">Group Code</th>
                            <th rowspan="2">Group Name</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="grp in allLabTestGroups">
                            <td class="font-w600">{{grp.id}}</td>
                            <td>{{grp.groupName}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
</div>

<div id="testGroupModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Add Lab Test Group </h4>
            </div>
            <div class="modal-body">
                <form name="testgrpform" ng-validate="validateTestGroupDetails">
                    <div class="row form-group">
                        <div class="col-sm-6">
                            <label for="testGroupCode" class="required">Group Code</label>
                            <input  limit-to="10" id="testGroupCode" ng-change="dynamic_change(labTestGrp.id)" name="GroupCode" placeholder="" class="form-control"
                                type="text" ng-model="labTestGrp.id"> {{groupCodeExistError}}
                        </div>
                        <div class="col-sm-6">
                            <label for="testGroupName" class="required">Group Name</label>
                            <input  limit-to="25" id="testGroupName" ng-change="dynamic_change1(labTestGrp.groupName)" name="GroupName" placeholder="" class="form-control"
                                type="text" ng-model="labTestGrp.groupName"> {{groupNameExistError}}
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="closetestgrpmodal()">Cancel</button>
                <button type="button" class="btn btn-primary" ng-click="saveTestgrp(testgrpform,labTestGrp)">Add Test Group</button>
            </div>

        </div>
    </div>
</div>