<div class="content">
        <div class="element-wrapper">

                        <span class="element-actions">
                                        <a href="javascript:void(0)" data-target="#addDepartmentModal" data-toggle="modal" class="add btn btn-primary btn-sm">
                                                <i class="icon-add"></i>
                                                <span>ADD DEPARTMENT</span>
                                        </a>
                                        <a href="javascript:void(0)" data-target="#addCoordinatorModal" data-toggle="modal" class="add btn btn-primary btn-sm">
                                                <i class="icon-add"></i>
                                                <span>ADD COORDINATOR</span>
                                        </a>
                         </span>
                <h4 class="element-header">Super Admin</h4>

        </div>

        <div  ng-show="Eadmin"  id="Emsg"></div>
        <div  ng-show="Sadmin" id="Smsg"></div>
</div>
    
    
        <div class="row element-wrapper ">
            <div class="col-sm-12">
                <div class="block">
                    <div class="box">
                        <div class="row">
                            <div class="col-sm-8">
                                <h3 class="box-title push-5-t">Coordinator List</h3>
                            </div>
                            <div class="col-sm-4">
                                <div class="element-search">
                                    <input placeholder="Type Coordinator Id or Name " ng-model="searchCoordinator" type="text">
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    
                        
                    <table class="table table-striped table-hover standard-table js-dataTable-full">
                            <thead>
                                <tr>
                                    <th>Coordinator Id</th>
                                    <th>Coordinator Name</th>
                                    <th>Coordinator Department</th>
        
                                </tr>
                            </thead>
                            <tbody>
                                    
                                <tr ng-repeat="val in values | filter:searchCoordinator">
        
                                    <td data-title="OP Code">{{val.patient.opCode}}</td>
                                    <td data-tistle="Patient Name">{{val.patient.fName}} {{val.patient.mName}} {{val.patient.lName}}</td>
                                    <td data-title="Mobile Number">{{val.patient.mobileNo}}</td>
        
                                </tr>
        
                                <tr ng-show="loader">
                                 <td colspan="5" align="center">  <i class="fa fa-refresh fa-spin fa-1x"></i> Loading... </td>
                                </tr>
        
                            
                            </tbody>
                        </table>
                </div>
            </div>
        </div>

<br><br><br><br><br>


<div class="row element-wrapper ">
        <div class="col-sm-12">
            <div class="block">
                <div class="box">
                    <div class="row">
                        <div class="col-sm-8">
                            <h3 class="box-title push-5-t">Department List</h3>
                        </div>
                        <div class="col-sm-4">
                            <div class="element-search">
                                <input placeholder="Type Department Code or Name " ng-model="searchDepartment" type="text">
                            </div>
                        </div>
                    </div>
                </div>
                
                
                    
                <table class="table table-striped table-hover standard-table js-dataTable-full">
                    <thead>
                        <tr>
                            <th>Department Code</th>
                            <th>Department Name</th>
                            <th>Department Details</th>

                        </tr>
                    </thead>
                    <tbody>
                            
                        <tr ng-repeat="val in values | filter:searchDepartment">

                            <td data-title="OP Code">{{val.patient.opCode}}</td>
                            <td data-tistle="Patient Name">{{val.patient.fName}} {{val.patient.mName}} {{val.patient.lName}}</td>
                            <td data-title="Mobile Number">{{val.patient.mobileNo}}</td>

                        </tr>

                        <tr ng-show="loader">
                         <td colspan="5" align="center">  <i class="fa fa-refresh fa-spin fa-1x"></i> Loading... </td>
                        </tr>

                    
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div id="addDepartmentModal" class="modal fade">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                  <h4 class="modal-title">Add New Department</h4>
                </div>
                <div class="modal-body">
                  <form id="doctorForm" name="doctorForm">
                    <div class="row form-group">
                      <div class="col-sm-6">
                        <label for="RegistrationId">Department Code</label>
                        <input id="dotorRegId" ng-change="dynamic_change(labTestGrp.id)" name="dotorRegId" placeholder="" class="form-control" type="text"
                          ng-model="doc.regId">
                        <p>
                          {{disp}}
                        </p>
                      </div>
                      <div class="col-sm-6">
                        <label for="doctorName">Department Name</label>
                        <input id="doctorName" ng-change="dynamicchange1(labTestGrp.groupName)" name="doctorName" placeholder="" class="form-control" type="text"
                          ng-model="doc.doctorName">
                        <p>
                          {{display}}
                        </p>
                        <!-- <span class="error">
                          <p id="group_name"></p>
                        </span> -->
                      </div>
                    </div>
                    <div class="row form-group">
                      <div class="col-sm-6">
                        <label for="doctorDepartment">Department Details</label>
                        <input id="doctorDepartment"  name="doctorDepartment" placeholder="" class="form-control" type="text"
                          ng-value="coordDepartment.name">
                        
                        <!-- <span class="error">
                          <p id="group_rank"></p>
                        </span> -->
                      </div>
                    </div>
                  </form>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal" data-toggle="modal">Cancel</button>
                  <button type="button" class="btn btn-primary"  ng-click="CreateNewDepartment(dep)">Add Department</button>
                </div>
          
              </div>
            </div>
          </div>


          <div id="addCoordinatorModal" class="modal fade">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                      <h4 class="modal-title">Add New Coordinator</h4>
                    </div>
                    <div class="modal-body">
                      <form id="doctorForm" name="doctorForm">
                        <div class="row form-group">
                          <div class="col-sm-6">
                            <label for="RegistrationId">Coordinator Id</label>
                            <input id="dotorRegId" ng-change="dynamic_change(labTestGrp.id)" name="dotorRegId" placeholder="" class="form-control" type="text"
                              ng-model="doc.regId">
                            <p>
                              {{disp}}
                            </p>
                          </div>
                          <div class="col-sm-6">
                            <label for="doctorName">Coordinator Name</label>
                            <input id="doctorName" ng-change="dynamicchange1(labTestGrp.groupName)" name="doctorName" placeholder="" class="form-control" type="text"
                              ng-model="doc.doctorName">
                            <p>
                              {{display}}
                            </p>
                            <!-- <span class="error">
                              <p id="group_name"></p>
                            </span> -->
                          </div>
                        </div>
                        <div class="row form-group">
                          <div class="col-sm-6">
                            <label for="doctorDepartment">Coordinator Department</label>
                            <input id="doctorDepartment"  name="doctorDepartment" placeholder="" class="form-control" type="text"
                              ng-value="coordDepartment.name">
                            
                            <!-- <span class="error">
                              <p id="group_rank"></p>
                            </span> -->
                          </div>
                          
                        </div>
                      </form>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-default" data-dismiss="modal" data-toggle="modal">Cancel</button>
                      <button type="button" class="btn btn-primary"  ng-click="createNewDoctor(doc)">Add Coordinator</button>
                    </div>
              
                  </div>
                </div>
              </div>