<div class="tab-pane fade" id="tab-radiology">
    <div class="block-content">
        <div class="clearfix"></div>
        <div class="row">
            <div class="col-sm-12 col-md-6" ng-if="(Auth.hasResourceRole('coord'))">
                <div class="block block-white push-10-t">
                    <div class="box">
                        <div class="row">
                            <div class="col-sm-6">
                                <h3 class="box-title">Add Radiology</h3>
                            </div>
                            <div class="col-sm-6"> </div>
                        </div>
                    </div>
                    <div class="block-content">
                        <form name="radiologyForm" ng-validate="validateRadiologyForm">
                            <div class="row">
                                <div class="form-group col-xs-12 col-md-6">
                                    <label for="cdate" class="required">Radiology Date</label>
                                    <input type="text" data-js-datepicker name="notesDate" id="datetimepicker3" class="form-control"
                                        placeholder="" id="cdate" data-date-format="dd-mm-yyyy" />
                                </div>
                                <div class="form-group col-xs-12 col-md-6">
                                    <label for="cdoctor" class="required">Consulting Doctor</label>
                                    <br>
                                    <ui-select name="doctor" ng-model="rad.doctor">
                                        <ui-select-match placeholder="Select Doctor">Dr. {{$select.selected.docName}}</ui-select-match>
                                        <ui-select-choices repeat="item in (departmentDoctors | filter: $select.search)">
                                            <div ng-bind="item.docName | highlight: $select.search.docName"></div>
                                        </ui-select-choices>
                                    </ui-select>
                                    <div id="doctorError" style="color:red;font-style: italic;"></div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-xs-12 col-md-12">
                                    <label for="cquery" class="required">Description</label>
                                    <textarea maxlength="250" class="form-control" name="radDescription" placeholder=""
                                        id="cquery" rows="3" ng-model="rad.description"></textarea>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="box test-content border-top">
                        <div class="row">
                            <div class="col-sm-12">
                                <a href="javascript:void(0)" class="add btn btn-default btn-xs" data-target="#modalForRadiology"
                                    data-toggle="modal">
                                    <i class="icon-file-upload"></i>
                                    <span>Upload Lab Results</span>
                                </a>
                                <span ng-show="uploadFlagRadiology">{{toShowFinalFilesRadiologyLength}} Files
                                    Uploaded!</span>
                                <div ng-show="uploadFlagRadiology" ng-repeat="file in toShowFinalFilesRadiology">{{file.upload.filename}}</div>
                            </div>
                            <div class="col-sm-12">
                                <a href="javascript:void(0)" ng-click="registerRadiology(radiologyForm,rad)" class="btn btn-primary btn-xs pull-right">
                                    <i class="icon-checkmark"></i>Save</a>
                                <a href="javascript:void(0)" ng-click="clearRadiology()" class="btn btn-danger btn-xs pull-right push-10-r">
                                    <i class="icon-cross2"></i>Cancel</a></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-6">
                <div class="activity-boxes-w">
                    <div class="activity-box-w" ng-repeat="date in radialDates track by $index | limitTo:nodeRadiologyLimit">
                        <div class="activity-time">10 Min</div>
                        <div class="activity-box">
                            <div class="block1 block-white">
                                <div class="box"> <a href="javascript:void(0)" class="toggler pull-right" data-toggle="collapse"
                                        ng-click="getRadiology($index)" data-target="#cradial{{$index}}" aria-expanded="{{$first}}">
                                        <i class="icon-plus2 push-10-r"></i>
                                    </a>
                                    <h3 class="box-title">{{date}}&nbsp;&nbsp;<span ng-show="displayRadiology[$index][0].doctor.docName">Dr.</span>&nbsp;{{displayRadiology[$index][0].doctor.docName}}</h3>
                                </div>
                                <div id="cradial{{$index}}" class="collapse" ng-class="{'in': $index == 0}">
                                    <div class="box remove-border-b">
                                        <div class="row">
                                            <!-- <div class="col-sm-12">
                                                <label>Consultated Doctor</label>
                                                <p class="push-10">Dr.&nbsp;{{displayRadiology[$index][0].doctor.docName}}</p>
                                            </div> -->
                                            <div class="col-sm-6">
                                                <label>Description</label>
                                                <p class="push-10">{{displayRadiology[$index][0].description}}</p>
                                            </div>
                                            <div class="col-sm-6">
                                                <label>Attached Reports</label>
                                                <div ng-repeat="file in  displayRadiology[$index][0].files">&nbsp;&nbsp;
                                                    <a data-ng-click="getFile(file.id)">{{file.fileName}}</a>&nbsp;
                                                    <i class="icon-file-download"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- <div ng-repeat="rad in displayRadiology[$index]">
                                        <div>{{rad.doctor.docName}}</div>
                                        <div>{{rad.description}}</div>
                                        <div ng-repeat="file in rad.files">{{file.fileName}}</div>
                                    </div> -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 text-center">
                    <button class="btn btn-default" ng-show="loadRadiologyBtn" ng-click="loadMoreRadiology()">Load More</button>
                </div>
            </div>
        </div>
    </div>
    <div id="modalForRadiology" class="modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Upload Lab Results</h4>
                </div>
                <div class="modal-body">
                    <!-- <div class="alert alert-info alert-white rounded">
                            <div class="icon">
                                <i class="fa fa-info-circle"></i>
                            </div>
                            Even after entering the Lab Results, you still have to upload the Lab Report as proof. You can
                            upload
                            <strong>minimum 1 and maximum of 15 files. </strong> Supported file formats (jpeg/jpg/png/pdf)
                            Upto 10 MB.
                        </div> -->
                    <div class="row form-group">
                        <div class="col-sm-12">
                            <form id="myIdRadiology" class="dropzone" action="index.html"></form>
                            <div dz-error-message></div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" ng-click="cancelUpload()" data-dismiss="modal">Cancel</button>
                    <button type="button" data-ng-click="uploadFilesFun()" data-dismiss="modal" class="btn btn-primary">Add</button>
                </div>
            </div>
        </div>
    </div>
    <div id="modalForRadiologyImage" class="modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Image Preview</h4>
                </div>
                <div class="modal-body">
                    <img id="imageModal" src="" class="imagepreview" style="width: 100%;">
                </div>
                <div class="modal-footer">
                    <button type="button" data-dismiss="modal" class="btn btn-primary">Ok</button>
                </div>
            </div>
        </div>
    </div>
</div>