<!-- Page Header -->

<!-- <ul class="breadcrumb">
    <li>Breadcrumb Home</li>
    <li>Breadcrumb Parent</li>
    <li><a class="link-effect" href="">Breadcrumb Child</a></li>
  </ul> -->

<!-- END Page Header -->
<!-- Page Content -->
<div class="content">
  <div class="element-wrapper">
    <div class="element-actions"><a class="btn btn-default btn-xs" href="javascript:void(0)" data-target="#addCoordinator"
        data-toggle="modal"><i class="icon-plus-circle2"></i><span>Add Co-ordinator</span></a></div>
    <h4 class="element-header">Co-ordinators</h4>
  </div>
  <div class="alert alert-success alert-white rounded" ng-show="sucMsg" id="successId" style="display:none">
    <button type="button" ng-click="hideAlert()" class="close">×</button>
    <div class="icon">
      <i class="fa fa-check"></i>
    </div>
    {{successMsg}}
  </div>
  <div class="block remove-margin-b">
    <div class="box">
      <div class="row element-wrapper">
        <div class="col-sm-3">
        </div>
        <div class="col-sm-4 pull-right">
          <div class="element-search">
            <!-- <input limit-to="25" placeholder="Type Co-ordinator's Employee ID or Name" ng-model="searchText" type="text"> -->
            <div class="input-group input-group-multiple">
              <select type="text" class="form-control input-xs" aria-placeholder="Search By" data-ng-model="search.byField">
                <option value="1">Co-ordinator Id</option>
                <option value="2">Co-ordinator Mobile Number</option>
                <option value="3">Co-ordinator Name</option>
              </select>
              <input limit-to="25" type="text" placeholder="Search" class="form-control input-xs" data-ng-model="search.searchTerm"
                ng-change="searchCoordinator(search.searchTerm,search.byField)">
            </div>
          </div>
        </div>
      </div>
    </div>
    <table class="table table-striped table-hover standard-table">
      <thead>
        <tr>
          <th>Employee ID</th>
          <th>Department</th>
          <th>Name</th>
          <th>Address</th>
          <th>Email Address</th>
          <th>Mobile Number</th>
          <th>Status</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="cod in coordDet | filter:searchText">
          <td data-title="Coodinator Id">{{cod.id}}</td>
          <td data-title="Department">{{cod.department.name}}</td>
          <td data-title="Coodinator Name">{{cod.name}} {{cod.codMiddleName}} {{cod.codLastName}}
            <br> {{cod.gender}},&nbsp;{{cod.dateOfBirth}}</td>
          <td data-title="Address">{{cod.addressLine1}},&nbsp;{{cod.addressLine2}}<br>
            {{cod.city}},&nbsp;{{cod.state}},&nbsp;{{cod.pincode}}</td>
          <td data-title="Email ID">{{cod.email}}</td>
          <td data-title="Mobile Number">{{cod.mobileNo}}</td>
          <td data-title="Status" ng-if="cod.status == 'Active'"><span class="badge badge-success">{{cod.status}}</span></td>
          <td data-title="Status" ng-if="cod.status == 'Inactive'"><span class="badge badge-danger">{{cod.status}}</span></td>
          <td data-title="Actions">
            <a class="btn btn-default btn-xs push-5-r" ng-click="openEditCoordinator(cod)" data-toggle="modal"><i class="icon-pencil"></i>
              Edit</a>
            <a class="btn btn-default btn-xs" ng-click="changeCoordStatus(cod)" data-toggle="modal"><i class="   icon-cross2"></i>
              Change Status</a></td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="btn-group table-pagination push-30 pull-right">
    <button type="button" class="btn btn-white" ng-click="getCoordinatorList((page-1) * 10)"><i class="fa fa-chevron-left"></i></button>
    <button class="btn btn-white" ng-repeat="page in pagesNeeded" ng-click="getCoordinatorList(page*10)">{{page + 1}}</button>
    <button type="button" class="btn btn-white" ng-click="getCoordinatorList((page-1) * 10)"><i class="fa fa-chevron-right"></i></button>
  </div>
  <div class="clearfix"></div>
</div>
</div>
<div id="addCoordinator" class="modal fade">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Add Co-ordinator</h4>
      </div>
      <form name="CoordinatorForm" ng-validate="validateCoordinatorDetails">
        <div class="modal-body">
          <h4 class="section-sub-title">Hospital Information</h4>
          <div class="row form-group">
            <div class="col-sm-6">
              <label for="empId" class="required">Employee ID</label>
              <input limit-to="15" name="empID" class="form-control" type="text" ng-model="Coordinator.id" ng-change="coordinatorExist(Coordinator.id)">
              <div id="codErrId" style="color:red;font-style: italic;"></div>
            </div>
            <div class="col-sm-6">
              <label for="department" class="required">Department</label>
              <select class="form-control selectbox" name="Department" data-placeholder="Please Select Department"
                ng-model="Coordinator.department">
                <option ng-repeat="dept in allDepartments">{{dept.name}}</option>
              </select>
              <div id="departmentError"></div>
            </div>
          </div>
          <h4 class="section-sub-title">Personal Information</h4>
          <div class="row form-group">
            <div class="col-sm-6">
              <label for="CoordinatorName" class="required">Coordinator's Name</label>
              <div class="input-group triple-input" name="name">
                <input limit-to="15" name="CoordinatorFname" placeholder="First Name" class="form-control capital" type="text"
                  ng-model="Coordinator.name">
                <input limit-to="15" name="CoordinatorMname" placeholder="Middle Name" class="form-control capital"
                  type="text" ng-model="Coordinator.codMiddleName">
                <input limit-to="15" name="CoordinatorLname" placeholder="Last Name" class="form-control capital" type="text"
                  ng-model="Coordinator.codLastName">
              </div>
            </div>
            <div class="col-sm-6">
              <div class="row">
                <div class="col-sm-6">
                  <label for="CoordinatorDOB" class="required">Date of Birth</label>
                  <input data-js-datepicker class="form-control" type="text" name="CoordinatorDOB" name="example-datepicker1"
                    data-date-format="dd-mm-yyyy" placeholder="dd-mm-yy" ng-model="Coordinator.dateOfBirth"
                    data-date-end-date="0d">
                </div>
                <div class="col-sm-6">
                  <label for="CoordinatorGender" class="required">Gender</label>
                  <br>
                  <label class="css-input css-radio css-radio-primary push-20-r" for="radios-0">
                    <input name="radios" id="radios-0" value="Male" type="radio" ng-model="Coordinator.gender">
                    <span></span> Male </label>
                  <label class="css-input css-radio css-radio-primary" for="radios-1">
                    <input name="radios" id="radios-1" value="Female" type="radio" ng-model="Coordinator.gender">
                    <span></span> Female </label>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <label for="qualification" class="required">Qualification</label>
              <input limit-to="30" class="form-control" type="text" name="qualification" ng-model="Coordinator.qualification">
            </div>
          </div>
          <h4 class="section-sub-title">Communication Information</h4>
          <div class="row">
            <div class="col-sm-6 form-group">
              <label for="mobile" class="required">Mobile Number</label>
              <input limit-to="10" class="form-control" type="text" name="mobile" ng-model="Coordinator.mobileNo">
            </div>
            <div class="col-sm-6">
              <label for="email" class="required">Email Address</label>
              <input limit-to="50" class="form-control" type="text" name="email" ng-model="Coordinator.email">
            </div>
          </div>
          <div class="row form-group">
            <div class="col-sm-6">
              <label for="caddress" class="required">Address</label>
              <div class="input-group double-input">
                <input limit-to="40" name="caddress1" placeholder="Address Line 1" class="form-control" type="text"
                  ng-model="Coordinator.addressLine1">
                <input limit-to="40" name="caddress2" placeholder="Address Line 2" class="form-control" type="text"
                  ng-model="Coordinator.addressLine2">
              </div>
            </div>
            <div class="col-sm-6">
              <div class="row">
                <div class="col-md-4">
                  <label class="required">State</label>
                  <select class="form-control" name="cstate" data-placeholder="Please Select State" ng-model="Coordinator.state">
                    <option ng-repeat="(key,value) in country">{{key}}</option>
                  </select>
                  <div id="stateError"></div>
                </div>
                <div ng-if="Coordinator.state" class="col-md-4">
                  <label class="required">City</label>
                  <select class="form-control" name="ccity" data-placeholder="Please Select City" ng-model="Coordinator.city">
                    <option ng-repeat="city in country[Coordinator.state] track by $index">{{city}}</option>
                  </select>
                  <div id="cityError"></div>
                </div>
                <div class="col-md-4">
                  <label class="required">Pin Code</label>
                  <input limit-to="6" type="number" name="czip" placeholder="Pin Code" class="form-control" type="text"
                    ng-model="Coordinator.pincode">
                </div>
              </div>
            </div>
          </div>
        </div>
      </form>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="cancelOfSavingCoordinator()">Cancel</button>
        <button type="button" class="btn btn-primary" ng-click="registerCoordinator(CoordinatorForm,Coordinator)">Add
          Coordinator</button>
      </div>
    </div>
  </div>
</div>
<div id="editCoordinator" class="modal fade">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Edit Co-ordinator</h4>
      </div>
      <form name="editCoordinatorForm" ng-validate="validateCoordinatorDetails">
        <div class="modal-body">
          <h4 class="section-sub-title">Hospital Information</h4>
          <div class="row form-group">
            <div class="col-sm-6">
              <label for="empId" class="required">Employee ID</label>
              <input limit-to="15" name="empID" class="form-control" type="text" ng-model="editCoordinator.id" disabled>
            </div>
            <div class="col-sm-6">
              <label for="department" class="required">Department</label>
              <select class="form-control selectbox" name="Department" data-placeholder="Please Select Department"
                ng-model="editCoordinator.department">
                <option ng-repeat="dept in allDepartments">{{dept.name}}</option>
              </select>
              <div id="departmentError"></div>
            </div>
          </div>
          <h4 class="section-sub-title">Personal Information</h4>
          <div class="row form-group">
            <div class="col-sm-6">
              <label for="CoordinatorName" class="required">Coordinator's Name</label>
              <div class="input-group triple-input" name="name">
                <input limit-to="15" name="CoordinatorFname" placeholder="First Name" class="form-control capital" type="text"
                  ng-model="editCoordinator.name">
                <input limit-to="15" name="CoordinatorMname" placeholder="Middle Name" class="form-control capital"
                  type="text" ng-model="editCoordinator.codMiddleName">
                <input limit-to="15" name="CoordinatorLname" placeholder="Last Name" class="form-control capital" type="text"
                  ng-model="editCoordinator.codLastName">
              </div>
            </div>
            <div class="col-sm-6">
              <div class="row">
                <div class="col-sm-6">
                  <label for="CoordinatorDOB" class="required">Date of Birth</label>
                  <input data-js-datepicker class="form-control" type="text" name="CoordinatorDOB" name="example-datepicker1"
                    data-date-format="dd-mm-yyyy" placeholder="dd-mm-yy" ng-model="editCoordinator.dateOfBirth"
                    data-date-end-date="0d">
                </div>
                <div class="col-sm-6">
                  <label for="CoordinatorGender" class="required">Gender</label>
                  <br>
                  <label class="css-input css-radio css-radio-primary push-20-r" for="radios-0">
                    <input name="radios" id="radios-0" value="Male" type="radio" ng-model="editCoordinator.gender">
                    <span></span> Male </label>
                  <label class="css-input css-radio css-radio-primary" for="radios-1">
                    <input name="radios" id="radios-1" value="Female" type="radio" ng-model="editCoordinator.gender">
                    <span></span> Female </label>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <label for="qualification" class="required">Qualification</label>
              <input limit-to="30" class="form-control" type="text" name="qualification" ng-model="editCoordinator.qualification">
            </div>
          </div>
          <h4 class="section-sub-title">Communication Information</h4>
          <div class="row">
            <div class="col-sm-6 form-group">
              <label for="mobile" class="required">Mobile Number</label>
              <input limit-to="10" class="form-control" type="text" name="mobile" ng-model="editCoordinator.mobileNo">
            </div>
            <div class="col-sm-6">
              <label for="email" class="required">Email Address</label>
              <input limit-to="45" class="form-control" type="text" name="email" ng-model="editCoordinator.email">
            </div>
          </div>
          <div class="row form-group">
            <div class="col-sm-6">
              <label for="caddress" class="required">Address</label>
              <div class="input-group double-input">
                <input limit-to="40" name="caddress1" placeholder="Address Line 1" class="form-control" type="text"
                  ng-model="editCoordinator.addressLine1">
                <input limit-to="40" name="caddress2" placeholder="Address Line 2" class="form-control" type="text"
                  ng-model="editCoordinator.addressLine2">
              </div>
            </div>
            <div class="col-sm-6">
              <div class="row">
                <div class="col-md-4">
                  <label class="required">State</label>
                  <select class="form-control" name="cstate" data-placeholder="Please Select State" ng-model="editCoordinator.state">
                    <option ng-repeat="(key,value) in country">{{key}}</option>
                  </select>
                  <div id="stateError"></div>
                </div>
                <div ng-if="editCoordinator.state" class="col-md-4">
                  <label class="required">City</label>
                  <select class="form-control" name="ccity" data-placeholder="Please Select City" ng-model="editCoordinator.city">
                    <option ng-repeat="city in country[editCoordinator.state] track by $index">{{city}}</option>
                  </select>
                  <div id="cityError"></div>
                </div>
                <div class="col-md-4">
                  <label class="required">Pin Code</label>
                  <input limit-to="6" name="czip" placeholder="Pin Code" class="form-control" type="text" ng-model="editCoordinator.pincode">
                </div>
              </div>
            </div>
          </div>
        </div>
      </form>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary" ng-click="updateCoordinator(editCoordinatorForm,editCoordinator)">Update
          Coordinator</button>
      </div>
    </div>
  </div>
</div>
<div id="changeStatusModal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Change Status</h4>
      </div>
      <div class="modal-body">
        Are you sure you want to change status of {{coordMajorData.name}} ({{coordMajorData.id}}) ?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" ng-click="changeStatus()" data-dismiss="modal">YES</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">NO</button>
      </div>
    </div>
  </div>
</div>