<!-- Page Header -->

<!-- <ul class="breadcrumb">
    <li>Breadcrumb Home</li>
    <li>Breadcrumb Parent</li>
    <li><a class="link-effect" href="">Breadcrumb Child</a></li>
</ul> -->

<!-- END Page Header -->
<!-- Page Content -->
<div class="content">
    <div class="element-wrapper">
        <div class="element-actions"><a class="btn btn-default btn-xs" href="javascript:void(0)" data-target="#addDepartment"
                data-toggle="modal"><i class="icon-plus-circle2"></i><span>Add Department</span></a></div>
        <h4 class="element-header">Departments</h4>
    </div>
    <div class="alert alert-success alert-white rounded" ng-show="sucMsg" id="successId" style="display:none">
        <button type="button" ng-click="hideAlert()" class="close">×</button>
        <div class="icon">
            <i class="fa fa-check"></i>
        </div>
        {{successMsg}}
    </div>
    <div class="block remove-margin-b">
        <div class="box">
            <div class="row element-wrapper">
                <div class="col-sm-3"> </div>
                <div class="col-sm-4 pull-right">
                    <div class="element-search">
                        <input limit-to="25" placeholder="Type Department ID or Name" ng-model="searchText" type="text">
                    </div>
                </div>
            </div>
        </div>
        <table class="table table-striped table-hover standard-table">
            <thead>
                <tr>
                    <th>Department ID</th>
                    <th>Department Name</th>
                    <th>Email Address</th>
                    <th>Contact Number</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="dept in allDepartments | filter:searchText">
                    <td data-title="Department Id">{{dept.id}}</td>
                    <td data-title="Department Name">{{dept.name}}</td>
                    <td data-title="Department Email">{{dept.email}}</td>
                    <td data-title="Contact Number">{{dept.contact}}</td>
                    <td data-title="Actions">
                        <a class="btn btn-default btn-xs push-5-r" ng-click="openEditDepartment(dept)" data-toggle="modal"><i
                                class="icon-pencil"></i>Edit</a>
                        <!-- <a class="btn btn-default btn-xs" ng-click="deleteDepartment(dept)" data-toggle="modal"><i
                                class="icon-cross2"></i> Delete</a> -->
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="btn-group table-pagination push-30 pull-right">
        <button type="button" class="btn btn-white" ng-click="getDepartmentList((page-1) * 10)"><i class="fa fa-chevron-left"></i></button>
        <button class="btn btn-white" ng-repeat="page in pagesNeeded" ng-click="getDepartmentList(page*10)">{{page + 1}}</button>
        <button type="button" class="btn btn-white" ng-click="getDepartmentList((page-1) * 10)"><i class="fa fa-chevron-right"></i>
        </button>
    </div>
    <div class="clearfix"></div>
</div>
</div>
<div id="addDepartment" class="modal fade">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Add Department</h4>
            </div>
            <form name="newDepartmentForm" ng-validate="validateDepartment">
                <div class="modal-body">
                    <div class="row form-group">
                        <div class="col-sm-6">
                            <label for="depId" class="required">Department ID</label>
                            <input limit-to="10" id="depID" name="depID" class="form-control" type="text" ng-model="department.id" ng-change="departmentIdExist(department)">
                            <div id="depErrId" style="color:red;font-style: italic;"></div>
                        </div>
                        <div class="col-sm-6">
                            <label for="depName" class="required">Department Name</label>
                            <input limit-to="25" id="depName" name="depName" class="form-control" type="text" ng-model="department.name" ng-change="departmentNameExist(department)">
                            <div id="depErrName" style="color:red;font-style: italic;"></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6 form-group">
                            <label for="mobile">Landline with ext.</label>
                            <input limit-to="17" name="mobile" class="form-control" type="text" id="contact" ng-model="department.contact">
                        </div>
                        <div class="col-sm-6">
                            <label for="email">Email Address</label>
                            <input limit-to="45" name="email" class="form-control" type="text" id="email" ng-model="department.email">
                        </div>
                    </div>
                </div>
            </form>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="cancelOfSavingDepartment()">Cancel</button>
                <button type="button" class="btn btn-primary" ng-click="registerDepartment(newDepartmentForm,department)">Add
                    Department
                </button>
            </div>
        </div>
    </div>
</div>
<div id="editDepartment" class="modal fade">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Edit Department</h4>
            </div>
            <form name="editDepartmentForm" ng-validate="validateDepartment">
                <div class="modal-body">
                    <div class="row form-group">
                        <div class="col-sm-6">
                            <label for="depId" class="required">Department ID</label>
                            <input limit-to="15" id="depID" name="depID" class="form-control" type="text" ng-model="editDepartment.id"
                                disabled>
                        </div>
                        <div class="col-sm-6">
                            <label for="depName" class="required">Department Name</label>
                            <input limit-to="25" id="depName" name="depName" class="form-control" type="text" ng-model="editDepartment.name"
                                disabled>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6 form-group">
                            <label for="mobile" >Landline with ext.</label>
                            <input limit-to="17" name="mobile" class="form-control" type="text" id="contact" ng-model="editDepartment.contact">
                        </div>
                        <div class="col-sm-6">
                            <label for="email" >Email Address</label>
                            <input limit-to="45" name="email" class="form-control" type="text" id="email" ng-model="editDepartment.email">
                        </div>
                    </div>
                </div>
            </form>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary" ng-click="UpdateDepartment(editDepartmentForm,editDepartment)">Update
                    Department
                </button>
            </div>
        </div>
    </div>
</div>
<div id="changeStatusModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Change Status</h4>
            </div>
            <div class="modal-body">
                Are you sure you want to delete {{depMajorData.name}} Department({{depMajorData.id}})?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" ng-click="deletedDep()" data-dismiss="modal">YES</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">NO</button>
            </div>
        </div>
    </div>
</div>