<!-- Page Header -->

<!-- <ul class="breadcrumb">
  <li>Breadcrumb Home</li>
  <li>Breadcrumb Parent</li>
  <li><a class="link-effect" href="">Breadcrumb Child</a></li>
</ul> -->

<!-- END Page Header -->
<!-- Page Content -->
<div class="content">
  <div class="element-wrapper">
    <div class="element-actions"><a class="btn btn-default btn-xs" href="javascript:void(0)" data-target="#addDoctor"
        data-toggle="modal"><i class="icon-plus-circle2"></i><span>Add Doctor</span></a></div>
    <h4 class="element-header">Doctors</h4>
  </div>
  <div class="alert alert-success alert-white rounded" ng-show="sucMsg" id="successId" style="display:none">
    <button type="button" ng-click="hideAlert()" class="close">×</button>
    <div class="icon">
      <i class="fa fa-check"></i>
    </div>
    {{successMsg}}
  </div>
  <div class="block remove-margin-b">
    <div class="box">
      <div class="row element-wrapper">
        <div class="col-sm-3">
        </div>
        <div class="col-sm-4 pull-right">
          <div class="element-search">
            <!-- <input limit-to="25" placeholder="Type Doctor's Employee ID, Registration Number" ng-model="searchText" type="text"> -->
            <div class="input-group input-group-multiple">
              <select type="text" class="form-control input-xs" aria-placeholder="Search By" data-ng-model="search.byField">
                <option value="1">Doctor Id</option>
                <option value="2">Doctor Mobile Number</option>
                <option value="3">Doctor Name</option>
              </select>
              <input limit-to="25" type="text" placeholder="Search" class="form-control input-xs" data-ng-model="search.searchTerm"
                ng-change="searchDoctor(search.searchTerm,search.byField)">
            </div>
          </div>
        </div>
      </div>
    </div>
    <table class="table table-striped table-hover standard-table">
      <thead>
        <tr>
          <th>Employee ID</th>
          <th>Department</th>
          <th>Name</th>
          <th>Registration Number</th>
          <th>Address</th>
          <th>Email Address</th>
          <th>Landline with ext./Mobile Number</th>
          <th>Status</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="doctor in alldoctors | filter:searchText">
          <td data-title="OP Code ">{{doctor.docId}}</td>
          <td data-title="Department Name ">{{doctor.department.name}}</td>
          <td data-title="Doctor Name">{{doctor.docName}} {{doctor.docMiddleName}} {{doctor.docLastName}}<br>
            {{doctor.gender}},&nbsp;{{doctor.dateOfBirth}}
          </td>
          <td data-title="Registration Number">{{doctor.registrationNumber}}</td>
          <td data-title="Address ">{{doctor.addressLine1}},&nbsp;{{doctor.addressLine2}}<br>
            {{doctor.city}},&nbsp;{{doctor.state}}</td>
          <td data-title="Email ID ">{{doctor.email}}</td>
          <td data-title="Mobile Number ">{{doctor.mobileNo}}</td>
          <td data-title="Status" ng-if="doctor.status == 'Active'"><span class="badge badge-success">{{doctor.status}}</span></td>
          <td data-title="Status" ng-if="doctor.status == 'Inactive'"><span class="badge badge-danger">{{doctor.status}}</span></td>
          <td data-title="Actions ">
            <a class="btn btn-default btn-xs push-5-r " ng-click="openEditDoctor(doctor)" data-toggle="modal"><i class="icon-pencil "></i>
              Edit</a>
            <a class="btn btn-default btn-xs" ng-click="changeDoctorStatus(doctor)" data-toggle="modal"><i class=" icon-cross2 "></i>
              Change Status</a>
            <a class="btn btn-default btn-xs push-5-r " ng-hide="doctor.status == 'Inactive'" ng-click="openDoctorApointmentSettings(doctor)"
              data-toggle="modal"><i class="fa fa-cog fa-1"></i>
              Appointment Settings</a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>



  <div class="btn-group table-pagination push-30 pull-right">
    <button type="button" class="btn btn-white" ng-click="getDoctorsList((page-1) * 10)"><i class="fa fa-chevron-left"></i></button>
    <button class="btn btn-white" ng-repeat="page in pagesNeeded" ng-click="getDoctorsList(page*10)">{{page + 1}}</button>
    <button type="button" class="btn btn-white" ng-click="getDoctorsList((page-1) * 10)"><i class="fa fa-chevron-right"></i>
    </button>
  </div>
  <div class="clearfix"></div>
</div>
<!-- </div> -->
<div id="addDoctor" class="modal fade">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Add Doctor</h4>
      </div>
      <form name="doctorForm" ng-validate="validateDoctorDetails">
        <div class="modal-body">
          <h4 class="section-sub-title">Hospital Information</h4>
          <div class="row form-group">
            <div class="col-sm-6">
              <label for="empId" class="required">Employee ID</label>
              <input limit-to="15" name="empID" class="form-control" type="text" ng-model="doctor.docId" ng-change="doctorExist(doctor.docId)">
              <div id="docErrId" style="color:red;font-style: italic;"></div>
            </div>
            <div class="col-sm-6">
              <label for="department" class="required">Department</label>
              <select class="form-control" name="Department" data-placeholder="Please Select Department" ng-model="doctor.department">
                <option ng-repeat="dept in allDepartments">{{dept.name}}</option>
              </select>
              <div id="departmentError"></div>
            </div>
            <div class="col-sm-6">
              <label for="appType" class="required">Appointment Type</label>
              <select class="form-control" name="appType" data-placeholder="Please Select Department" ng-model="doctor.appointmentType">
                <option ng-repeat="app in appTypes">{{app}}</option>
              </select>
              <div id="appTypeError"></div>
            </div>
            <div class="col-sm-6">
              <label for="appFee" class="required">Consulting Fee</label>
              <input limit-to="15" class="form-control" type="number" name="appFee" ng-model="doctor.fee">
            </div>
          </div>

          <h4 class="section-sub-title">Personal Information</h4>
          <div class="row form-group">
            <div class="col-sm-6">
              <label for="doctorName" class="required">Doctor's Name</label>
              <div class="input-group triple-input" name="name">
                <input limit-to="15" name="doctorFname" placeholder="First Name" class="form-control capital" type="text"
                  ng-model="doctor.docName">
                <input limit-to="15" name="doctorMname" placeholder="Middle Name" class="form-control capital" type="text"
                  ng-model="doctor.docMiddleName">
                <input limit-to="15" name="doctorLname" placeholder="Last Name" class="form-control capital" type="text"
                  ng-model="doctor.docLastName">
              </div>
            </div>
            <div class="col-sm-6">
              <div class="row">
                <div class="col-sm-6">
                  <label for="doctorDOB" class="required">Date of Birth</label>
                  <input data-js-datepicker class="form-control" type="text" name="doctorDOB" name="example-datepicker1"
                    data-date-format="dd-mm-yyyy" placeholder="dd-mm-yy" ng-model="doctor.dateOfBirth"
                    data-date-end-date="0d">
                </div>
                <div class="col-sm-6">
                  <label for="doctorGender" class="required">Gender</label>
                  <br>
                  <label class="css-input css-radio css-radio-primary push-20-r" for="radios-0">
                    <input name="radios" id="radios-0" value="Male" type="radio" ng-model="doctor.gender">
                    <span></span> Male </label>
                  <label class="css-input css-radio css-radio-primary" for="radios-1">
                    <input name="radios" id="radios-1" value="Female" type="radio" ng-model="doctor.gender">
                    <span></span> Female </label>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6 form-group">
              <label for="regno" class="required">Registration Number</label>
              <input limit-to="15" class="form-control" type="text" name="regno" ng-model="doctor.registrationNumber">
            </div>
            <div class="col-sm-6">
              <label for="qualification" class="required">Qualification</label>
              <input limit-to="60" class="form-control" type="text" name="qualification" ng-model="doctor.qualification">
            </div>
          </div>

          <h4 class="section-sub-title">Communication Information</h4>
          <div class="row">
            <div class="col-sm-6 form-group">
              <label for="mobile" class="required">Landline with ext./Mobile Number</label>
              <input limit-to="17" class="form-control" type="text" name="mobile" ng-model="doctor.mobileNo">
            </div>
            <div class="col-sm-6">
              <label for="email" class="required">Email Address</label>
              <input limit-to="50" class="form-control" type="text" name="email" ng-model="doctor.email">
            </div>
          </div>
          <div class="row form-group">
            <div class="col-sm-6">
              <label for="caddress" class="required">Address</label>
              <div class="input-group double-input">
                <input limit-to="40" name="caddress1" placeholder="Address Line 1" class="form-control" type="text"
                  ng-model="doctor.addressLine1">
                <input limit-to="40" name="caddress2" placeholder="Address Line 2" class="form-control" type="text"
                  ng-model="doctor.addressLine2">
              </div>
            </div>
            <div class="col-sm-6">
              <div class="row">
                <div class="col-md-4">
                  <label class="required">State</label>
                  <select class="form-control" name="cstate" data-placeholder="Please Select State" ng-model="doctor.state">
                    <option ng-repeat="(key,value) in country">{{key}}</option>
                  </select>
                  <div id="stateError"></div>
                </div>
                <div ng-if="doctor.state" class="col-md-4">
                  <label class="required">City</label>
                  <select class="form-control" name="ccity" data-placeholder="Please Select City" ng-model="doctor.city">
                    <option ng-repeat="city in country[doctor.state] track by $index">{{city}}</option>
                  </select>
                  <div id="cityError"></div>
                </div>
                <div class="col-md-4">
                  <label class="required">Pin Code</label>
                  <input limit-to="6" name="czip" type="number" placeholder="Pin Code" class="form-control" type="text"
                    ng-model="doctor.pincode">
                </div>
              </div>
            </div>
          </div>

        </div>
      </form>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="cancelOfSavingDoctor()">Cancel</button>
        <button type="button" class="btn btn-primary" ng-click="registerDoctor(doctorForm,doctor)">Add Doctor</button>
      </div>
    </div>
  </div>
</div>
<div id="editDoctor" class="modal fade">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Edit Doctor</h4>
      </div>
      <form name="editDoctorForm" ng-validate="validateDoctorDetails">
        <div class="modal-body">
          <h4 class="section-sub-title">Hospital Information</h4>
          <div class="row form-group">
            <div class="col-sm-6">
              <label for="empId" class="required">Employee ID</label>
              <input limit-to="15" name="empID" class="form-control" type="text" ng-model="editDoctor.docId" disabled>
            </div>
            <div class="col-sm-6">
              <label for="department" class="required">Department</label>
              <select class="form-control" name="Department" data-placeholder="Please Select Department" ng-model="editDoctor.department"
                disabled>
                <option ng-repeat="dept in allDepartments">{{dept.name}}</option>
              </select>
              <div id="departmentError"></div>
            </div><br>
            <div class="col-sm-6">
              <label for="appType" class="required">Appointment Type</label>
              <select class="form-control" name="appType" data-placeholder="Please Select Department" ng-model="editDoctor.appointmentType">
                <option ng-repeat="app in appTypes">{{app}}</option>
              </select>
              <div id="appTypeError"></div>
            </div>
            <div class="col-sm-6">
              <label for="appFee" class="required">Consulting Fee</label>
              <input limit-to="15" class="form-control" type="number" name="appFee" ng-model="editDoctor.fee">
            </div>
          </div>
          <h4 class="section-sub-title">Personal Information</h4>
          <div class="row form-group">
            <div class="col-sm-6">
              <label for="doctorName" class="required">Doctor's Name</label>
              <div class="input-group triple-input" name="name">
                <input limit-to="15" name="doctorFname" placeholder="First Name" class="form-control capital" type="text"
                  ng-model="editDoctor.docName">
                <input limit-to="15" name="doctorMname" placeholder="Middle Name" class="form-control capital" type="text"
                  ng-model="editDoctor.docMiddleName">
                <input limit-to="15" name="doctorLname" placeholder="Last Name" class="form-control capital" type="text"
                  ng-model="editDoctor.docLastName">
              </div>
            </div>
            <div class="col-sm-6">
              <div class="row">
                <div class="col-sm-6">
                  <label for="doctorDOB" class="required">Date of Birth</label>
                  <input data-js-datepicker class="form-control" type="text" name="doctorDOB" name="example-datepicker1"
                    data-date-format="dd-mm-yyyy" placeholder="dd-mm-yy" ng-model="editDoctor.dateOfBirth"
                    data-date-end-date="0d">
                </div>
                <div class="col-sm-6">
                  <label for="doctorGender" class="required">Gender</label>
                  <br>
                  <label class="css-input css-radio css-radio-primary push-20-r" for="radios-0">
                    <input name="radios" id="radios-0" value="Male" type="radio" ng-model="editDoctor.gender">
                    <span></span> Male </label>
                  <label class="css-input css-radio css-radio-primary" for="radios-1">
                    <input name="radios" id="radios-1" value="Female" type="radio" ng-model="editDoctor.gender">
                    <span></span> Female </label>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6 form-group">
              <label for="regno" class="required">Registration Number</label>
              <input limit-to="15" class="form-control" type="text" name="regno" ng-model="editDoctor.registrationNumber">
            </div>
            <div class="col-sm-6">
              <label for="qualification" class="required">Qualification</label>
              <input limit-to="60" class="form-control" type="text" name="qualification" ng-model="editDoctor.qualification">
            </div>
          </div>

          <h4 class="section-sub-title">Communication Information</h4>
          <div class="row">
            <div class="col-sm-6 form-group">
              <label for="mobile" class="required">Landline with ext./Mobile Number</label>
              <input limit-to="17" class="form-control" type="text" name="mobile" ng-model="editDoctor.mobileNo">
            </div>
            <div class="col-sm-6">
              <label for="email" class="required">Email Address</label>
              <input limit-to="50" class="form-control" type="text" name="email" ng-model="editDoctor.email">
            </div>
          </div>
          <div class="row form-group">
            <div class="col-sm-6">
              <label for="caddress" class="required">Address</label>
              <div class="input-group double-input">
                <input limit-to="40" name="caddress1" placeholder="Address Line 1" class="form-control" type="text"
                  ng-model="editDoctor.addressLine1">
                <input limit-to="40" name="caddress2" placeholder="Address Line 2" class="form-control" type="text"
                  ng-model="editDoctor.addressLine2">
              </div>
            </div>
            <div class="col-sm-6">
              <div class="row">
                <div class="col-md-4">
                  <label class="required">State</label>
                  <select class="form-control" name="cstate" data-placeholder="Please Select State" ng-model="editDoctor.state">
                    <option ng-repeat="(key,value) in country">{{key}}</option>
                  </select>
                  <div id="stateError"></div>
                </div>
                <div ng-if="editDoctor.state" class="col-md-4">
                  <label class="required">City</label>
                  <select class="form-control" name="ccity" data-placeholder="Please Select City" ng-model="editDoctor.city">
                    <option ng-repeat="city in country[editDoctor.state] track by $index">{{city}}</option>
                  </select>
                  <div id="cityError"></div>
                </div>
                <div class="col-md-4">
                  <label class="required">Pin Code</label>
                  <input limit-to="6" name="czip" placeholder="Pin Code" class="form-control" type="text" ng-model="editDoctor.pincode">
                </div>
              </div>
            </div>
          </div>
        </div>
      </form>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary" ng-click="updateDoctor(editDoctorForm,editDoctor)">Update Doctor</button>
      </div>
    </div>
  </div>
</div>
<div id="changeStatusModal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Change Status</h4>
      </div>
      <div class="modal-body">
        Are you sure you want to change status of {{doctorMajorData.name}} ({{doctorMajorData.id}}) ?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" ng-click="changeStatus()" data-dismiss="modal">YES</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">NO</button>
      </div>
    </div>
  </div>
</div>
<div id="appointmentSettings" class="modal fade">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Appointment Settings</h4>
      </div>
      <form name="appointmentForm">
        <div class="modal-body">
          <div class="input-group push-20">
            <div class="col-sm-6">
              <span>
                <label for="AppointmentType">Appointment Type:&nbsp;&nbsp;</label>
                {{docInfo.appointmentType}}
              </span><br>
            </div>
            <div class="col-sm-6">
              <label for="nonAvaillableDates">Non-Availability Dates</label>
              <textarea ng-flatpickr type="text" class="form-control" name="nonAvaillableDates" id="nonAvaillableDates"
                ng-model="docInfo.nonAvaillDates" placeholder="Set Non-Availlablity Dates" fp-opts="nonAppDates" ng-disabled="editOpen">
                </textarea>
            </div>
            <div class="col-sm-3">
              <label for="appointmentOpenMonth">Bookings Open (In Months)</label>
              <ui-select id="appointmentOpenMonth" name="appointmentOpenMonth" ng-model="docInfo.appOpenMonth" ng-disabled="editOpen">
                <ui-select-match data-placeholder="Please Select Month">{{$select.selected}}</ui-select-match>
                <ui-select-choices repeat="item in [1,2,3,4,5,6] | filter: $select.search">
                  <div ng-bind="item"></div>
                </ui-select-choices>
              </ui-select>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12">
              <div class="block" ng-if="docInfo.appointmentType && docInfo.appSession.length > 0">
                <div class="block-content">
                  <div class="row">
                    <div class="col-sm-12">
                      <div class="row form-group" ng-if="docInfo.appointmentType == 'Session'" ng-repeat="session in docInfo.appSession track by $index">
                        <div class="col-sm-3">
                          <label for="sessionPeriod" class="required">Session Period</label>
                          <ui-select id="sessionPeriod" name="sessionPeriod" ng-model="session.sessionName" ng-disabled="editOpen" ng-change="removeFromSessionList(session.sessionName)">
                            <ui-select-match data-placeholder="Please Select Session">{{$select.selected}}</ui-select-match>
                            <ui-select-choices repeat="item in sessionList | filter: $select.search">
                              <div ng-bind="item"></div>
                            </ui-select-choices>
                          </ui-select>
                          <div class="divalert" id="sessionPeriodError{{$index}}"></div>
                        </div>
                        <div class="col-sm-5">
                          <label for="timeRange" class="required">Time Range</label>
                          <div class="input-group">
                            <input ng-flatpickr ng-disabled="editOpen" fp-opts="appDateOpts" type="text" limit-to="9" name="fromSession" id="fromSession"
                              ng-model="session.fromTime" class="form-control timepicker" placeholder="From" ng-change="isToExist(session.toTime,session.fromTime, $index)" />
                            <span class="input-group-addon" style="border-left: 0; border-right: 0;">-</span>
                            <input ng-flatpickr  ng-disabled="editOpen" fp-opts="appDateOpts" type="text" limit-to="9" name="toSession" id="toSession"
                              ng-model="session.toTime" class="form-control timepicker" placeholder="To" ng-change="isFromExist(session.fromTime,session.toTime, $index)" />
                          </div>
                          <div class="divalert" id="sessionTimeError{{$index}}"></div>
                        </div>
                        <div class="col-sm-3">
                          <label for="appointmentCount" class="required">Number Of Appointments</label>
                          <div>
                            <input type="number" limit-to="2" name="appointmentCount" id="appointmentCount" ng-model="session.noOfAppointments"
                              class="form-control" placeholder="" ng-disabled="editOpen" />
                          </div>
                          <div class="divalert" id="appointmentCountError{{$index}}"></div>
                        </div>
                        <div class="col-sm-1 text-right">
                          <label for="timeRange" style="width:100%;"> &nbsp; </label>
                          <a href="javascript:void(0)" ng-hide="editOpen"  ng-click="remove(session.sessionName,$index)"><i class="icon-cancel-circle2"></i></a>
                        </div>
                      </div>
                      <div class="row form-group" ng-if="docInfo.appointmentType == 'Slot'" ng-repeat="slot in docInfo.appSession track by $index">
                        <div class="col-sm-3">
                          <label for="sessionPeriod" class="required">Session Period</label>
                          <ui-select id="slotSessionPeriod" ng-model="slot.sessionName" ng-disabled="editOpen" ng-change="removeFromSessionList(slot.sessionName)">
                            <ui-select-match data-placeholder="Please Select Session">{{$select.selected}}</ui-select-match>
                            <ui-select-choices repeat="item in sessionList | filter: $select.search">
                              <div ng-bind="item"></div>
                            </ui-select-choices>
                          </ui-select>
                          <div class="divalert" id="slotSessionPeriodError{{$index}}"></div>
                        </div>
                        <div class="col-sm-5">
                          <label for="timeRange" class="required">Time Range</label>
                          <div class="input-group">
                            <input ng-flatpickr ng-disabled="editOpen" fp-opts="appDateOpts" type="text" limit-to="9" name="fromSlot" id="fromSlot"
                              ng-model="slot.fromTime" class="form-control timepicker" placeholder="From" ng-change="isToExist(slot.toTime,slot.fromTime, $index)" />
                            <span class="input-group-addon" style="border-left: 0; border-right: 0;">-</span>
                            <input ng-flatpickr ng-disabled="editOpen" fp-opts="appDateOpts" type="text" limit-to="9" name="toSlot" id="toSlot"
                              ng-model="slot.toTime" class="form-control timepicker" placeholder="To" ng-change="isFromExist(slot.fromTime,slot.toTime, $index)" />
                          </div>
                          <div class="divalert" id="slotSessionTimeError{{$index}}"></div>
                        </div>
                        <div class="col-sm-3">
                          <label for="slotInterval" class="required">Slot Interval</label>
                          <div class="input-group">
                            <ui-select id="slotInterval" ng-model="slot.slotInterval" ng-disabled="editOpen">
                              <ui-select-match data-placeholder="Slot Interval">{{$select.selected}}</ui-select-match>
                              <ui-select-choices repeat="item in slotIntervalList | filter: $select.search">
                                <div ng-bind="item"></div>
                              </ui-select-choices>
                            </ui-select>
                            <span class="input-group-addon" style="border-left: 0; border-right: 0;">Minutes</span>
                          </div>
                          <div class="divalert" id="slotIntervalError{{$index}}"></div>
                        </div>
                        <div class="col-sm-1 text-right">
                          <label for="timeRange" style="width:100%;"> &nbsp; </label>
                          <a href="javascript:void(0)" ng-hide="editOpen" ng-click="remove(slot.sessionName,$index)"><i class="icon-cancel-circle2"></i></a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div ng-if="docInfo.appointmentType == 'Session' && !editOpen" ng-hide="docInfo.appSession.length > 3" class="col-sm-12" style="padding-left:0px;">
                  <button class="btn btn-outline-mauve btn-xs mt-2" type="button" ng-click="addNewSession()">
                    <i class="icon-plus22"></i> Add Session</button>
                </div>
                <div ng-if="docInfo.appointmentType == 'Slot' && !editOpen" ng-hide="docInfo.appSession.length > 3" class="col-sm-12" style="padding-left:0px;">
                  <button class="btn btn-outline-mauve btn-xs mt-2" type="button" ng-click="addNewSlot()">
                    <i class="icon-plus22"></i> Add Slot</button>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12">
              <div ng-if="docInfo.appointmentType == 'Session' && !editOpen" ng-hide="docInfo.appSession.length > 0" class="col-sm-12"
                style="padding-left:0px;">
                <button class="btn btn-outline-mauve btn-xs mt-2" type="button" ng-click="addNewSession()">
                  <i class="icon-plus22"></i> Add Session</button>
              </div>
              <div ng-if="docInfo.appointmentType == 'Slot' && !editOpen" ng-hide="docInfo.appSession.length > 0" class="col-sm-12"
                style="padding-left:0px;">
                <button class="btn btn-outline-mauve btn-xs mt-2" type="button" ng-click="addNewSlot()">
                  <i class="icon-plus22"></i> Add Slot</button>
              </div>
            </div>
          </div>
        </div>

      </form>
      <!-- ng-if="docInfo.appSession.length > noOfAppSetting"  -->
      <!-- <div class="modal-footer" ng-show="docInfo.appSession.length > noOfAppSetting">
        <button type="button" class="btn btn-default" ng-click="clearAppointmentData()" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary" ng-click="registerAppointment(docInfo)">Add
          Appointment</button>
      </div> -->
      <div class="modal-footer" ng-hide="!editOpen">
        <button type="button" class="btn btn-default" ng-click="clearAppointmentData()" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary" ng-click="editAppointment()">Edit
          Appointment</button>
      </div>
      <div class="modal-footer" ng-show="!editOpen">
        <button type="button" class="btn btn-default" ng-click="clearAppointmentData()" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary" ng-click="registerAppointment(docInfo)">Update
          Appointment</button>
      </div>
    </div>
  </div>
</div>