<!-- Page Header -->

<!-- <ul class="breadcrumb">
        <li>Breadcrumb Home</li>
        <li>Breadcrumb Parent</li>
        <li><a class="link-effect" href="">Breadcrumb Child</a></li>
      </ul> -->

<!-- END Page Header -->
<!-- Page Content -->
<div class="content">
  <div class="element-wrapper">
    <div class="element-actions"><a class="btn btn-default btn-xs" href="javascript:void(0)" data-target="#addPatient"
        data-toggle="modal"><i class="icon-plus-circle2"></i><span>Add Patient</span></a></div>
    <h4 class="element-header">Patients</h4>
  </div>
  <div class="alert alert-success alert-white rounded" ng-show="sucMsg" id="successId" style="display:none">
    <button type="button" ng-click="hideAlert()" class="close">×</button>
    <div class="icon">
      <i class="fa fa-check"></i>
    </div>
    {{successMsg}}
  </div>
  <div class="block remove-margin-b">
    <div class="box">
      <div class="row element-wrapper">
        <div class="col-sm-3">
        </div>
        <div class="col-sm-4 pull-right">
          <div class="element-search">
            <!-- <input limit-to="15" ng-change="searchPatient(searchText)" placeholder="Type Patient's OPCode or Name"
              ng-model="searchText" type="text"> -->
            <div class="input-group input-group-multiple">
              <select type="text" class="form-control input-xs" placeholder="Search By" data-ng-model="search.byField">
                <option value="1">OP-Code</option>
                <option value="2">Patient Mobile Number</option>
                <option value="3">Patient Name</option>
              </select>
              <input limit-to="25" type="text" placeholder="Search" class="form-control input-xs" data-ng-model="search.searchTerm"
                ng-change="searchPatient(search.searchTerm,search.byField)">
            </div>
          </div>
        </div>
      </div>
    </div>
    <table class="table table-striped table-hover standard-table">
      <thead>
        <tr>
          <th>OP Code</th>
          <th>Name</th>
          <th>Department</th>
          <th>Associated Doctors</th>
          <th>Address</th>
          <th>Email Address</th>
          <th>Mobile Number</th>
          <th>Status</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="apat in allPatientsList | filter:searchText">
          <td data-title="OP Code">{{apat.patient.opCode}}</td>
          <td data-title="Patient Name"><a data-ui-sref="patientProfile({id:apat.patient.opCode})" href="javascript:void(0)">{{apat.patient.fName}}
              {{apat.patient.mName}} {{apat.patient.lName}}</a><br>
            {{apat.patient.gender}},&nbsp;{{apat.patient.dob}},&nbsp;{{apat.patient.age}}&nbsp;Years</td>
          <td data-title="Department">{{apat.patient.department.name}}</td>
          <td data-title="Doctors">
            <span ng-repeat="doc in apat.doctors">
              Dr.&nbsp;&nbsp;{{doc.docName}} {{doc.docMiddleName}} {{doc.docLastName}}<span ng-hide='$last'>,</span>
            </span></td>
          <td data-title="Address">{{apat.patient.addressLine1}},{{apat.patient.addressLine2}}<br>{{apat.patient.city}},{{apat.patient.state}}-{{apat.patient.zipCode}}</td>
          <td data-title="Email ID">{{apat.patient.email}}</td>
          <td data-title="Mobile Number">{{apat.patient.mobileNo}}</td>
          <td data-title="Status" ng-if="apat.status == 'Active'"><span class="badge badge-success">{{apat.status}}</span></td>
          <td data-title="Status" ng-if="apat.status == 'Inactive'"><span class="badge badge-danger">{{apat.status}}</span></td>
          <td data-title="Actions">
            <a class="btn btn-default btn-xs push-5-r" ng-click="openEditPatient(apat)" data-toggle="modal"><i class="icon-pencil"></i>
              Edit</a>
            <a class="btn btn-default btn-xs" ng-click="changePatientStatus(apat)" data-toggle="modal"><i class="icon-cross2"></i>
              Change Status</a></td>
        </tr>
      </tbody>
    </table>
  </div>
  <!-- <div class="btn-group table-pagination push-30 pull-right">
    <button type="button" class="btn btn-white" ng-click="getPatientsList((page-1) * 10)"><i class="fa fa-chevron-left"></i></button>
    <button class="btn btn-white" ng-repeat="page in pagesNeeded" ng-click="getPatientsList(page*10)">{{page + 1}}</button>
    <button type="button" class="btn btn-white" ng-click="getPatientsList((page-1) * 10)"><i class="fa fa-chevron-right"></i>
    </button>
  </div> -->
  <div class="btn-group table-pagination push-30 pull-right">
    <button type="button" ng-show="pagesNeeded.length > 1 && pageIn != 1" class="btn btn-white" ng-click="getPatientsList((pageIn-2) * 10,pageIn-1)"><i
        class="fa fa-chevron-left"></i></button>
    <button class="btn btn-white" ng-repeat="page in pagesNeeded track by $index" ng-class="{'active' : page == pageIn}"
      ng-click="getPatientsList((page-1) * 10,page)">{{page}}</button>
    <button type="button" ng-show="pagesNeeded.length > 1 && pageIn != pagesNeeded.length" class="btn btn-white"
      ng-click="getPatientsList(pageIn * 10,pageIn+1)"><i class="fa fa-chevron-right"></i>
    </button>
  </div>
  <div class="clearfix"></div>
</div>
</div>
<div id="addPatient" class="modal fade">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Add Patient</h4>
      </div>
      <form name="patientForm" ng-validate="validateNewPatient">
        <div class="modal-body">
          <h4 class="section-sub-title">Hospital Information</h4>
          <div class="row form-group">
            <div class="col-sm-6">
              <div class="row">
                <div class="col-sm-6">
                  <label for="OpCode" class="required">OP Code</label>
                  <input name="OpCode" limit-to="10" class="form-control" type="text" ng-change="checkOpExist(newPatient.opCode)"
                    ng-model="newPatient.opCode">
                  <div id="opExistError"></div>
                </div>
                <div class="col-sm-6">
                  <label for="department" class="required">Department</label>
                  <select class="form-control" name="Department" ng-change="loadDepartmentDoctors(newPatient.department)"
                    data-placeholder="Please Select Department" ng-model="newPatient.department">
                    <option ng-repeat="dept in AllDepartments">{{dept.name}}</option>
                  </select>
                  <div id="departmentError"></div>
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <label for="department" class="required">Associated Doctors</label>
              <ui-select class="form-control" multiple placeholder="Select Doctors" ng-model="newPatient.doctors">
                <ui-select-match>{{ $item.docName }}</ui-select-match>
                <ui-select-choices repeat="item in (departmentDoctors | filter: $select.search)">
                  <div ng-bind-html="item.docName | highlight: $select.search.docName"></div>
                </ui-select-choices>
              </ui-select>
              <div id="doctorError"></div>
              <span class="help-block">Associated Doctors can view this Patient's Profile</span>
            </div>
          </div>
          <h4 class="section-sub-title">Personal Information</h4>
          <div class="row form-group">
            <div class="col-sm-6">
              <label for="patientName" class="required">Patient's Name</label>
              <div class="input-group triple-input">
                <input limit-to="15" name="patientName" placeholder="First Name" class="form-control capital" type="text"
                  ng-model="newPatient.fName">
                <input limit-to="15" name="patientName2" placeholder="Middle Name" class="form-control capital" type="text"
                  ng-model="newPatient.mName">
                <input limit-to="15" name="patientName3" placeholder="Last Name" class="form-control capital" type="text"
                  ng-model="newPatient.lName">
              </div>
            </div>
            <div class="col-sm-6">
              <div class="row">
                <div class="col-sm-6">
                  <label for="patientDOB" class="required">Date of Birth</label>
                  <input data-js-datepicker class="form-control" type="text" data-date-end-date="0d" ng-change="calculateAge(newPatient.dob)"
                    id="patientDOB" data-date-format="dd-mm-yyyy" placeholder="dd-mm-yyyy" ng-model="newPatient.dob">
                </div>
                <div class="col-sm-6">
                  <label for="patienttGender" class="required">Gender</label>
                  <br>
                  <label class="css-input css-radio css-radio-primary push-20-r" for="radios-0">
                    <input name="radios" id="radios-0" value="Male" type="radio" ng-model="newPatient.gender">
                    <span></span> Male </label>
                  <label class="css-input css-radio css-radio-primary" for="radios-1">
                    <input name="radios" id="radios-1" value="Female" type="radio" ng-model="newPatient.gender">
                    <span></span> Female </label>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <div class="row">
                <div class="col-sm-6 form-group">
                  <label for="patientBloodGroup" class="required">Blood Group</label>
                  <select data-js-select2 class="form-control" name="patientBloodGroup" data-placeholder="Please Select Blood Group"
                    ng-model="newPatient.BloodGroup">
                    <option>A +ve</option>
                    <option>A -ve</option>
                    <option>B +ve</option>
                    <option>B -ve</option>
                    <option>AB +ve</option>
                    <option>AB -ve</option>
                    <option>O +ve</option>
                    <option>O -ve</option>
                  </select>
                  <div id="bloodGroupError"></div>
                </div>
                <div class="col-sm-6 form-group">
                  <label for="height">Height</label>
                  <div class="input-group">
                    <input limit-to="5" type="text" class="form-control" placeholder="in Centimeters" name="height"
                      ng-model="newPatient.height">
                    <span class="input-group-addon">cms</span> </div>
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="row">
                <div class="col-sm-6 form-group">
                  <label for="marital">Marital Status</label>
                  <select data-js-select2 class="form-control" name="marital" data-placeholder="Please Select Marital Status"
                    ng-model="newPatient.marital">
                    <option>Married</option>
                    <option>Un-Married</option>
                  </select>
                </div>
                <div class="col-sm-6 form-group">
                  <label for="Aadhaar">Aadhaar Number</label>
                  <input limit-to="12" name="Aadhaar" class="form-control" type="text" ng-model="newPatient.aaadharId">
                </div>
              </div>
            </div>
          </div>
          <h4 class="section-sub-title">Communication Information</h4>
          <div class="row form-group">
            <div class="col-sm-6">
              <label for="caddress" class="required">Address</label>
              <div class="input-group double-input">
                <input limit-to="40" name="caddress1" placeholder="Address Line 1" class="form-control" type="text"
                  ng-model="newPatient.addressLine1">
                <input limit-to="40" name="caddress2" placeholder="Address Line 2" class="form-control" type="text"
                  ng-model="newPatient.addressLine2">
              </div>
            </div>
            <div class="col-sm-6">
              <div class="row">
                <div class="col-md-4">
                  <label class="required">State</label>
                  <select class="form-control" name="cstate" data-placeholder="Please Select State" ng-model="newPatient.state">
                    <option ng-repeat="(key,value) in country">{{key}}</option>
                  </select>
                  <div id="stateError"></div>
                </div>
                <div ng-if="newPatient.state" class="col-md-4">
                  <label class="required">City</label>
                  <select class="form-control" name="ccity" data-placeholder="Please Select City" ng-model="newPatient.city">
                    <option ng-repeat="city in country[newPatient.state] track by $index">{{city}}</option>
                  </select>
                  <div id="cityError"></div>
                </div>
                <div class="col-md-4">
                  <label class="required">Pin Code</label>
                  <input limit-to="6" maxlength="6" name="czip" placeholder="Pin Code" class="form-control" type="text"
                    ng-model="newPatient.zipCode">
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <div class="row">
                <div class="col-sm-6 form-group">
                  <label for="mobile" class="required">Mobile Number</label>
                  <input limit-to="10" name="mobile" class="form-control" type="text" ng-model="newPatient.mobileNo">
                </div>
                <div class="col-sm-6 form-group">
                  <label for="email" class="required">Email Address</label>
                  <input limit-to="50" class="form-control" type="text" name="email" ng-model="newPatient.email">
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <label for="occupation">Occupation</label>
              <input limit-to="20" class="form-control" type="text" name="occupation" ng-model="newPatient.occupation">
            </div>
          </div>
        </div>
      </form>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="cancelOfSavingPatient()">Cancel</button>
        <button type="button" class="btn btn-primary" ng-click="registerPatient(patientForm,newPatient)">Add Patient</button>
      </div>
    </div>
  </div>
</div>
<div id="editPatient" class="modal fade">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Edit Patient</h4>
      </div>
      <form name="editpatientForm" ng-validate="validateNewPatient">
        <div class="modal-body">
          <h4 class="section-sub-title">Hospital Information</h4>
          <div class="row form-group">
            <div class="col-sm-6">
              <div class="row">
                <div class="col-sm-6">
                  <label for="OpCode" class="required">OP Code</label>
                  <input limit-to="10" name="OpCode" class="form-control" type="text" ng-change="checkOpExist(editPatient.opCode)"
                    ng-model="editPatient.opCode" disabled>
                  <div id="opExistError"></div>
                </div>
                <div class="col-sm-6">
                  <label for="department" class="required">Department</label>
                  <!-- Below selection (Will be multi-department) only works for Super Admin Role -->
                  <select class="form-control" name="Department" ng-change="loadDepartmentDoctors(editPatient.department)"
                    data-placeholder="Please Select Department" ng-model="editPatient.department">
                    <option ng-repeat="dept in AllDepartments">{{dept.name}}</option>
                  </select>
                  <div id="departmentError"></div>
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <label for="department" class="required">Associated Doctors</label>
              <ui-select class="form-control" multiple placeholder="Select Doctors" ng-model="editPatient.doctors">
                <ui-select-match>{{$item.docName + $item.docMiddleName + $item.docLastName}}</ui-select-match>
                <ui-select-choices repeat="item in (departmentDoctors | filter: $select.search)">
                  <div>{{item.docName + item.docMiddleName + item.docLastName}}</div>
                </ui-select-choices>
              </ui-select>
              <div id="doctorError"></div>
              <span class="help-block">Associated Doctors can view this Patient's Profile</span>
            </div>
          </div>
          <h4 class="section-sub-title">Personal Information</h4>
          <div class="row form-group">
            <div class="col-sm-6">
              <label for="patientName" class="required">Patient's Name</label>
              <div class="input-group triple-input">
                <input limit-to="15" name="patientName" placeholder="First Name" class="form-control capital" type="text"
                  ng-model="editPatient.fName">
                <input limit-to="15" name="patientName2" placeholder="Middle Name" class="form-control capital" type="text"
                  ng-model="editPatient.mName">
                <input limit-to="15" name="patientName3" placeholder="Last Name" class="form-control capital" type="text"
                  ng-model="editPatient.lName">
              </div>
            </div>
            <div class="col-sm-6">
              <div class="row">
                <div class="col-sm-6">
                  <label for="patientDOB" class="required">Date of Birth</label>
                  <input data-js-datepicker class="form-control" type="text" data-date-end-date="0d" ng-change="calculateAge(editPatient.dob)"
                    id="patientDOB" data-date-format="dd-mm-yyyy" placeholder="dd-mm-yyyy" ng-model="editPatient.dob">
                </div>
                <div class="col-sm-6">
                  <label for="patienttGender" class="required">Gender</label>
                  <br>
                  <label class="css-input css-radio css-radio-primary push-20-r" for="radios-0">
                    <input name="radios" id="radios-0" value="Male" type="radio" ng-model="editPatient.gender">
                    <span></span> Male </label>
                  <label class="css-input css-radio css-radio-primary" for="radios-1">
                    <input name="radios" id="radios-1" value="Female" type="radio" ng-model="editPatient.gender">
                    <span></span> Female </label>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <div class="row">
                <div class="col-sm-6 form-group">
                  <label for="patientBloodGroup" class="required">Blood Group</label>
                  <select data-js-select2 class="form-control" name="patientBloodGroup" data-placeholder="Please Select Blood Group"
                    ng-model="editPatient.BloodGroup" disabled>
                    <option>A +ve</option>
                    <option>A -ve</option>
                    <option>B +ve</option>
                    <option>B -ve</option>
                    <option>AB +ve</option>
                    <option>AB -ve</option>
                    <option>O +ve</option>
                    <option>O -ve</option>
                  </select>
                  <div id="bloodGroupError"></div>
                </div>
                <div class="col-sm-6 form-group">
                  <label for="height">Height</label>
                  <div class="input-group">
                    <input limit-to="5" type="text" class="form-control" placeholder="in Centimeters" name="height"
                      ng-model="editPatient.height">
                    <span class="input-group-addon">cms</span> </div>
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="row">
                <div class="col-sm-6 form-group">
                  <label for="marital">Marital Status</label>
                  <select data-js-select2 class="form-control" name="marital" data-placeholder="Please Select Marital Status"
                    ng-model="editPatient.marital">
                    <option>Married</option>
                    <option>Un-Married</option>
                  </select>
                </div>
                <div class="col-sm-6 form-group">
                  <label for="Aadhaar">Aadhaar Number</label>
                  <input limit-to="12" name="Aadhaar" class="form-control" type="text" ng-model="editPatient.aadharId">
                </div>
              </div>
            </div>
          </div>
          <h4 class="section-sub-title">Communication Information</h4>
          <div class="row form-group">
            <div class="col-sm-6">
              <label for="caddress" class="required">Address</label>
              <div class="input-group double-input">
                <input limit-to="40" name="caddress1" placeholder="Address Line 1" class="form-control" type="text"
                  ng-model="editPatient.addressLine1">
                <input limit-to="40" name="caddress2" placeholder="Address Line 2" class="form-control" type="text"
                  ng-model="editPatient.addressLine2">
              </div>
            </div>
            <div class="col-sm-6">
              <div class="row">
                <div class="col-md-4">
                  <label class="required">State</label>
                  <select class="form-control" name="cstate" data-placeholder="Please Select State" ng-model="editPatient.state">
                    <option ng-repeat="(key,value) in country">{{key}}</option>
                  </select>
                  <div id="stateError"></div>
                </div>
                <div ng-if="editPatient.state" class="col-md-4">
                  <label class="required">City</label>
                  <select class="form-control" name="ccity" data-placeholder="Please Select City" ng-model="editPatient.city">
                    <option ng-repeat="city in country[editPatient.state] track by $index">{{city}}</option>
                  </select>
                  <div id="cityError"></div>
                </div>
                <div class="col-md-4">
                  <label class="required">Pin Code</label>
                  <input limit-to="6" maxlength="6" name="czip" placeholder="Pin Code" class="form-control" type="text"
                    ng-model="editPatient.zipCode">
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <div class="row">
                <div class="col-sm-6 form-group">
                  <label for="mobile" class="required">Mobile Number</label>
                  <input limit-to="10" name="mobile" class="form-control" type="text" ng-model="editPatient.mobileNo">
                </div>
                <div class="col-sm-6 form-group">
                  <label for="email" class="required">Email Address</label>
                  <input limit-to="50" class="form-control" type="text" name="email" ng-model="editPatient.email">
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <label for="occupation">Occupation</label>
              <input limit-to="20" class="form-control" type="text" name="occupation" ng-model="editPatient.occupation">
            </div>
          </div>
        </div>
      </form>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary" ng-click="updatePatient(editpatientForm,editPatient)">Update
          Patient</button>
      </div>
    </div>
  </div>
</div>
<div id="changeStatusModal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Change Status</h4>
      </div>
      <div class="modal-body">
        Are you sure you want to change status of {{patietMajorData.patientName}} ({{patietMajorData.opCode}}) ?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" ng-click="changeStatus()" data-dismiss="modal">YES</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">NO</button>
      </div>
    </div>
  </div>
</div>