<div class="tab-pane fade" id="tab-allergies">
    <div class="block-content">
        <div class="row">
            <div class="col-sm-12 col-md-12">
                <div class="activity-boxes-w">
                    <div class="activity-box-w" ng-if="Auth && (Auth.hasResourceRole('doctor'))">
                        <div class="activity-time">10 Min</div>
                        <div class="activity-box">
                            <div class="block1">
                                <div class="box collapse in" id="addallergiestrigger">
                                    <a href="javascript:void(0)" ng-click="opencollapse()" class="btn btn-default btn-xs">
                                        <i class="icon-plus-circle2 push-5-r"></i>Add Allergen</a>
                                </div>
                                <div ng-if="Auth && (Auth.hasResourceRole('doctor'))" id="addallergies" class="collapse">
                                    <div class="box">
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <h3 class="box-title">Add Allergen</h3>
                                            </div>
                                        </div>
                                    </div>
                                    <form name="allergy" id="allergy">
                                        <table class="table table-hover standard-table font-s14 js-dataTable-full remove-margin-b">
                                            <thead>
                                                <tr>
                                                    <th class="text-orange text-uppercase">Allergen
                                                        <span style="color: red;"> *</span>
                                                    </th>
                                                    <th class="text-orange text-uppercase">Allergy Type
                                                        <span style="color: red;"> *</span>
                                                    </th>
                                                    <th class="text-orange text-uppercase">Reaction</th>
                                                    <th class="text-orange text-uppercase">Severity
                                                        <span style="color: red;"> *</span>
                                                    </th>
                                                    <th class="text-orange text-uppercase">Onset Date
                                                        <span style="color: red;"> *</span>
                                                    </th>
                                                    <th class="text-orange text-uppercase">Notes</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td >
                                                        <div class="form-group">
                                                            <input type="text" limit-to="25" ng-model="allergies.allergen" ng-change="allergyIfExist(allergies.allergen)" maxlength="25" name="allergen"
                                                                id="allergen" class="form-control capital">
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <select data-js-select2 class="form-control" id="allergenType" data-ng-model="allergies.allergyType" data-placeholder="Allergen Type">
                                                            <option>Drug</option>
                                                            <option>Food</option>
                                                            <option>Environment</option>
                                                            <option>Skin</option>
                                                            <option>Dust</option>
                                                            <option>Insect Sting</option>
                                                            <option>Allergic Rhinitis</option>
                                                            <option>Latex</option>
                                                            <option>Medication</option>
                                                            <option>Sinus</option>
                                                            <option>Mold</option>
                                                            <option>Eye</option>
                                                            <option>Pet</option>
                                                            <option>Others</option>
                                                        </select>
                                                    </td>
                                                    <td>
                                                        <div class="form-group">
                                                            <div>
                                                                <textarea name="patientReaction" maxlength="100" rows="2" class="form-control" id="patientReaction" name="patientReaction"
                                                                    ng-model="allergies.reaction" placeholder=""></textarea>
                                                            </div>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <select data-js-select2 class="form-control" id="allergenSeverity" data-ng-model="allergies.severity" data-placeholder="Severity">
                                                            <option>Mild</option>
                                                            <option>Moderate</option>
                                                            <option>Severe</option>
                                                        </select>
                                                    </td>
                                                    <td>
                                                        <div class="form-group">
                                                            <div>
                                                                <input data-js-datepicker type="text" class="form-control" id="onSetDate" name="onSetDate" data-datepicker-date="allergies.onsetDate"
                                                                    data-date-end-date="0d" data-date-format="dd-mm-yyyy" placeholder="From"/>
                                                            </div>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <textarea name="allergyNotes" maxlength="150" rows="2" class="form-control" id="allergyNotes" ng-model="allergies.notes"
                                                            placeholder=""></textarea>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </form>
                                    <div class="box test-content border-top">
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <a href="javascript:void(0)" ng-click="allergyValidation(allergies)" class="btn btn-primary btn-xs pull-right" data-toggle="modal">
                                                    <i class="icon-checkmark"></i> Save</a>
                                                <a href="javascript:void(0)" class="btn btn-danger btn-xs pull-right push-10-r" data-target="#closeModalofallergy" data-toggle="modal">
                                                    <i class="icon-cross2"></i> Cancel</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="activity-box-w" ng-repeat="i in num">
                        <div class="activity-time">10 Min</div>
                        <div class="activity-box">
                            <div class="block1">
                                <div class="box">
                                    <a href="javascript:void(0)" class="toggler pull-right" data-toggle="collapse" ng-click="getActiveAllergies()" data-target="#allergies1{{$index}}"
                                        aria-expanded="{{$first}}">
                                        <i class="icon-plus2 push-10-r"></i>
                                    </a>
                                    <h3 class="box-title">Active Allergies</h3>
                                </div>
                                <div id="allergies1{{$index}}" class="collapse" ng-class="{'in': $index == 0}">
                                    <table class="table table-hover standard-table font-s14 js-dataTable-full remove-margin-b">
                                        <thead>
                                            <tr>
                                                <th width="10%" class="text-orange text-uppercase">Allergen</th>
                                                <th width="10%" class="text-orange text-uppercase">Allergy Type</th>
                                                <th width="20%" class="text-orange text-uppercase">Reaction</th>
                                                <th width="10%" class="text-orange text-uppercase">Severity</th>
                                                <th width="20%" class="text-orange text-uppercase">Onset Date</th>
                                                <th width="20%" class="text-orange text-uppercase">Notes</th>
                                                <th width="10%" ng-if="Auth && (Auth.hasResourceRole('doctor'))" class="text-orange text-uppercase">Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="allergies in displayActiveAllergy">
                                                <td data-title="Allergen">{{allergies.allergen}}</td>
                                                <td data-title="Allergy Type">{{allergies.allergyType}}</td>
                                                <td data-title="Reaction">{{allergies.reaction}}</td>
                                                <td data-title="Severity" ng-if="allergies.severity== 'Mild'">
                                                    <span class="badge" ng-class="{'badge-success remove-margin-b': allergies.severity == 'Mild' }">{{allergies.severity}}</span>
                                                </td>
                                                <td data-title="Severity" ng-if="allergies.severity== 'Moderate'">
                                                    <span class="badge" ng-class="{'badge-warning remove-margin-b': allergies.severity== 'Moderate' }">{{allergies.severity}}</span>
                                                </td>
                                                <td data-title="Severity" ng-if="allergies.severity== 'Severe'">
                                                    <span class="badge" ng-class="{'badge badge-danger remove-margin-b': allergies.severity== 'Severe' }">{{allergies.severity}}</span>
                                                </td>
                                                <!-- <td>{{allergies.severity}}</td> -->
                                                <td data-title="Onset Date">{{allergies.onsetDate}}</td>
                                                <td data-title="Notes">{{allergies.notes}}</td>
                                                <td data-title="Action" ng-if="Auth && (Auth.hasResourceRole('doctor'))">
                                                    <a href="javascript:void(0)" ng-click="inactiveAllergy(allergies,$index)" class="btn btn-default btn-xs push-5-r" data-target="#allergyModal"
                                                        data-toggle="modal">
                                                        <i class="icon-pencil5"></i> Allergy is no longer active</a>

                                                </td>
                                            </tr>

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="activity-box-w">
                        <div class="activity-time">10 Min</div>
                        <div class="activity-box">
                            <div class="block1">
                                <!-- ng-if="expand" -->
                                <div class="box">
                                    <a href="javascript:void(0)" class="toggler pull-right" data-toggle="collapse" ng-click="getInactiveAllergies()" data-target="#allergies2"
                                        aria-expanded="false">
                                        <i class="icon-plus2 push-10-r"></i>
                                    </a>
                                    <h3 class="box-title">History of Allergies</h3>
                                </div>
                                <div id="allergies2" class="collapse" ng-class="{'in': bool_Inactive == true }">
                                    <table class="table table-hover standard-table font-s14 js-dataTable-full remove-margin-b">
                                        <thead>
                                            <tr>
                                                <th width="10%" class="text-orange text-uppercase">Allergen</th>
                                                <th width="10%" class="text-orange text-uppercase">Allergy Type</th>
                                                <th width="20%" class="text-orange text-uppercase">Reaction</th>
                                                <th width="10%" class="text-orange text-uppercase">Severity</th>
                                                <th width="10%" class="text-orange text-uppercase">End Date</th>
                                                <th width="10%" class="text-orange text-uppercase">Onset Date</th>
                                                <th width="20%" class="text-orange text-uppercase">Notes</th>
                                                <th width="10%" ng-if="Auth && (Auth.hasResourceRole('doctor'))" class="text-orange text-uppercase">Action</th>
                                            </tr>
                                        </thead>
                                        <tbody ng-repeat="inactive in displayInactiveAllergy">
                                            <tr>
                                                <td data-title="Allergen">{{inactive.allergen}}</td>
                                                <td data-title="Allergy Type">{{inactive.allergyType}}</td>
                                                <td data-title="Reaction">{{inactive.reaction}}</td>
                                                <td data-title="Severity" ng-if="inactive.severity== 'Mild'">
                                                    <span class="badge" ng-class="{'badge-success remove-margin-b': inactive.severity== 'Mild' }">{{inactive.severity}}</span>
                                                </td data-title="">
                                                <td  data-title="Severity"ng-if="inactive.severity== 'Moderate'">
                                                    <span class="badge" ng-class="{'badge-warning remove-margin-b': inactive.severity== 'Moderate' }">{{inactive.severity}}</span>
                                                </td>
                                                <td  data-title="Severity"ng-if="inactive.severity== 'Severe'">
                                                    <span class="badge" ng-class="{'badge badge-danger remove-margin-b': inactive.severity== 'Severe' }">{{inactive.severity}}</span>
                                                </td>
                                                <!-- <td></td> -->
                                                <td data-title="Onset Date">{{inactive.onsetDate}}</td>
                                                <td data-title="End Date">{{inactive.endDate}}</td>
                                                <td data-title="Notes">{{inactive.notes}}</td>
                                                <td data-title="Action" ng-if="Auth && (Auth.hasResourceRole('doctor'))">
                                                    <a href="javascript:void(0)" ng-click="activeAllergy(inactive,$index)" class="btn btn-default btn-xs push-5-r" data-target="#InactiveallergyModal"
                                                        data-toggle="modal">
                                                        <i class="icon-pencil5"></i>Activate allergy</a>
                                                </td>
                                            </tr>

                                        </tbody>
                                    </table>

                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>
    <div id="allergyModal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Inactive Allergy</h4>
                </div>
                <div class="modal-body">
                    Are you sure you want to make {{displayInactive.allergen}} inactive?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-primary" ng-click="setInactive()" data-dismiss="modal">OK</button>
                </div>
            </div>
        </div>
    </div>
    <div id="saveModalofallergy" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Save Allergy</h4>
                </div>
                <div class="modal-body">
                    Are you sure you want to save ?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" ng-click="saveAllergies(allergies);closecollapse()" data-dismiss="modal">YES</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">NO</button>
                </div>
            </div>
        </div>
    </div>
    <div id="InactiveallergyModal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Activate Allergy</h4>
                </div>
                <div class="modal-body">
                    Are you sure you want to make {{displayActive.allergen}} active ?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-primary" ng-click="setActive()" data-dismiss="modal">OK</button>
                </div>
            </div>
        </div>
    </div>
    <div id="closeModalofallergy" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Cancel Allergy</h4>
                </div>
                <div class="modal-body">
                    Are you sure you want to cancel ?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" ng-click="closecollapse()" data-dismiss="modal">YES</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">NO</button>
                </div>
            </div>
        </div>
    </div>
</div>