@font-face {
	font-family: "Fontsaddict";
	src: url("Fontsaddict.eot");
	src: url("Fontsaddict.eot#iefix") format("embedded-opentype"),
	url("Fontsaddict.woff") format("woff"),
	url("Fontsaddict.ttf") format("truetype"),
	url("Fontsaddict.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}
[class^="medical-"]:before, [class*=" medical-"]:before,
[class^="medical-"]:after, [class*=" medical-"]:after {
	font-family: Fontsaddict;
	font-size: 16px;
	font-style: normal;
	margin: 0px 0 0 10px;
}

[class^="medic-"]:before, [class*=" medic-"]:before,
[class^="medic-"]:after, [class*=" medic-"]:after  {
 font-size: 24px !important;
  margin: 0;
}

.medical-injection:before {
	content: "\e800"
}
.medical-medical:before {
	content: "\e801"
}
.medical-ecg:before {
	content: "\e802"
}
.medical-medical-1:before {
	content: "\e803"
}
.medical-microscope:before {
	content: "\e804"
}
.medical-medicine:before {
	content: "\e805"
}
.medical-virus:before {
	content: "\e806"
}
.medical-medical-2:before {
	content: "\e807"
}
.medical-drugs:before {
	content: "\e808"
}
.medical-medkit:before {
	content: "\e809"
}
.medical-chemical:before {
	content: "\e80a"
}
.medical-md:before {
	content: "\e80b"
}
.medical-pharmacy:before {
	content: "\e80c"
}
.medical-oxygen:before {
	content: "\e80d"
}
.medical-hospital:before {
	content: "\e80e"
}
.medical-medical-3:before {
	content: "\e80f"
}
.medical-classic:before {
	content: "\e810"
}
.medical-snellen:before {
	content: "\e811"
}
.medical-x:before {
	content: "\e812"
}
.medical-telescope:before {
	content: "\e813"
}
.medical-drops:before {
	content: "\e814"
}
.medical-moon:before {
	content: "\e815"
}
.medical-clear:before {
	content: "\e817"
}
.medical-sunny:before {
	content: "\e818"
}
.medical-rainbow:before {
	content: "\e816"
}
.medical-screen:before {
	content: "\e819"
}
.medical-brightness:before {
	content: "\e81a"
}
.medical-sunrise:before {
	content: "\e81b"
}
.medical-sunset:before {
	content: "\e81c"
}
.medical-weather:before {
	content: "\e81d"
}

