<!-- Page Header -->
<div>
	<!-- <ul class="breadcrumb">
		<li>Breadcrumb Home</li>
		<li>Breadcrumb Parent</li>
		<li>
			<a class="link-effect" href="">Breadcrumb Child</a>
		</li>
	</ul> -->

	<!-- END Page Header -->
	<!-- Page Content -->
	<div class="content">
		<div class="element-wrapper">
			<h4 class="element-header">Patient Profile</h4>
		</div>
		<div class="alert alert-success alert-white rounded" ng-show="sucMsg" id="successId" style="display:none">
			<button type="button" ng-click="hideAlert()" class="close">×</button>
			<div class="icon">
				<i class="fa fa-check"></i>
			</div>
			{{successMsg}}
		</div>
		<div class="alert alert-danger alert-white rounded" ng-show="errMsg" id="errId" style="display:none">
			<button type="button" ng-click="hideAlert()" class="close">×</button>
			<div class="icon">
				<i class="fa fa-close"></i>
			</div>
			{{errorMsg}}
		</div>
		<div class="row">
			<div class="col-lg-12 col-md-12">
				<div class="block block-white">
					<div class="box light-blue">
						<div class="row">
							<div class="col-xs-12 col-md-3 patient-bio patient-mobile-row">
								<div class="patient_img">
									<img src="assets/img/avatars/image.png" alt="">
								</div>
								<div class="details">
									<div class="patient-name">{{patient.fName}} {{patient.mName}} {{patient.lName}}</div>
									<div class="jobloc">{{patient.gender}}<span ng-if="patient.age">,&nbsp;{{patient.age}}&nbsp;Years</span></div>
									<div class="jobloc">{{patient.opCode}}</div>
								</div>
							</div>
							<div class="col-xs-12 col-md-6">
								<div class="row">
									<div class="col-xs-12 col-md-12 bordered patient-mobile-row">
										<div class="row">
											<div class="col-xs-6 col-sm-6 col-md-3">
												<div class="info-stats4">
													<div class="icon-type pull-left">
														<img src="assets/img/icon-height.png" alt="">
													</div>
													<div class="sale-num" ng-show="feet && inches">
														<h4>{{feet}}'{{inches}}''</h4>
														<p>Height</p>
													</div>
													<div class="sale-num" ng-hide="feet && inches">
														<p>Height</p>
													</div>
												</div>
											</div>
											<div class="col-xs-6 col-sm-6 col-md-3">
												<div class="info-stats4">
													<div class="icon-type pull-left">
														<img src="assets/img/icon-scale.png" alt="">
													</div>
													<div class="sale-num" ng-show="basicVitals.Weight">
														<h4>{{basicVitals.Weight}} kg</h4>
														<p>Weight</p>
													</div>
													<div class="sale-num" ng-hide="basicVitals.Weight">
														<p>Weight</p>
													</div>
												</div>
											</div>
											<div class="col-xs-6 col-sm-6 col-md-3">
												<div class="info-stats4">
													<div class="icon-type pull-left">
														<img src="assets/img/icon-tag.png" alt="">
													</div>
													<div class="sale-num" ng-show="basicVitals.BMI">
														<h4>{{basicVitals.BMI}}</h4>
														<span ng-if="BMIResult == 'Normal'">
															<p style="color: green;">{{BMIResult}}</p>
														</span>
														<span ng-if="BMIResult == 'Overweight'">
															<p style="color: blue;">{{BMIResult}}</p>
														</span>
														<span ng-if="BMIResult == 'Obese'">
															<p style="color: red;">{{BMIResult}}</p>
														</span>
														<p>BMI</p>
													</div>
													<div class="sale-num" ng-hide="basicVitals.BMI">
														<p>BMI</p>
													</div>
												</div>
											</div>
											<div class="col-xs-6 col-sm-6 col-md-3">
												<div class="info-stats4">
													<div class="icon-type pull-left">
														<img src="assets/img/icon-blood.png" alt="">
													</div>
													<div class="sale-num" ng-show="patient.BloodType">
														<h4>{{patient.BloodType}}<sup>{{patient.BloodTypeVariant}}</sup></h4>
														<p>Blood Group</p>
													</div>
													<div class="sale-num" ng-hide="patient.BloodType">
														<p>Blood Group</p>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-3">
								<div class="jobloc last-visit">
									<i class="icon-calendar2"></i>
									<span>Last Login: {{subscriptionInfo.lastLogin}}</span>
								</div>
								<div class="jobloc">
									<i class="icon-phone2"></i>
									<span>{{patient.mobileNo}}</span>
								</div>
								<div class="jobloc">
									<i class="icon-envelop3"></i>
									<span>{{patient.email}}</span>
								</div>
								<div class="jobloc">
									<i class="icon-location3"></i>
									<span>{{patient.addressLine1}},{{patient.addressLine2}}</span>
								</div>
							</div>
						</div>
					</div>
					<!-- ui-sref="patientProfile.prescription({id:op,f:true})" -->
					<ul class="nav nav-atabs">
						<li class="active">
							<a href="javascript:void(0)" data-target="#tab-vitals" data-toggle="tab" ng-click="Vitals();showToggle()">Vitals</a>
						</li>
						<li>
							<a href="javascript:void(0)" data-target="#tab-allergies" ng-click="hideToggle()" data-toggle="tab">Allergies</a>
						</li>
						<li>
							<a href="javascript:void(0)" data-target="#tab-consultation" ng-click="hideToggle()" data-toggle="tab">Consultation Notes</a>
						</li>
						<li>
							<a href="javascript:void(0)" data-target="#tab-tests" data-toggle="tab" ng-click="loadLabTestTab();showToggle()">Lab Tests</a>
						</li>
						<li>
							<a href="javascript:void(0)" data-target="#tab-radiology" ng-click="hideToggle()" data-toggle="tab">Radiology</a>
						</li>
						<li>
							<a href="javascript:void(0)" data-target="#tab-prescriptions" data-toggle="tab" ng-click="callMedDates();hideToggle()">Prescriptions</a>
						</li>
						<li class="pull-right" ng-if="showToggleButton">
							<div class="onoffswitch push-10-t push-15-r">
								<input type="checkbox" ng-click="changeViewMode()" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch">
								<label class="onoffswitch-label" for="myonoffswitch">
									<span class="onoffswitch-inner"></span>
									<span class="onoffswitch-switch"></span>
								</label>
							</div>
						</li>
					</ul>
					<div class="tab-content" id="tabs">
						<dir-view-vitals> </dir-view-vitals>
						<dir-view-allergies> </dir-view-allergies>
						<dir-view-consultancy></dir-view-consultancy>
						<dir-view-results> </dir-view-results>
						<dir-view-radiology></dir-view-radiology>
						<dir-add-prescription> </dir-add-prescription>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>