<div class="content">
    <div class="element-wrapper">
        <h4 class="element-header">Booked Appointments</h4>
    </div>
    <div class="alert alert-success alert-white rounded" ng-show="sucMsg" id="successId" style="display:none">
        <button type="button" ng-click="hideAlert()" class="close">×</button>
        <div class="icon">
            <i class="fa fa-check"></i>
        </div>
        {{successMsg}}
    </div>
    <div class="alert alert-danger alert-white rounded" ng-show="errMsg" id="errId" style="display:none">
        <button type="button" ng-click="hideAlert()" class="close">×</button>
        <div class="icon">
            <i class="fa fa-close"></i>
        </div>
        {{errorMsg}}
    </div>
    <div class="block remove-margin-b">
        <div class="box">
            <div class="row element-wrapper">
                <div class="col-sm-3"> </div>
                <div class="col-sm-4 pull-right">
                    <div class="element-search">
                        <input limit-to="25" placeholder="Type OP-Code or Booking Id" ng-model="searchText" type="text">
                    </div>
                </div>
            </div>
        </div>
        <table class="table table-striped table-hover standard-table">
            <thead>
                <tr>
                    <th>Booking ID</th>
                    <th>OP-Code</th>
                    <th>Mobile Number</th>
                    <th>City</th>
                    <th>Department</th>
                    <th>Doctor</th>
                    <th>Appointment Date</th>
                    <th>Appointment Time</th>
                    <th>Appointment Status</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="app in bookedAppointments | filter:searchText">
                    <td data-title="Booking ID">{{app.app_id}}</td>
                    <td data-title="OP-Code">{{app.patient.opCode}}</td>
                    <td data-title="Mobile Number">{{app.patient.mobileNo}}</td>
                    <td data-title="City">{{app.patient.city}}</td>
                    <td data-title="Department Name">{{app.department.name}}</td>
                    <td data-title="Doctor">Dr.&nbsp;{{app.doctor.docName}}&nbsp;{{app.doctor.docMiddleName}}&nbsp;{{app.doctor.docLastName}}</td>
                    <td data-title="Appointment Date">{{app.appDate}}</td>
                    <td data-title="Appointment Time">{{app.appTime}}</td>
                    <td data-title="Appointment Status" ng-hide="app.appStatus == 'Reschduled'">{{app.appStatus}}</td>
                    <td data-title="Appointment Status" ng-show="app.appStatus == 'Reschduled'">{{app.reschduleInfo}}</td>
                    <td data-title="Actions" ng-hide="app.appStatus == 'Cancelled' || app.appStatus == 'Reschduled' || app.pastAppointment == 'true'">
                        <a class="btn btn-default btn-xs push-5-r " ng-click="reschduleAppointment(app)" data-toggle="modal"><i
                                class="icon-pencil "></i>
                            Re-schedule </a>
                        <a class="btn btn-default btn-xs" ng-click="cancelAppointment(app)" data-toggle="modal"><i class="icon-cross2"></i>
                            Cancel </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div id="cancelModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Cancel Appointment</h4>
            </div>
            <div class="modal-body">
                Are you sure you want to cancel ?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" ng-click="cancelAppointmentSure()" data-dismiss="modal">YES</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">NO</button>
            </div>
        </div>
    </div>
</div>