<!-- Page Header -->

<!-- <ul class="breadcrumb">
  <li>Breadcrumb Home</li>
  <li>Breadcrumb Parent</li>
  <li><a class="link-effect" href="">Breadcrumb Child</a></li>
</ul> -->

<!-- END Page Header -->
<!-- Page Content -->
<div class="content">
  <div class="element-wrapper">
    <h4 class="element-header">Book Appointment</h4>
  </div>
  <div class="alert alert-success alert-white rounded" ng-show="sucMsg" id="successId" style="display:none">
    <button type="button" ng-click="hideAlert()" class="close">×</button>
    <div class="icon">
      <i class="fa fa-check"></i>
    </div>
    {{successMsg}}
  </div>
  <div class="alert alert-danger alert-white rounded" ng-show="errMsg" id="errId" style="display:none">
    <button type="button" ng-click="hideAlert()" class="close">×</button>
    <div class="icon">
      <i class="fa fa-close"></i>
    </div>
    {{errorMsg}}
  </div>
  <div class="row">
    <div class="col-lg-6">
      <div class="block block-white">
        <div class="block-content">
          <div class="form-group">
            <ui-select id="department" ng-model="app.department" ng-change="loadDeptDoctors(app)">
              <ui-select-match data-placeholder="Please Select Department">{{$select.selected.name}}</ui-select-match>
              <ui-select-choices repeat="item in departmentList | filter: $select.search">
                <div ng-bind="item.name"></div>
              </ui-select-choices>
            </ui-select>
          </div>
          <div class="form-group">
            <ui-select id="doctor" ng-model="app.doctor" ng-change="getCalender(app.doctor)">
              <ui-select-match data-placeholder="Please Select Doctor">Dr.&nbsp;{{$select.selected.docName}}&nbsp;{{$select.selected.docMiddleName}}&nbsp;{{$select.selected.docLastName}}&nbsp;({{$select.selected.docId}})</ui-select-match>
              <ui-select-choices repeat="item in doctorList | filter: $select.search">
                <div>Dr.&nbsp;{{item.docName}}&nbsp;{{item.docMiddleName}}&nbsp;{{item.docLastName}}&nbsp;({{item.docId}})</div>
              </ui-select-choices>
            </ui-select>
          </div>
          <div ng-if="Auth && (Auth.hasResourceRole('coord')) || Auth && (Auth.hasResourceRole('doctor'))" class="form-group">
            <ui-select id="patient" ng-model="app.subscription" ng-change="hideAlert()">
              <ui-select-match data-placeholder="Please Enter Patient OP-Code">{{$select.selected.patient.fName}}&nbsp;{{$select.selected.patient.mName}}&nbsp;{{$select.selected.patient.lName}}&nbsp;({{$select.selected.patient.opCode}})</ui-select-match>
              <ui-select-choices repeat="item in patientList | filter: $select.search" minimum-input-length="3" refresh="loadPatient($select.search)"
                refresh-delay="0">
                <div>{{item.patient.fName}}&nbsp;{{item.patient.mName}}&nbsp;{{item.patient.lName}} (&nbsp;{{item.patient.opCode}}&nbsp;)</div>
              </ui-select-choices>
            </ui-select>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-6" ng-if="app.doctor">
      <div class="block">
        <ul class="view-all-notifications">
          <li class="text-uppercase"> Dr.&nbsp;{{app.doctor.docName}}&nbsp;{{app.doctor.docMiddleName}}&nbsp;
            {{app.doctor.docLastName}}</li>
          <li> Specialization:&nbsp;{{app.doctor.qualification}}</li>
          <li> Consulting Fees:&nbsp;Rs.&nbsp;{{app.doctor.fee}} (PAYABLE AT HOSPITAL)</li>
        </ul>
      </div>
    </div>
  </div>
  <!-- <div class="row" ng-hide="app.doctor">
    <div class="col-lg-12">
      <div class="">
        <div class="book-calendar-grid block">
          <div class="book-calendar">
            <div id="dummyCalender"></div>
          </div>
        </div>
      </div>
    </div>
  </div> -->
  <div class="row" ng-show="app.doctor">
    <div class="col-lg-12">
      <div class="">
        <div class="book-calendar-grid block">
          <div class="book-calendar">
            <div id="calendar"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Modal -->
<div id="confirmAppointment" class="modal fade book-an-appointment" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Book an Appointment</h4>
      </div>
      <div class="modal-body">
        <p>Please review and confirm that you would like to request the following appointment:</p>

        <div class="row">
          <div class="col-lg-6"> <i class="fa fa-calendar datetime push-5-r"></i> {{dateChosen}}</div>
          <div class="col-lg-6"> <i class="fa fa-clock-o datetime push-5-r"></i> {{slotChosen}} </div>
        </div>
        <div class="row push-20-t">
          <div class="col-lg-12">
            <h4>DR.&nbsp;{{app.doctor.docName}}&nbsp;{{app.doctor.docMiddleName}}&nbsp;{{app.doctor.docLastName}}</h4>
          </div>
        </div>

        <div class="row push-20-t">
          <div class="col-lg-12">
            <h4>Fees: Rs. {{app.doctor.fee}}&nbsp;(PAYABLE AT HOSPITAL)</h4>
          </div>
        </div>
      </div>
      <div class="modal-footer"> <a class="btn btn-success btn-xsmall pull-right confirm-appointment" href="javascript:void(0)"
          data-dismiss="modal" aria-label="Close" ng-click="bookAppointmentOn()">confirm</a>
      </div>
    </div>
  </div>
</div>
<!-- Modal -->