<!-- Page Header -->

<!-- <ul class="breadcrumb">
  <li>Breadcrumb Home</li>
  <li>Breadcrumb Parent</li>
  <li><a class="link-effect" href="">Breadcrumb Child</a></li>
</ul> -->

<!-- END Page Header -->
<!-- Page Content -->
<div class="content">
    <div class="element-wrapper">
        <h4 class="element-header">Reschedule Appointment</h4>
    </div>
    <div class="alert alert-success alert-white rounded" ng-show="sucMsg" id="successId" style="display:none">
        <button type="button" ng-click="hideAlert()" class="close">×</button>
        <div class="icon">
            <i class="fa fa-check"></i>
        </div>
        {{successMsg}}
    </div>
    <div class="alert alert-danger alert-white rounded" ng-show="errMsg" id="errId" style="display:none">
        <button type="button" ng-click="hideAlert()" class="close">×</button>
        <div class="icon">
            <i class="fa fa-close"></i>
        </div>
        {{errorMsg}}
    </div>
    <div class="row" ng-show="app.doctor">
        <div class="col-lg-12">
            <div class="">
                <div class="book-calendar-grid block">
                    <div class="book-calendar">
                        <div id="calendar"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal -->
<div id="confirmAppointment" class="modal fade book-an-appointment" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Reschedule Appointment</h4>
            </div>
            <div class="modal-body">
                <p>Your appointment with
                    Dr.&nbsp;{{app.doctor.docName}}&nbsp;{{app.doctor.docMiddleName}}&nbsp;{{app.doctor.docLastName}}
                    on {{app.appDate}} at {{app.appTime}} will be re-scheduled as below.</p>

                <div class="row">
                    <div class="col-lg-6"> <i class="fa fa-calendar datetime push-5-r"></i> {{dateChosen}}</div>
                    <div class="col-lg-6"> <i class="fa fa-clock-o datetime push-5-r"></i> {{slotChosen}} </div>
                </div>
                <div class="row push-20-t">
                    <div class="col-lg-12">
                        <h4>DR.&nbsp;{{app.doctor.docName}}&nbsp;{{app.doctor.docMiddleName}}&nbsp;{{app.doctor.docLastName}}&nbsp;{{app.doctor.qualification}}</h4>
                    </div>
                </div>
                <div class="row push-20-t">
                    <div class="col-lg-12">
                        <h4>Fees: Rs. {{app.doctor.fee}}&nbsp;(PAYABLE AT HOSPITAL)</h4>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <h6 class="pull-left">Are you sure ?</h6>
                <a class="btn btn-success btn-xsmall pull-right confirm-appointment" href="javascript:void(0)"
                    data-dismiss="modal" aria-label="Close" ng-click="bookAppointmentOn()">confirm</a>
            </div>
        </div>
    </div>
</div>
<!-- Modal -->