<!-- Page Header -->

<!-- <ul class="breadcrumb">
  <li>Breadcrumb Home</li>
  <li>Breadcrumb Parent</li>
  <li>
    <a class="link-effect" href="">Breadcrumb Child</a>
  </li>
</ul> -->

<!-- END Page Header -->
<!-- Page Content -->
<div class="content">
  <div class="element-wrapper">
    <h4 class="element-header">{{loggedInRole}} Dashboard</h4>
  </div>
  <dir-patients-list></dir-patients-list>
</div>
</div>