<div>
	<div class="row">
		<div class="col-lg-4">
			<div class="row">
				<div class="col-lg-12 col-md-6">
					<div class="block block-white">
						<div class="box">
							<h3 class="box-title">
								<small class="pull-right m-t-10 changed-up">
									<span class="changed-icon">
										<i class="icon-arrow-up5"></i>
									</span>
									<!-- <span class="changed-value">{{prec_sub_percent}}% {{status}} than last month</span> -->
									<span class="changed-value">{{regPercentage}}</span>
								</small> Registered Patients</h3>
							<div class="stats-row">
								<div class="stat-item">
									<h6>Total</h6>
									<a ng-click="getTotalPatientsInfo()" data-toggle="modal"><strong>{{regDates.total}}</strong></a>
								</div>
								<div class="stat-item">
									<h6>Month</h6>
									<a ng-click="getMonthPatientsInfo()" data-toggle="modal"><strong>{{regDates.month}}</strong></a>
								</div>
								<div class="stat-item">
									<h6>Week</h6>
									<a ng-click="getWeekPatientsInfo()" data-toggle="modal"><strong>{{regDates.week}}</strong></a>
								</div>
							</div>
						</div>
						<div zingchart id="subscribedChart" zc-json="subscribedJson" zc-width="100%" zc-height="90"></div>
					</div>
				</div>
				<div class="col-lg-12 col-md-6">
					<div class="block block-white">
						<div class="box">
							<h3 class="box-title">
								<small class="pull-right m-t-10 changed-up">
									<span class="changed-icon">
										<i class="icon-arrow-up5"></i>
									</span>
									<span class="changed-value">{{actPercentage}}</span>
								</small> Active Patients</h3>
							<div class="stats-row">
								<div class="stat-item">
									<h6>Month</h6>
									<a ng-click="getMonthActivePatientsInfo()" data-toggle="modal"><strong>{{actDates.month}}</strong></a>
								</div>
								<div class="stat-item">
									<h6>Week</h6>
									<a ng-click="getWeekActivePatientsInfo()" data-toggle="modal"><strong>{{actDates.week}}</strong></a>
								</div>
							</div>
						</div>
						<div zingchart id="activeChart" zc-json="activeJson" zc-width="100%" zc-height="90"></div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="row">
				<div class="col-lg-12 col-md-12">
					<div class="block block-white">
						<div class="box">
							<h3 class="box-title remove-margin-b">Upcoming Appointments</h3>
						</div>
						<ul class="nav nav-atabs nav-tabs-justified">
							<li class="active"><a href="#home-21" data-toggle="tab">Today <span class="badge badge-gray push-5-l">{{todayAppointments.length}}</span></a></li>
							<li><a href="#profile-21" data-toggle="tab">Tomorrow <span class="badge badge-gray push-5-l">{{tomorrowAppointments.length}}</span></a></li>
							<li><a href="#dropdown-21" data-toggle="tab">This Week <span class="badge badge-gray push-5-l">{{weekAppointments.length}}</span></a></li>
						</ul>
						<div class="tab-content" data-js-slimscroll="{alwaysVisible: true, height: '334px'}">
							<div class="tab-pane fade active in" id="home-21">
								<div ng-repeat="pat in todayAppointments" class="users-list-w">
									<div class="user-w with-status status-green">
										<!-- <div class="user-avatar-w">
											<div class="user-avatar"><img alt="" src="assets/img/avatars/avatar7.jpg"></div>
										</div> -->
										<div ui-sref="patientProfile({id:pat.patient.opCode})" class="user-name">
											<h6 class="user-title">{{pat.patient.fName}} {{pat.patient.mName}} {{pat.patient.lName}}&nbsp;<span><a class="user-role">({{pat.patient.opCode}})</a></span></h6>
											<p><span ng-if="Auth && (Auth.hasResourceRole('coord'))">Dr.&nbsp;{{pat.doctor.docName}}&nbsp;{{pat.doctor.docMiddleName}}&nbsp;{{pat.doctor.docLastName}}</span><span ng-if="Auth && (Auth.hasResourceRole('doctor'))">Appointemnt</span>&nbsp;&nbsp;at&nbsp;&nbsp;<strong>{{pat.appTime}}</strong></p>
										</div>
										<div class="user-action">
											<a ng-click="sendPrivateMessage(pat.patient)"><i class="os-icon os-icon-email-forward"></i></a>
										</div>
									</div>
								</div>
							</div>
							<div class="tab-pane fade" id="profile-21">
								<div ng-repeat="pat in tomorrowAppointments" class="users-list-w">
									<div class="user-w with-status status-green">
										<!-- <div class="user-avatar-w">
											<div class="user-avatar"><img alt="" src="assets/img/avatars/avatar7.jpg"></div>
										</div> -->
										<div ui-sref="patientProfile({id:pat.patient.opCode})" class="user-name">
												<h6 class="user-title">{{pat.patient.fName}} {{pat.patient.mName}} {{pat.patient.lName}}&nbsp;<span><a class="user-role">({{pat.patient.opCode}})</a></span></h6>
												<p><span ng-if="Auth && (Auth.hasResourceRole('coord'))">Dr.&nbsp;{{pat.doctor.docName}}&nbsp;{{pat.doctor.docMiddleName}}&nbsp;{{pat.doctor.docLastName}}</span><span ng-if="Auth && (Auth.hasResourceRole('doctor'))">Appointemnt</span>&nbsp;&nbsp;at&nbsp;&nbsp;<strong>{{pat.appTime}}</strong></p>
											</div>
											<div class="user-action">
												<a ng-click="sendPrivateMessage(pat.patient)"><i class="os-icon os-icon-email-forward"></i></a>
											</div>
									</div>
								</div>
							</div>
							<div class="tab-pane fade" id="dropdown-21">
								<div ng-repeat="pat in weekAppointments" class="users-list-w">
									<div class="user-w with-status status-green">
										<!-- <div class="user-avatar-w">
											<div class="user-avatar"><img alt="" src="assets/img/avatars/avatar7.jpg"></div>
										</div> -->
										<div ui-sref="patientProfile({id:pat.patient.opCode})" class="user-name">
											<h6 class="user-title">{{pat.patient.fName}} {{pat.patient.mName}} {{pat.patient.lName}}&nbsp;<span><a class="user-role">({{pat.patient.opCode}})</a></span></h6>
											<span ng-if="Auth && (Auth.hasResourceRole('coord'))">Dr.&nbsp;{{pat.doctor.docName}}&nbsp;{{pat.doctor.docMiddleName}}&nbsp;{{pat.doctor.docLastName}}</span>
											<span ng-if="pat.appDate"><strong>On&nbsp;{{pat.appDate}}&nbsp;at&nbsp;{{pat.appTime}}</strong></span>
										</div>
										<div class="user-action">
											<a ng-click="sendPrivateMessage(pat.patient)"><i class="os-icon os-icon-email-forward"></i></a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="block block-white">
				<div class="box">
					<h3 class="box-title">Messages</h3>
				</div>
				<div class="block-content1" data-js-slimscroll="{alwaysVisible: true, height: '382px'}">
					<div class="news-feed" ng-repeat="msg in viewMessages">
						<div class="news-body"><a data-ui-sref="viewMessage({id:msg._id.$oid,from:1})" data-ui-sref-active="active">
								<div class="news-content">
									<span class="time pull-right">{{msg.timeOfSent}}</span>
									<h5 class="h5-messages">
										<span ng-if="msg.senderOfMessage.name">{{msg.senderOfMessage.name}}({{msg.senderOfMessage.id}})</span>
										<span ng-if="msg.senderOfMessage.docName">{{msg.senderOfMessage.docName}}({{msg.senderOfMessage.docId}})</span>
										<span ng-if="msg.senderOfMessage == 'Marketing Department'">Marketing Department</span><br><br>
										<div>{{msg.messageTitle}}</div>
									</h5>
									<span class="news-desc" ng-bind-html="msg.summerNotes | limitTo: 350"></span>
								</div>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row element-wrapper ">
		<div class="col-sm-12">
			<div class="block">
				<div class="box">
					<div class="row">
						<div class="col-sm-8">
							<h3 class="box-title push-5-t">Patients List</h3>
						</div>
						<div class="col-sm-4">
							<div class="element-search">
								<input placeholder="Type Patient's OPCode or Name" ng-change="searchPatient(searchText)" ng-model="searchText"
								 type="text">
							</div>
						</div>
						<!-- <div class="col-lg-3">
							<div class="input-group">
								<input type="text" class="form-control" ng-change="makeSearch(searchText.length)" ng-model="searchText" placeholder="Enter OP Code">
								<span class="input-group-btn">
									<button class="btn btn-default" ng-click="searchPatient(searchText)" type="button">Go!</button>
								</span>
							</div>
						</div> -->
					</div>
				</div>
				<table class="table table-striped table-hover standard-table js-dataTable-full">
					<thead>
						<tr>
							<th>Patient OP Code</th>
							<th>Patient Name</th>
							<th>Doctor Name</th>
							<th>Mobile Number</th>
							<th>Prescription Status</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-if="values.length != 0" ng-repeat="val in values| filter:searchText">
							<td data-title="OP Code">{{val.patient.opCode}}</td>
							<td data-title="Patient Name">
								<a ui-sref="patientProfile({id:val.patient.opCode})">{{val.patient.fName}} {{val.patient.mName}}
									{{val.patient.lName}}</a>
							</td>
							<td data-title="Doctor Name">
								<span ng-repeat="doc in val.doctors">
									Dr.&nbsp;&nbsp;{{doc.docName}} {{doc.docMiddleName}} {{doc.docLastName}}<span ng-hide='$last'>,</span>
								</span>
							</td>
							<td data-title="Mobile Number">{{val.patient.mobileNo}}</td>
							<td data-title="Status">{{val.patient.statusOfPrescription}}</td>
						</tr>
						<tr ng-if="values.length == 0">
							<td colspan="5" align="center">No Patient Found</td>
						</tr>
						<tr ng-show="loader">
							<td colspan="5" align="center"> <i class="fa fa-refresh fa-spin fa-1x"></i> Loading... </td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="btn-group table-pagination push-30 pull-right">
				<button type="button" ng-show="pagesNeeded.length > 1 && pageIn != 1" class="btn btn-white" ng-click="getActivePatientsList((pageIn-2) * 10,pageIn-1)"><i
					 class="fa fa-chevron-left"></i></button>
				<button class="btn btn-white" ng-repeat="page in pagesNeeded track by $index" ng-class="{'active' : page == pageIn}" ng-click="getActivePatientsList((page-1) * 10,page)">{{page}}</button>
				<button type="button" ng-show="pagesNeeded.length > 1 && pageIn != pagesNeeded.length" class="btn btn-white" ng-click="getActivePatientsList(pageIn * 10,pageIn+1)"><i
					 class="fa fa-chevron-right"></i>
				</button>
			</div>
			<div class="clearfix"></div>
		</div>
	</div>
	<div id="showTotalPatientTrendsInfoModal" class="modal fade">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h4 class="modal-title">Total Registered Patients</h4>
				</div>
				<div class="modal-body" data-js-slimscroll="{alwaysVisible: true, height: '334px'}">
					<table class="table table-striped table-hover standard-table font-s14 js-dataTable-full">
						<thead>
							<tr>
								<th>S No.</th>
								<th rowspan="2">OP Code</th>
								<th rowspan="2">Name</th>
								<th rowspan="2">Registered Date</th>
								<th rowspan="2">Last Login</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="pat in totalRegisteredPatients">
								<td data-title='S No.'>{{$index + 1}}</td>
								<td data-title="OP Code">{{pat.patient.opCode}}</td>
								<td data-title="Name"><a ng-click="goToPatientProfile(pat.patient.opCode,'#showTotalPatientTrendsInfoModal')">{{pat.patient.fName}} {{pat.patient.mName}}
										{{pat.patient.lName}}</a>
								</td>
								<td data-title="Registered Date">{{pat.joinDate}}</td>
								<td data-title="Last Login">{{pat.lastLogin}}</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
	<div id="showMonthPatientTrendsInfoModal" class="modal fade">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h4 class="modal-title">Current Month Registered Patients</h4>
				</div>
				<div class="modal-body" data-js-slimscroll="{alwaysVisible: true, height: '334px'}">
					<table class="table table-striped table-hover standard-table font-s14 js-dataTable-full">
						<thead>
							<tr>
								<th>S No.</th>
								<th rowspan="2">OP Code</th>
								<th rowspan="2">Name</th>
								<th rowspan="2">Registered Date</th>
								<th rowspan="2">Last Login</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="pat in monthRegisteredPatients">
								<td data-title='S No.'>{{$index + 1}}</td>
								<td data-title="OP Code">{{pat.patient.opCode}}</td>
								<td data-title="Name"><a ng-click="goToPatientProfile(pat.patient.opCode,'#showMonthPatientTrendsInfoModal')">{{pat.patient.fName}} {{pat.patient.mName}}
										{{pat.patient.lName}}</a>
								</td>
								<td data-title="Registered Date">{{pat.joinDate}}</td>
								<td data-title="Last Login">{{pat.lastLogin}}</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
	<div id="showWeekPatientTrendsInfoModal" class="modal fade">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h4 class="modal-title">Current Week Registered Patients</h4>
				</div>
				<div class="modal-body" data-js-slimscroll="{alwaysVisible: true, height: '334px'}">
					<table class="table table-striped table-hover standard-table font-s14 js-dataTable-full">
						<thead>
							<tr>
								<th>S No.</th>
								<th rowspan="2">OP Code</th>
								<th rowspan="2">Name</th>
								<th rowspan="2">Registered Date</th>
								<th rowspan="2">Last Login</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="pat in weekRegisteredPatients">
								<td data-title='S No.'>{{$index + 1}}</td>
								<td data-title="OP Code">{{pat.patient.opCode}}</td>
								<td data-title="Name"><a ng-click="goToPatientProfile(pat.patient.opCode,'#showWeekPatientTrendsInfoModal')">{{pat.patient.fName}} {{pat.patient.mName}}
										{{pat.patient.lName}}</a>
								</td>
								<td data-title="Registered Date">{{pat.joinDate}}</td>
								<td data-title="Last Login">{{pat.lastLogin}}</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
	<div id="showMonthActivePatientModal" class="modal fade">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h4 class="modal-title">Current Month Active Patients</h4>
				</div>
				<div class="modal-body" data-js-slimscroll="{alwaysVisible: true, height: '334px'}">
					<table class="table table-striped table-hover standard-table font-s14 js-dataTable-full">
						<thead>
							<tr>
								<th>S No.</th>
								<th rowspan="2">OP Code</th>
								<th rowspan="2">Name</th>
								<th rowspan="2">Registered Date</th>
								<th rowspan="2">Last Login</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="pat in monthActivePatients">
								<td data-title="S No.">{{$index + 1}}</td>
								<td data-title="OP Code">{{pat.patient.opCode}}</td>
								<td data-title="Name"><a ng-click="goToPatientProfile(pat.patient.opCode,'#showMonthActivePatientModal')">{{pat.patient.fName}} {{pat.patient.mName}}
										{{pat.patient.lName}}</a>
								</td>
								<td data-title="Registered Date">{{pat.joinDate}}</td>
								<td data-title="Last Login">{{pat.lastLogin}}</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
	<div id="showWeekActivePatientModal" class="modal fade">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h4 class="modal-title">Current Week Active Patients</h4>
				</div>
				<div class="modal-body" data-js-slimscroll="{alwaysVisible: true, height: '334px'}">
					<table class="table table-striped table-hover standard-table font-s14 js-dataTable-full">
						<thead>
							<tr>
								<th>S No.</th>
								<th rowspan="2">OP Code</th>
								<th rowspan="2">Name</th>
								<th rowspan="2">Registered Date</th>
								<th rowspan="2">Last Login</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="pat in weekActivePatients">
								<td data-title='S No.'>{{$index + 1}}</td>
								<td data-title="OP Code">{{pat.patient.opCode}}</td>
								<td data-title="Name"><a ng-click="goToPatientProfile(pat.patient.opCode,'#showWeekActivePatientModal')">{{pat.patient.fName}} {{pat.patient.mName}}
										{{pat.patient.lName}}</a>
								</td>
								<td data-title="Registered Date">{{pat.joinDate}}</td>
								<td data-title="Last Login">{{pat.lastLogin}}</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>